[2019-01-15 21:33] Unknown6656 commented on #214
Thank you, I do not get any exceptions anymore .... however, the exclusivity-issue concerning IPv4 and IPv6 still remains. By this I mean that I am only able to use *either* IPv4 or IPv6 -- but not both at the same time.

[2019-01-16 16:40] #202 closed

[2019-01-16 16:41] geoperez commented on #230
EmbedIO 2.2.0 was released yesterday. Let me know if I can close this issue.

[2019-01-16 20:46] pablonardone opened #231 "Migration issues"
I have some problems migrating embedio library from version 1.16.1 to version 2.2.0.

I'm working in NET Framework 4.7.2 and before (with the version 1.16.1) in the "WebSocketsServer.OnClientConnected" event the "context" parameter was of type "System.Net.WebSockets.WebSocketContext" but now is of type "Unosquare.Labs.EmbedIO.IWebSocketContext".

Before with "context.WebSocket" it was posible acce

[2019-01-16 21:00] geoperez commented on #231
Hello,

EmbedIO 2.0 introduced a new abstraction level between the HttpListener and the WebServer. New interfaces were created in order to access common functionality in EmbedIO own classes and System.Net. Previous to this change, the only way to choose Microsoft HttpListener and Unosquare HttpListener were via the target framework. Now it's possible to switch between them (as long the target fram

[2019-01-16 22:03] pablonardone commented on #231
I needed to initialize the web server with the mode "HttpListenerMode.Microsoft".
Thank you very much.

[2019-01-16 22:03] geoperez commented on #231
Can I close this issue now?

[2019-01-16 22:04] pablonardone commented on #231
Yes, thanks.

[2019-01-16 22:04] #231 closed

[2019-01-16 22:05] geoperez commented on #219
Sample doc:

[2019-01-17 16:02] nddipiazza commented on #219
Great!

[2019-01-17 16:31] Brun0oO opened #232 "Blank screen running the EmbedIO.Forms.Sample.iOS project"
**Describe the bug**
Launch the EmbedIO.Forms.Sample.iOS example and getting a blank screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the latest release from Github repo
2. Open the solution file _EmbedIO.Forms.Sample.sln_ with Visual Studio Community
3. Copy the _html_ folder inside the (iOS) _Resources_ folder
4. Select and build  _EmbedIO.Forms.Sample.iOS_ project
5. Run t

[2019-01-18 10:38] Unknown6656 opened #233 "Feature Request: Support Data Compression"
I was wondering whether it is possible to implement HTTP data compression into the EmbedIO project (refer to https://en.wikipedia.org/wiki/HTTP_compression). This would be done by setting the appropriate header field (`content-encoding`) and compressing the binary data response stream.

[2019-01-18 13:49] geoperez commented on #233
We support GZip in the file modules by default, and the new BinaryResponseAsync methods too.

Let me know if you need help to use it.

[2019-01-18 16:05] Unknown6656 commented on #233
I was wondering whether GZip-Compression is also available for the `WebApiController`-Module, and how to activate it if is available.

[2019-01-18 16:12] geoperez commented on #233
The JSON response extension methods don't compress by we may include a new
method for that. Are you using this one?

On Fri, Jan 18, 2019 at 10:05 AM Unknown6656 <notifications@github.com>
wrote:

--
Geo Pérez

[2019-01-18 17:18] Unknown6656 commented on #233
I am using `JsonResponseAsync` and sometimes `HtmlResponseAsync`, however I wrapped them into `BinaryResponseAsync` with the appropriate content type headers for the time being.

[2019-01-18 17:21] geoperez commented on #233
You can create an extension method for wrapping those methods, and if you wish you can contribute with a PR.

[2019-01-18 20:32] Unknown6656 commented on #233
OK I will do a PR

[2019-01-18 20:51] geoperez commented on #232
Sorry, but I don't have a Mac for testing. Let me know if you find a solution.

Thank you!

[2019-01-22 20:18] #217 closed

[2019-01-22 21:12] geoperez commented on #233
I just release EmbedIO 2.2.1 with your changes. Thank you.

[2019-01-22 21:12] #233 closed

[2019-01-22 22:05] #219 closed

[2019-01-23 15:25] geoperez commented on #227
Hey @bufferUnderrun , please check the new nuget version 2.2.2 and let me know if that is working for you!

[2019-01-23 16:37] bufferUnderrun commented on #227
@geoperez after upgrading to v2.2.2, i've compil error. It seems you introduce a new `IPrincipal User` attribut in WebApiController ? I will fix these reference problem on my side but it's very interresting. Do you have a working snippet on how to use this ?

Thanks.

[2019-01-23 17:25] bufferUnderrun commented on #227
Your fix is working perfectly so you can close the issue.

I'm using EmbedIO for serving restapi/websocket services on windows 2008 server running .NET462.

In my case, the `IPrincipal User` is null but i'm finding a way to instanciate it after login and use it in all controllers.

[2019-01-23 17:31] bufferUnderrun commented on #227
Your fix is working perfectly so you can close the issue.

I'm using EmbedIO for serving restapi/websocket services on windows 2008 server running .NET462.

In my case, the `IPrincipal User` is null but i'm finding a way to instanciate it after login and use it in all controllers. With it, i could replace my ugly code that save user date in session to each controller call...

[2019-01-23 17:33] geoperez commented on #227
The Use property is WIP, you need to wait 😄

Can I close this issue?

[2019-01-23 17:41] bufferUnderrun commented on #227
You can close the issue.
Great if User property is WIP :)

I've a regression with the v2.2.2, somes requests throw exception and i've released it in prod (i am an idiot..). i think i will open a new issue.

[code]

[2019-01-23 17:45] geoperez commented on #227
What is JsonResponseAdvanced?

[2019-01-24 07:49] bufferUnderrun commented on #227
JsonResponseAdvanced is a wrapper that use json from newtonsoft instead of json from swan.

Somes features it brings are very usefull mostly custom resolver/converter via class or property attribut.

[2019-01-24 13:49] bufferUnderrun opened #237 "Critical issue in WebApi after upgrading to v2.2.1"
**Describe the bug**
After upgrading to v2.2.1 (v2.2.2 is also buggy), each request to the WebApi module throw an exception but the result is correctly return to browser.

**Last working version : 2.2.0**

**To Reproduce**
A simple snippet

[code]
An exception will be thrown by `this.JsonResponseAsync` but a response will also be return to browser

**Screenshots**

https://pasteboard.co/HXVZh8y.pn

[2019-01-24 15:16] geoperez commented on #237
What target framework did you use?

[2019-01-24 16:03] geoperez commented on #237
Please try to use new nuget version 2.2.3

[2019-01-24 16:10] bufferUnderrun commented on #237
i'm waiting for the nuget indexing...

[2019-01-25 08:04] bufferUnderrun commented on #237
Your fix is working and you can close the issue.
Thanks !!

[2019-01-25 14:13] bufferUnderrun commented on #237
Your fix lead to another critical issue... Please can you reopen the issue.

I have to downgrade to v2.2.0 and deploy in prod. I will explain in few minute.
From now, embedio does not return all data in some pages...

[2019-01-25 14:19] geoperez commented on #237
Can you elaborate the issue?

[2019-01-25 15:14] bufferUnderrun commented on #237
data is serialized by `newtonsoft.jsonnet` then this string is passed to` jsonsresponsasync()` (via context.extension) which call `stringresponseasync()` (context.extension).

i can't reproduce the issue in each request... so difficult to send you details. And wireshark listen to loopback is a nightware. Trying other thing... The issue seems to appear when thera are a certains amont of data (min 2

[2019-01-25 15:17] geoperez commented on #237
We added a Gzip capability to the string response, maybe that's why. Try to check the last optional parameter and set false.

[2019-01-28 17:24] geoperez commented on #237
Did you check the flag?

[2019-01-29 15:35] #223 closed

[2019-01-29 15:37] kadosh commented on #230
Awesome, works like a charm. Thanks

[2019-01-29 15:37] #230 closed

[2019-01-31 13:58] emazv72 opened #238 "Implement RequestBodyAsync"
Need a  non blocking way to read the body of the request from a WebApiHandler, because calling this.RequestBody() is blocking.

As a workaround I've implemented a simple extension method:

[code]

The method can be called like this:

`string body = await this.RequestBodyAsync();`

Would be nice to add the method to the APIs.

Thanks
Ema

[2019-01-31 14:31] geoperez commented on #238
I like it, I will integrate with the next release. Thank you!

[2019-01-31 14:31] #238 closed

[2019-01-31 17:40] geoperez commented on #237
I release a new version 2.2.4. I tried to reproduce the issue but it did not fail.

[2019-02-01 14:31] nkundu opened #239 "Large response exceeding Modules.FileModuleBase.ChunkSize not sent fully"
**Describe the bug**
A large response (exceeding Modules.FileModuleBase.ChunkSize) sent via the extension method JsonResponseAsync is not sent fully.

When inspecting in Wireshark I see a PSH then RST being sent before the whole response body is streamed.

I was able to fix by replacing the implementation of the extension method WriteToOutputStream with (in other words, let the framework do the co

[2019-02-01 14:32] geoperez commented on #237
Related to #239

[2019-02-01 17:39] nkundu commented on #239
Here is a sample test program that reproduces the bug.

To reproduce, you can run this and hit http://localhost:9697/bigresponse1 from Chrome or Postman.
Postman returns an error, and Chrome displays partial content and shows an error in console.

Replacing WriteToOutputStream with the code above eliminates the issue.  If you think that's an acceptable solution I can prepare a PR.

![image](https:

[2019-02-01 18:14] bufferUnderrun commented on #237
@geoperez yep, same as #239. So you can close this issue and we will continue to 239.

[2019-02-01 18:14] #237 closed

[2019-02-04 16:23] geoperez commented on #239
We released a new version, you can check nuget 2.2.5.

cc @bufferUnderrun

[2019-02-05 10:35] bufferUnderrun commented on #239
it seems to be fix for me after a some tests.
I will deploy in prod for few users.

[2019-02-06 21:05] geoperez commented on #239
@nkundu ??

[2019-02-06 21:57] nkundu commented on #239
I pulled 2.2.5 but it did not resolve the issue (using the test program from my earlier comment).  I've not had a chance to debug why, but the symptom is exactly the same.  Wireshark shows a PSH then RST.

In my local development I'm just using a different extension method, which does not exhibit the problem.

[code]

[2019-02-07 18:01] k3z0 commented on #239
Hi @nkundu

We just released a new nuget version (2.2.6), could you please give it a try and let us know is the issue is solved?

[2019-02-07 18:05] nkundu commented on #239
Hi @k3z0

Confirmed 2.2.6 if working for me!  I'll upgrade our main project to that version.  Thank you for the excellent hosting framework, it's been fast and flexible for us!

[2019-02-07 18:05] #239 closed

[2019-02-08 14:31] geoperez commented on #216
Done!

[2019-02-08 14:31] #216 closed

[2019-02-09 21:24] gavinbell opened #242 "WebSocket Receive causing stack overflow issue."
I've been getting stack overflow and out of memory exceptions when loading testing an embedio websocket.

I tracked the problem down to a Receive() local function in WebSocket.cs and it recursively calling itself.
[code]

I found that changing the Receive() function to use a while loop, for me, prevented the issue from manifesting.

[code]

[2019-02-10 13:38] geoperez commented on #242
Cool, I'm going to check and integrate it in the next release. thanks.

[2019-02-11 11:47] erossini opened #243 "EmbedIO in StaticFileModule in Android"
I'm implementing a backend for testers with `EmbedIO` ([Github](https://github.com/unosquare/embedio "Github") here). It is working beautifully with `iOS`. But in `Android` I can't find a solution.

In `iOS` I create this dependency from the Xamarin project:

    public class WebServer : Interfaces.IWebServer
    {
        public IWebModule CreateWebModule()
        {
            return new Unosqu

[2019-02-11 14:25] geoperez commented on #243
I'm not familiar with mobile development, but maybe you can try the [ResourceFilesModule](https://unosquare.github.io/embedio/api/Unosquare.Labs.EmbedIO.Modules.ResourceFilesModule.html#constructors). This module is similar to StaticFilesModule but using resources from an assembly.

[2019-02-11 16:53] geoperez commented on #242
I published your suggestion in version 2.2.7! Let me know if I can close this issue.

[2019-02-12 08:21] #242 closed

[2019-02-12 18:49] erossini commented on #243
It seems it doesn’t work. I have a similar issue with UWP: I can have a instance of the webserver but I can’t reach the page or I receive a blank screen.

I pass the Assembly and the path of assets folder.

[2019-02-12 19:04] geoperez commented on #243
The 'resourcePath' argument is the full path to the resource including the namespace.
For example, if your assembly contains a `Program` class, a `Resources` folder and the default namespace is `MyCompany.MyApp`:

[code]

[2019-02-13 09:53] erossini commented on #243
Maybe you need some background. I'm creating a backend for `Xamarin` and I have projects for `iOS`, `Android`, `UWP` and `macOS`.

In `UWP` I have some files in a folder called `Webserver` under the `Assets` folder. I want to show this files. I wrote this code:

        public IWebModule CreateWebModule()
        {
            StorageFolder appInstalledFolder = Windows.ApplicationModel.Package.Cur

[2019-02-16 03:21] geoperez opened #244 "Document TestWebServer"
Document TestWebServer

[2019-02-16 03:22] geoperez opened #245 "Support Request IPrincipal with basic authorization"
Support Request IPrincipal with basic authorization

[2019-02-18 22:06] hawkerm opened #246 "Example for Serving Files from Assembly"
**Is your feature request related to a problem? Please describe.**
There's some great sample snippets, but it's hard to see where the rest of the samples are or if they're missing from the cookbook (there also doesn't seem to be a link from the homepage to the github).

**Describe the solution you'd like**
It'd be great to have a samples repo or more called out examples/snippets all centralized an

[2019-02-19 12:40] martinlingstuyl commented on #232
Hi @Brun0oO ,

Regarding the info.plist setting, you need the following to exclude localhost from AppTransportSecurity:

[code]

[2019-02-19 16:48] geoperez commented on #246
Yeah, we need to work on documentation. Thanks for the heads up!

[2019-02-19 23:07] madnik7 opened #247 "an issue in FileModuleBase for handling Partial Content which lead to not resuming properly"
**Describe the bug**
Current version does not resume file downloading by some client and the clients restart downloading the entire file

**Reason**
I have checked FileModuleBase.WriteFileAsync code and just found the problem,
Some client like "Free Download Manager" request partial content on resuming like this "bytes=28147712-" so the client just mentions the start index and the rest of the file

[2019-02-20 00:59] geoperez commented on #247
Good catch, let you know when the nuget is ready.

[2019-02-20 17:23] geoperez commented on #247
You can check new nuget v2.2.8!

[2019-02-20 19:04] madnik7 commented on #247
Thank you! Now there is another problem which I haven't found it yet. I have mp4 which is seekable as I tested in IIS too. even with lass In embedio the latest google chrome can not seek through the movie

[2019-02-20 19:07] madnik7 commented on #247
Thank you! Now there is another problem which I haven't found it yet. I have mp4 which is seekable as I tested in IIS with no problem. but even with latest embedio version (2.2.8) the latest google chrome can not seek through the movie. it looks it use more advanced approach of partial content or maybe use some extra http header!

I am working on it, any comment is welcome.

[2019-02-20 23:02] madnik7 commented on #247
OK, I've found the problem. FileModuleBase.CalculateRange has a critical issue. it set upperByteIndex to fileSize whilst it should be fileSize-1! alsoI think it doesn't handle some other case properly too.

by the way I have refactored it to the followng using .net standard class:

[code]

would you fix this error and publish it?

[2019-02-21 18:04] geoperez commented on #247
I didn't know about that class, much better approach! I updated the code, and I'll later publish the nuget.

Thanks!

[2019-02-21 18:14] madnik7 commented on #247
I am not sure about your programming style, but you can also simplify FileModuleBase.WriteToOutputStream to

[code]
also, not sure why you dispose the buffer here, because usually the method who create the object should dispose it.

[2019-02-21 18:20] geoperez commented on #247
I like the idea to use `CopyToAsync`, regarding the `dispose` is because we faced some issues with the MemoryStream.

[2019-02-21 18:32] madnik7 commented on #247
Indeed, the MemoryStream should be disposed by the way, but perhaps at the end of request by the object which has created the MemoryStream at first. I can imagine when an exception occur or if in some situation where WriteToOutputStream is not called, the created MemoryStream might not be disposed and may lead to unexpected behavior or resource leak .

Also, as a rule of thumb, callers usually don

[2019-02-21 18:37] geoperez commented on #247
Let me think how to order the dispose of the MemoryStream.

[2019-02-21 18:50] geoperez commented on #247
I did some changes, and the unit tests are passing... So I guess it's fine.

[2019-02-21 19:01] geoperez commented on #247
What do you think? Should we publish?

[2019-02-21 19:08] madnik7 commented on #247
So, i checked the commits! I couldn't find where the stream is disposed.

Personally, I don't like the .ConfigureAwait(false) too. some people think it is a good practice but I don't.

[2019-02-21 19:12] geoperez commented on #247
I added a `using` statement when the MemoryStream is created. What I know it's that you should always use the ConfigureAwait(false) when the code is a third party code: https://blog.stephencleary.com/2012/07/dont-block-on-async-code.html

[2019-02-21 19:24] madnik7 commented on #247
Nice, I didn't noted.

Ya, and some other like:
https://medium.com/bynder-tech/c-why-you-should-use-configureawait-false-in-your-library-code-d7837dce3d7f

some other counter approach too:
https://blogs.msdn.microsoft.com/benwilli/2017/02/09/an-alternative-to-configureawaitfalse-everywhere/

But, I still don't like it, it is the caller responsibility to manage it. it ruins the chain of async metho

[2019-02-21 19:59] geoperez commented on #247
Yeah, I'm not a big fan to end all the async sentence with ConfigureAwait, but we try to keep it simple for the final user. It's hard for beginners to understand how async/await works properly.

[2019-02-21 20:04] madnik7 commented on #247
Ya, but in our case it rarely happens, because it is a webserver and there is no UI thread is most cases. again if users don't know how to handle async, then they can't work with other .net libraries too. I think we don't solve the problem by ConfigureAwait.

[2019-02-21 20:06] geoperez commented on #247
I disagree about the UI because I know that some developers are using the web server inside Xamarin Forms.

[2019-02-21 20:10] madnik7 commented on #247
Actually, I am using Xamarin too :), but if I run a webserver, it means I plan to connect it to via HTTP and don't call their method directly in UI.

[2019-02-21 20:12] geoperez commented on #247
I'm going to release the nuget unless you have another comment.

I'll discuss later with my team if we need to change the ConfigureAwait approach.

[2019-02-21 20:13] madnik7 commented on #247
I don't have any comment at the moment.
Thanks

[2019-02-21 20:15] geoperez commented on #247
One question, did you test another web server before EmbedIO?

[2019-02-21 20:20] madnik7 commented on #247
Ya, IIS and Kestrel, but they can't run on .net standard both on  android and windows. It is a valuable project  that help me to run personal webserver on both windows and mobile devices.  :)

[2019-02-21 20:23] geoperez commented on #247
Cool! The new nuget v2.2.9 is out!

[2019-02-26 15:16] ghiboz opened #248 "how use fixed content into certain folder?"
**Describe the bug**

Hi! In my `WebApiController` class I have a function like this:
[code]
into this function I read from a db some rows, I parse an html page to add the 'dynamic' content, like a php page do.. and works...

the issue is: the css, js, image files that the html page reference as relative path like `<link rel="stylesheet" href=css/style.css">` are not working...

how can I manage t

[2019-02-26 15:26] geoperez commented on #248
Hello, if the path is relative you can try use a FallbackModule to redirect to the correct base path.

[2019-02-26 15:32] ghiboz commented on #248
hello @geoperez , thanks for your fast reply:
I tried with this:

[code]

but doesn't work: if I put the fallback module before my `WebApiModule` I get `ERR_INVALID_REDIRECT`, if I put the module after, the page is displayed without css etc....

[2019-02-26 15:34] geoperez commented on #248
You need to use StaticFilesModule for the CSS/JS files...

[2019-02-26 15:36] geoperez commented on #247
@madnik7 can I close this issue?

[2019-02-26 15:38] ghiboz commented on #248
same thing: with this piece:
[code]
also before or after, no static content and the console get this:
![](https://i.imgur.com/fv4kWSg.png)

[2019-02-26 15:38] madnik7 commented on #247
Sure, why not!

On Tue, Feb 26, 2019, 7:36 AM Geovanni Perez <notifications@github.com>
wrote:

[2019-02-26 15:38] #247 closed

[2019-02-26 15:45] geoperez commented on #248
Yeah, but if you check the path `/js/index.js` should response properly. I would suggest using absolute paths in your HTML or use a fallback module to redirect all the 404 from /api/* to / (root).

[2019-02-26 15:45] ghiboz commented on #248
I tried to add the files in `PATH\api` and I get this error:
![](https://i.imgur.com/zq22f3l.png)
'character not valid in the path'
but is valid and works..

[2019-02-26 15:47] ghiboz commented on #248
how can I set the fallback module to redirect from api/* to root?
thanks

[2019-02-26 16:01] geoperez commented on #248
Something like this:

[code]

[2019-02-26 16:18] ghiboz commented on #248
thanks! now begins to work!!

[2019-02-26 16:48] geoperez commented on #248
Can I close this issue?

[2019-02-26 16:49] ghiboz commented on #248
oops! sorry!

[2019-02-26 16:49] #248 closed

[2019-02-28 15:20] kfreezen opened #249 "SSL Certificate `AutoDelete` Feature"
**Is your feature request related to a problem? Please describe.**
I have a program, which due to the way it's designed, needs to register a new SSL certificate every time it runs. Unfortunately, there's no way to auto-delete old SSL certificates at a certain port number.

**Describe the solution you'd like**
I'd like an `AutoDelete` property in WebServerOptions that deletes the SSL binding via `n

[2019-02-28 15:21] geoperez commented on #249
I like the idea!

[2019-03-11 17:26] TheSuunny opened #250 "206 Partial Content does not accept data from server"
Hi, I am trying to transmit a video through 206 Partial, but goes to this - https://stackoverflow.com/questions/55103408/206-partial-content-does-not-accept-data-from-server

I searched Internet, tried everything, but the result is the same.

Maybe you know what the problem is?

[2019-03-11 17:27] TheSuunny opened #251 "206 Partial Content does not accept data from server"
Hi, I am trying to transmit a video through 206 Partial, but goes to this - https://stackoverflow.com/questions/55103408/206-partial-content-does-not-accept-data-from-server

I searched Internet, tried everything, but the result is the same.

Maybe you know what the problem is?

[2019-03-11 17:33] geoperez commented on #250
I think Chrome doesn't add the range header in video content. Try Edge or VLC.

[2019-03-11 17:35] geoperez commented on #251
Duplicated... #250

[2019-03-11 17:35] #251 closed

[2019-03-11 17:44] TheSuunny commented on #250
I'm sorry for the duplicate, my browser crashed, and when I opened it, created a duplicate myself.

Unfortunately, I'm on Linux, I can't check in Edge, I want to transfer video so that I can use it in HTML <video>, but if I pass it just like that, I won't be able to rewind video until the file has been completely downloaded, perhaps you know how to get out of this situation?

[2019-03-11 17:51] geoperez commented on #250
You can try Video.js (https://videojs.com/)

[2019-03-11 18:24] TheSuunny commented on #250
https://pornarmy.ru/1.html - I uploaded the test player, it also does not allow rewinding

https://hotscope.tv/files/WxZ08BkpCN3.mp4 - Here is an example of when the Range is transmitted

[2019-03-11 18:45] geoperez commented on #250
@TheSuunny can you change the links, Github policies may not agree with them (https://help.github.com/en/articles/github-community-guidelines)

[2019-03-11 18:51] TheSuunny commented on #250
@geoperez Yes, sorry, I changed, example shows Range

[2019-03-11 18:54] TheSuunny commented on #250
![image](https://user-images.githubusercontent.com/44042783/54149773-fed13100-4447-11e9-971d-6804651c6e21.png)
![image](https://user-images.githubusercontent.com/44042783/54149789-0b558980-4448-11e9-9955-22e35f64eba2.png)

It works for them, I do the same, 1 request - Answer 200 OK, then 206

[2019-03-12 09:29] TheSuunny commented on #250
The problem was in localhost, everything works on server, thanks :)

[2019-03-12 09:29] #250 closed

[2019-03-12 13:32] geoperez commented on #250
Hi, can you elaborate?

On Tue, Mar 12, 2019, 3:33 AM Sunny <notifications@github.com> wrote:

[2019-03-12 16:12] TheSuunny commented on #250
@geoperez On localhost, it cannot accept data from the server, as soon as it receives the header, it drops the connection. But after I uploaded to the server and ran it, it all worked.

Maybe these are Chrome / Chromium bugs

[2019-03-14 01:37] joedemax commented on #205
@geoperez Could you post a code sample of how to pass say a delegate reference to the controller's constructor? I basically want to invoke a method in another class when my controller receives POST data.

[2019-03-14 19:45] joedemax opened #252 "Pass reference to WebApiController"
Hello,

I'm trying to use Embedio to create a web front end for a desktop application. I need to be able to subscribe to an event that is raised when the WebApiController receives a GET request. I can't figure out how to pass in a delegate reference to the WebApiController's constructor. I'm using the following code to setup my server.

[code]

How can I pass a reference to MyApiController's const

[2019-03-14 19:54] geoperez commented on #252
Hello @joedemax ,

Please check the following code

[code]

[2019-03-14 19:55] geoperez commented on #205
Check issue #252

[2019-03-14 20:31] joedemax commented on #252
Perfect thank you very much @geoperez

[2019-03-14 20:31] #252 closed

[2019-03-19 13:35] pvanloo opened #254 "Multiple Set-Cookies in one response"
**Describe the bug**
Multiple calls to Response.Headers.Add() with a Set-Cookie header results in a comma-seperated value.

I believe this unwanted behaviour as this is not supported by modern browsers according to this [StackOverflow](https://stackoverflow.com/questions/51564395/add-multiple-cookies-to-clients-web-browser-via-httplistenerresponse) question.

Additionally, using Response.AddHeader

[2019-03-21 07:34] Tms-bodnar commented on #139
Hallo, please, help, how can i use the instance's function? I can't reach my websocketserver broadcast method from webserver instance.
`
wsServer = new WebServer("http://localhost:8000/")`
wsServer.RegisterModule(new WebSocketsModule());
wsServer.Module<WebSocketsModule>().RegisterWebSocketsServer<WSServer>("/ws");
wsServer.RunAsync();`
websocketserver:
`
public class WSServer : WebSocketsServer
{

[2019-03-21 10:55] djjaysmith opened #256 "WebApiController example is incomplete and does not function"
**Describe the bug**

The WebApiController example is incomplete and does not function in its current form.
This provides a high barrier for beginners to learn the product and its likely to put them off.

[2019-03-25 01:03] geoperez commented on #256
Thanks for the heads-up. I just updated the README with correct usage of the WebAPI. Let me know if I should include more information.

[2019-03-25 19:51] geoperez commented on #139
I would recommend adding a singleton class or static event handler and then listen to that event in your WebSocket.

[code]

[2019-03-26 06:45] Tms-bodnar commented on #139
Thank you!

[2019-04-01 09:49] 3da opened #257 "How to detect when server started listening?"
How to wait server started listening event?

Currently I do the following hack:

            _task = _server.RunAsync();

            while (!_server.Listener.IsListening)
            {
                await Task.Delay(500);
                if (_task.Exception != null)
                    throw new Exception("Error listen server", _task.Exception);

            }

[2019-04-01 14:26] geoperez commented on #257
We can probably add a state property, like Stopped, Loading, Running, Stopping... What do you think?

[2019-04-01 14:55] 3da commented on #257
In my case I need to detect when server is started listening or failed because port is busy.

So I made such trick:

        public async Task StartListen()
        {
            if (_task != null)
                throw new Exception("Server already started");
            _task = _server.RunAsync();

            while (!_server.Listener.IsListening)
            {
                await Task.Delay(5

[2019-04-01 15:01] 3da commented on #257
Another idea is WebServer should have event which signals about started listening.
Then it will be possible for trick similar to https://stackoverflow.com/a/19104345

[2019-04-02 14:20] 3da commented on #135
But how it is possible to redirect messages to custom logger?
And how to separate log messages from different WebServers?

[2019-04-02 15:22] geoperez commented on #135
Yes, it's possible to redirect the output using the following event:

https://unosquare.github.io/swan/api/Unosquare.Swan.Terminal.html#Unosquare_Swan_Terminal_OnLogMessageDisplaying

Regarding separate log messages, there is no way right now, but you can open a new ticket requesting the feature.

[2019-04-04 06:30] MajidSafari opened #258 "RequestFormDataDictionary remove in ver 2.3.1 ?"
hi

RequestFormDataDictionary remove in ver 2.3.1 ?

![Capture1](https://user-images.githubusercontent.com/5099564/55534151-c4665700-56c8-11e9-998b-55b1f224289d.JPG)

[2019-04-04 13:33] bufferUnderrun opened #259 "StaticFilesModule cache management"
I'm using the StaticFilesModules with `server.Module<StaticFilesModule>().UseRamCache = true;` to serve static content (html, css, js) for a single page application which call a RestApi.

I encounter 2 issues :

1. when i update a file (ie: index.html) while server is running and the browser refresh full app, the cache is used and i'm not getting the updated file.
2. same issue if i stop the serve

[2019-04-04 15:05] geoperez commented on #258
Sorry, but we enforce to use the Async methods instead.

[2019-04-04 15:08] geoperez commented on #259
The cache should invalidate if the checksum of the file is different. Let me take a look at what is going on.

[2019-04-05 14:34] jasonkuo41 opened #260 "Close a websocket connection with custom close status code"
**Is your feature request related to a problem? Please describe.**
Sometimes, there are requests that the server cannot handle or is against the server's policy, instead of marking the close frame as Normal, we want to mark it as other code (by spec or custom), so that the client will be able to present or handle the error instead.

**Describe the solution you'd like**
Add a method:

**Describe al

[2019-04-07 08:54] #258 closed

[2019-04-08 06:53] fdsagizi opened #261 "How update POST commands in main thread"
Hi, how we can receive requests (post,get) in main thread ?

Why ? We use Unity3D as backend for our game servers, and we need provide some rest api
but Unity not allowed asses to API from custom threads.

[code]

[2019-04-09 00:49] geoperez opened #262 "Clean up websocket client"
And provide a substitute.

[2019-04-09 00:55] geoperez commented on #254
I created a new branch for this issue.

[2019-04-09 06:51] developerFlo opened #263 "StaticFilesModule: 403 Forbidden on VirtualPath"
**The problem**
I want to serve static files from different directories.
Therefore I tried to set up a **StaticFilesModule** using VirtualPaths.
Unfortunatelly all **requests to something else then the base directory returns 403 Forbidden**.

**To Reproduce**
[code]

GET http://localhost:8080/userdata/me.png -> 403

**Requested behaviour**
Is there any way serve static files out of different root

[2019-04-09 15:58] bufferUnderrun opened #265 "both restapi and websocket for same user [help wanted]"
Hi,

I'm using both restapi and websocket in my application.

Do you have an idea, how to retrieve the user websocket context from the restapi context ?
The goal it to notify the user with websoket (from server) after it has done a certain action from the restapi.

Thanks for your help.

[2019-04-09 16:55] geoperez commented on #265
You need to add a static ConcurrentDictionary somewhere in your application to store the context. There is no way to communicate between the two modules inside EmbedIO.

[2019-04-09 19:06] Splamy opened #267 "Responses with KeepAlive = false take unreasonably long"
**Describe the bug**
I'm trying a bit around with EmbedIO and I realized that the first connection always takes really long until it gets closed after a response has been sent.
Usually this is not that much noticable when `KeepAlive` is set to `true`, since only the first request takes long and subsequent request are fast.
However I wanted to write a custom api middleware which closes the socket a

[2019-04-10 07:35] pvanloo commented on #254
Hi @geoperez, thanks for making the time to check this.

I've managed to test this but I'm still seeing some odd behaviour:

This is the request that I'm passing to the Set-Cookie header:

![image](https://user-images.githubusercontent.com/26272906/55859500-7e9b0a00-5b72-11e9-82df-48a299c14521.png)

EmbedIO correctly splits the headers (as issue states) but doesn't parse the cookie correctly (path

[2019-04-10 14:17] geoperez commented on #254
How are you creating the cookie?

[2019-04-10 14:21] pvanloo commented on #254
It's being set as a Set-Cookie header (see first screenshot).

The second screenshot is what I'm viewing in the browser's developer console.

[2019-04-10 14:31] geoperez commented on #254
I know what is the issue. The default `ToString()` response of Cookie just returns name=value without the additional properties.

I'm going to change that.

[2019-04-10 14:43] geoperez commented on #254
I updated the branch and with the following code:

[code]

I'm getting this:

![image](https://user-images.githubusercontent.com/1775792/55888317-c589ff00-5b74-11e9-8a4c-65a53d416728.png)

But I have a doubt regarding if I should send lowercase properties...

[2019-04-10 14:48] geoperez commented on #257
I like the idea of events, probably a single event `StateChanged`. What do you think?

[2019-04-10 14:50] 3da commented on #257
Yeah, fine. This will solve the problem of detecting when this happened.

[2019-04-10 14:53] geoperez commented on #257
I created a new branch for this issue: Issue257-WebServerEvent

[2019-04-10 17:49] geoperez commented on #262
Pending publish!

[2019-04-10 17:49] geoperez commented on #257
@3da I pushed some changes:

https://github.com/unosquare/embedio/commit/ba820e4ca8857c9c024529e792e5f2e230796d03

What do you think?

[2019-04-10 17:51] geoperez commented on #259
I created a new branch for this issue: Issue259-CacheInvalidation

[2019-04-10 19:56] geoperez commented on #260
👍

[2019-04-10 20:09] geoperez commented on #259
I'm not able to reproduce this issue.

I set the Static File module with cache on, and the first request responds status 200, and the cache was set. The following calls respond with 304, after editing the file, the modification timestamp changed and the cache was invalidated and it responds 200.

[2019-04-10 20:10] geoperez commented on #260
I created a new branch for this issue: Issue260-CloseWebSocket

[2019-04-10 20:41] geoperez commented on #260
Please check the following PR: https://github.com/unosquare/embedio/pull/268

[2019-04-10 20:55] 3da commented on #257
Term "Running" is not clear. But "Listening" has only one meaning for everybody in my opinion.
How do you think?

[2019-04-10 20:57] geoperez commented on #257
Makes sense. I'll change it.

[2019-04-10 21:00] geoperez commented on #257
Done!

[2019-04-10 21:01] 3da commented on #257
Thanks!

[2019-04-10 21:02] geoperez commented on #257
I'll release this version probably tomorrow.

[2019-04-11 07:06] pvanloo commented on #254
I think the properties can be both upper and lower case [https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie)

However I think there might need to be a space after the ';'

Also still not every property is being shown;

Direct connection to a website
![image](https://user-images.githubusercontent.com/26272906/55

[2019-04-11 14:39] geoperez commented on #254
I did some changes to the Cookie Response. Please let me know.

[2019-04-11 14:58] pvanloo commented on #254
I've noticed switched httponly/secure;

https://github.com/unosquare/embedio/commit/cf474141a83c0e36e4a0672f3cb67f96151b9d4d#r33141301

https://github.com/unosquare/embedio/commit/cf474141a83c0e36e4a0672f3cb67f96151b9d4d#r33141302

[2019-04-11 15:27] geoperez commented on #254
Done!

[2019-04-11 18:22] #262 closed

[2019-04-11 18:23] geoperez commented on #260
Please check new release: https://www.nuget.org/packages/EmbedIO/2.4.0

[2019-04-11 18:23] geoperez commented on #263
Please check new release: https://www.nuget.org/packages/EmbedIO/2.4.0

[2019-04-11 19:25] geoperez commented on #267
I created the branch Issue267-KeepAlive

[2019-04-12 08:54] developerFlo commented on #263
Many thanks for the quick fix.
I changed back from the clone to the original NuGet-Package and everything works as expected.

[2019-04-12 08:54] #263 closed

[2019-04-12 18:54] geoperez commented on #254
@pvanloo should I publish the changes now?

[2019-04-13 05:57] fdsagizi opened #270 "Socket: accept failed, error: Too many open files(24)"
Hi, we have many simple REST  requests on our server. may be over 10 000 per sec

why embedio open file descriptors for every POST/GET requests ?

when FD over 1024 on linux,  we start receive this error  **Socket: accept failed, error: Too many open files(24)**

You can see how many FDs you use, for process: **ls -1 /proc/<process_id>/fd | wc -l**

And how we can disable open file descriptor for

[2019-04-14 18:06] blipk opened #271 "No CancellationToken for WebApiController handlers"
If I use a custom module extended from WebModuleBase and use AddHandler to create the handlers, I have access to the cancellation token via the WebHandler delegate when requests are made.

Is there anyway to access the cancellation tokens for the requests when using a WebApiController with WebApiHandler attribute to create the handlers?

Sorry if I've missed something but this seems like it would

[2019-04-15 06:35] pvanloo commented on #254
So far it looks good to me, thanks!

[2019-04-15 15:05] geoperez commented on #254
I just published the new Nuget v2.5.0. Closing this issue.

[2019-04-15 15:05] #254 closed

[2019-04-15 15:06] geoperez commented on #260
Status?

[2019-04-15 15:06] geoperez commented on #257
I just published the new Nuget v2.5.0. Can I close this issue?

[2019-04-15 16:39] geoperez commented on #270
Are you running a performance testing with multi-threads? What I understand from UNIX sockets, that they have FILE descriptors too. So maybe are you reaching the limit of open sockets. Try to update your limit with `ulimit` (https://stackoverflow.com/questions/880557/socket-accept-too-many-open-files)

[2019-04-15 16:41] geoperez commented on #271
It's a good idea to pass the Cancellation Token to the WebAPI. I will check how to add it.

[2019-04-16 07:28] bufferUnderrun commented on #265
Thanks for your help.
Well, I've no other solution. I use a ConcurrentDictionary() in WebSocketServer and my web client send a websocket message to server containing cookie name. From my WebApi, i call websocket server Send by passing the current sesssion cookie.

You can close the issue.

[2019-04-16 07:28] #265 closed

[2019-04-16 12:55] 3da commented on #257
Hi.

Looks like there is not enough something.

I started 3 servers on port 666 in the same time.
First all of them sent me State = Loading. Then one of them sent me State = Listening.
2 other servers have not sent any event.

So again I can't detect when 2 other servers failed to start listening.
I am sorry, probably I didn't explain my problem clearly.

[2019-04-17 06:43] rdeago opened #272 "StaticFilesModule: the second and subsequent requests for the same file result in error 404"
**Describe the bug**
When `StaticFilesModule` is configured with virtual paths, the first request for a file in a virtual path succeeds, but all subsequent requests result in "404 - Not Found".

**To Reproduce**
Steps to reproduce the behavior:
1. Have a directory structure as follows:

* /my/path/ _<-- feel free to use a Windows path, the problem is not bound to Unix-like systems_
  * root/
    *

[2019-04-17 07:53] 3da commented on #257
So currently the only way to detect error when starting listening is to check Exception on Task.

[2019-04-17 08:22] 3da commented on #257
Okay, I got it.

        public async Task StartListen()
        {
            if (_task != null)
                throw new Exception("Server already started");

            var tcs = new TaskCompletionSource<object>();

            _server.StateChanged += (sender, e) =>
            {
                if (e.NewState == WebServerState.Listening)
                    tcs.SetResult(null);
            }

[2019-04-17 08:25] #257 closed

[2019-04-17 14:10] geoperez commented on #272
Wow, great bug reporting! I didn't notice that bug, and the solution 3 or 4 are the best. If you would like to contribute with a PR for solution 4 I will appreciate it!

[2019-04-17 15:27] rdeago commented on #272
Thanks. I'm just trying to give something back, since EmbedIO has saved my day in a couple occasions, and I try to make the kind of bug reports I would like to receive.

I'm currently working on solution 4, you can expect a PR tomorrow.

[2019-04-18 06:40] blipk commented on #271
Thanks it would be super useful, or perhaps even if there is an indirect way to access it in the mean time.

I made some revisions to my code to use a WebModuleBase extension and passed the ct from AddModule to a Task.Run() thread and it doesn't seem to cancel when the page load is stopped or closed.

Is the ct supposed to be cancelled when that happens? is there something I'm missing.

Thanks.

[2019-04-18 13:58] geoperez commented on #271
Nop, the cancellation token that we have in the IWebModule comes from the RunAsync method of IWebServer. In other words:

1 - Your application has a CancellationTokenSource or a CancellationToken
2 - You Start the WebServer with RunAsync method passing the CancellationToken
3 - The CancellationToken is provided to the WebHandlers.

Then you can use the CancellationToken to know for example if the

[2019-04-19 02:13] jasonkuo41 commented on #260
Affirmative, got the update.
But why remove the WebSocket client? It has now broken my code.

[2019-04-19 15:02] rdeago opened #273 "Disposable WebModules should be automatically disposed."
**Is your feature request related to a problem? Please describe.**

I want to use a `ReaderWriterLockSlim` in a WebModule. Since it uses unmanaged resources, good practice suggests that I implement `IDisposable`. Problem is, nobody is going to call `Dispose`.

**Describe the solution you'd like**

WebModules should be disposed in the `Dispose` method of `WebServer`. Actually, the `WebModules` clas

[2019-04-19 15:06] geoperez commented on #273
I like the idea! Are you working on this fix too or do you need help?

[2019-04-19 15:10] geoperez commented on #260
Sorry about that. The WebSocket client was kinda buggy, and the idea is to keep simple and tiny the web server. Did you try the WebSocket Client from .NET framework?

[2019-04-19 15:26] rdeago commented on #273
I'm currently working on it.

Fixing `WebModules` was trivial. `WebServer` is disposable and thus only requires one more line of code.

`TestWebServer`, on the other hand, is not disposable. I'm currently making it so and adding `using` blocks wherever it is used. Technically I'm introducing a breaking change, since `TestWebServer` is part of the library, but it has no impact on "normal" users.

[2019-04-19 15:28] geoperez commented on #273
Yeah, I can't remember why I didn't include IDisposable to TestWebServer... But probably it was just a mistake.

[2019-04-19 18:05] geoperez commented on #273
I changed WebSocketModule for dispose all WebSocketServers instances properly! Again thanks for the heads up!

[2019-04-20 04:33] rdeago commented on #273
You're welcome! I use EmbedIO in practically all my applications, so it's in my best interest that it keeps improving. Isn't open source great?!

[2019-04-20 04:33] #273 closed

[2019-04-20 05:55] jasonkuo41 commented on #260
Oh, I initially wanted to use Embed.IO as a mean of WebSocket client/ server, rather than using it as a web server.

[2019-04-22 18:12] #272 closed

[2019-04-22 18:35] geoperez commented on #272
New nuget is ready:

https://www.nuget.org/packages/EmbedIO/2.6.0

[2019-04-23 00:15] Genteure opened #276 "Pass data down the process chain with IHttpContext"
**Is your feature request related to a problem? Please describe.**
I want to pass some object from a module (`WebModuleBase`) to other modules or controllers (`WebApiController`) that will process the same `IHttpContext` later.
Use case: I have a authorization module that queries databases for user information, return HTTP 403 if not authorized. Later in a controller, I need the user's other info,

[2019-04-23 00:43] Genteure commented on #261
https://stackoverflow.com/questions/41330771
This can give you a basic idea on how to run code in main thread.

As for returning value from main thread, you can try to use [`ManualResetEvent`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.manualresetevent).

[code]

[2019-04-23 01:12] Splamy commented on #267
Seems like upgrading to 2.5.0 has fixed it, thanks.

[2019-04-23 14:18] geoperez commented on #276
Hi @Genteure, can you check the related PR. Thanks

[2019-04-23 15:21] rdeago opened #278 "StaticFilesModule regression: requesting a directory listing fails."
**Describe the bug**
EmbedIO v2.6.0 does not recognize path `/files` as mappable by virtual path `/files/`. Instead, it tries to resolve it using a shorter virtual path, or the root path.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a directory structure as follows:

* /my/path/ _<-- feel free to use a Windows path, the problem is not bound to Unix-like systems_
  * root/
    * file1

[2019-04-23 15:56] #278 closed

[2019-04-23 16:01] geoperez commented on #278
New version published: v2.7.0

[2019-04-23 21:11] Genteure commented on #276
Seems good, Thank you.

[2019-04-23 21:11] #276 closed

[2019-04-24 05:55] rdeago opened #280 "StaticFilesModule security regression: bug #68 is back."
**Describe the bug**
PR #275 accidentally undid the fix for #68.

**To Reproduce**
See #68.

**Expected behavior**
StaticFilesModule should serve just the directories it is told to.

**Additional context**
There are basically two ways virtual path management may cross the served directory border when mapping a URL path to a local path:
* multiple `/..` segments in a path - apparently this is alrea

[2019-04-24 09:57] rdeago opened #282 "Proposals for EmbedIO v3.0"
It all started as an attempt to improve over recent changes to `StaticFilesModule`... but then, after some days working on EmbedIO, especially after @geoperez expressed his favour to breaking changes (as long as they actually improve the library), I noticed a couple of things that could be further simplified. Then another couple of things that needed some utility methods to avoid copy-pasting all

[2019-04-24 12:26] #49 closed

[2019-04-24 12:26] #200 closed

[2019-04-24 12:26] #187 closed

[2019-04-24 12:26] #243 closed

[2019-04-24 12:26] #220 closed

[2019-04-24 12:26] #244 closed

[2019-04-24 12:26] #245 closed

[2019-04-24 12:55] bufferUnderrun commented on #282
In my opinion, breaking changes are not a problem as long as they are properly documented in a release notes.

I've migrate my mains webapps to embedio and they all use the `StaticFilesModule`. My primary use case is to serve html, cs or js files. The `StaticFilesModule` settings are loaded at app start and never change during run (need a embedio restart if so). PDF (meaning data export) are gener

[2019-04-24 14:38] geoperez commented on #282
I'm open to breaking changes. Let's go ahead!

[2019-04-24 14:49] #280 closed

[2019-04-24 15:00] rdeago commented on #282
Already on it.

In the meantime, may I ask for some guidance on updating the documentation? I tried checking out the `gh-pages` branch but it is not clear (to me, at least) what I should update and how.

_\<rant\>BTW, a separate branch for GitHub pages? Seriously, GitHub?!\</rant\>_

[2019-04-24 17:17] geoperez commented on #282
LOL I like the separated branch for the website. But also a docs folder in the master branch can be used!

Anyway, for documentation let me explain to you how it goes:

* We use the `README` file for general information, "cookbook" and some samples for newbies.
* The GitHub page at https://unosquare.github.io/embedio/ is autogenerated each commit using DocFx. This tool will create static HTML page

[2019-04-24 17:30] rdeago commented on #282
A docs folder can be updated while writing code. I find writing docs a lighter task if done in parallel with coding. But that's just me, probably: I assume people at GitHub knew what they were doing when they gave the option to put docs in a branch.

A contributing guide for documentation, maybe? 😁
Seriously, the easier you make it for contributors to update the docs, the more you can be sure that

[2019-04-24 17:39] geoperez commented on #282
We need a general contributing guide. I have it on my todo list.

[2019-04-25 12:56] Splamy commented on #267
Well, I have to reopen the issue because I have found the problem. Seems like I messed up my testsetup.
The problem occours with the netstandard1.3 build of embedio.

This preprocessor directive is here to be because standard1.3 streams do not have a close method.
https://github.com/unosquare/embedio/blob/cc0d80cc049bbb71553ca182c734ce01bede6be0/src/Unosquare.Labs.EmbedIO/System.Net/ResponseStream

[2019-04-25 15:34] geoperez commented on #267
Let me check!

[2019-04-25 16:56] geoperez commented on #267
@Splamy I did some changes, can you check them? Or do you need a nuget?

[2019-04-25 17:49] Splamy commented on #267
I tested master and it works now, thanks.

[2019-04-25 19:50] geoperez commented on #267
I just published a new nuget: https://www.nuget.org/packages/EmbedIO/2.7.2

Let me know if I can close this issue.

[2019-04-26 00:51] Splamy commented on #267
Works like a charm. Thanks again.

[2019-04-26 00:51] #267 closed

[2019-04-26 13:57] rdeago commented on #282
Just a quick, partial preview of what's coming:

[code]
(Still working on `AddDefaultHeader`)

Almost everything can be configured on a per-virtual-path basis. Only RAM cache size and default headers have module scope.

There are no "default" options for virtual paths, not even `"index.html"` as default document. This keeps the surprise factor at a minimum, as the options object returned by `Virtu

[2019-04-26 14:17] geoperez commented on #282
I like what are you doing! Regarding the other changes, I like the idea. Please go ahead.

[2019-04-26 15:16] rdeago commented on #282
BTW @geoperez do you plan to create a 2.8.0 or 3.0 version with these changes?

I'm asking because I have to mention the version number in a few places in XML docs.

[2019-04-26 15:36] geoperez commented on #282
I think we probably move to 3.0.0 because we have many breaking changes.

[2019-04-26 15:55] rdeago commented on #282
Oh, and (I'm probably getting annoying, I'm sorry) is .NET Standard 1.3 support _really_ needed?

* It requires quite a few workarounds (the sheer number of `#if NETSTANDARD1_3` and `#if !NETSTANDARD1_3` instances in the code screams for revenge.)
* It has no `WebHeaderCollection`, which would require exposing the one copied from Mono, then copying headers one by one in the response header because

[2019-04-26 16:18] geoperez commented on #282
I don't have them. But I don't know what target framework is used by the Xamarin devs. Do you think of moving to NETStandard 1.4 or 1.5 will be easier?

[2019-04-26 17:00] rdeago commented on #282
Unfortunately, System.Net stuff such as `WebHeaderCollection` was added in .NET Standard 2.0.

According to [Microsoft documentation](https://docs.microsoft.com/en-us/dotnet/standard/net-standard), raising the required .NET Standard version from 1.3 to 2.0 would mean raising the required Xamarin platform version thus:
* Xamarin.iOS: 10.0 -> 10.14
* Xamarin.Mac: 3.0 -> 3.8
* Xamarin.Android: 7.0 ->

[2019-04-26 17:04] geoperez commented on #282
Hello @pvanloo, @madnik7, @erossini, @sonic1015, @deMichael, @pushqrdx

Sorry for bothering you guys, can anyone help us with the previous question?

[2019-04-26 17:55] madnik7 commented on #282
Hi,
You have a long story and I cannot understand your real needs described in the question. What I think is that StaticFileModule should serve static files. Virtual maps are good, but if users need more than that, maybe they would better implement their own GET instead of a file. Still, I am not sure because it isn't my need yet.

But as a user here is my story and my needs of Static File are ser

[2019-04-26 18:03] geoperez commented on #282
@madnik7 sorry for not explain me properly. The question is what target framework usually you use in Xamarin projects?

[2019-04-26 18:16] madnik7 commented on #282
Now 8 but it should be 9 soon:
The official documents say:
When you upload an APK, it needs to meet Google Play’s target API level requirements. Starting August 1, 2019, Google Play requires that new apps target at least Android 9.0 (API level 28), and that app updates target Android 9.0 from November 1, 2019. Until these dates, new apps and app updates must target at least Android 8.0 (API level

[2019-04-26 18:37] geoperez commented on #282
But the Xamarin version is related to API level at Google? My question is more related to the .NET framework.

[2019-04-26 19:27] madnik7 commented on #282
Xamarin support .Net Standard 2.0 and I Have to support the target API to be used. But they are pretty up-to-date. Now the support Android 9 (PIE) too.

I hope I understand your question and what you look for

[2019-04-26 19:38] madnik7 commented on #282
Sorry for many grammar and typo error!

[2019-04-26 19:51] geoperez commented on #282
Don't worry! Now I understand what is going on with Xamarin. Thanks!

[2019-04-27 05:40] rdeago commented on #282
Hello @madnik7, thanks for sharing your thoughts!

You are touching an interesting point here: since `StaticFilesModule` serves both static and... not-so-static files, its name may be slightly misleading.

Actually, instead of users having to deal with configuring "immutable" vs. "mutable" mapped directories, a better way could be to have a `StaticFilesModule` _and_ a... `DynamicFilesModule` or so

[2019-04-27 07:57] rdeago commented on #282
So many thoughts, so little time. Let me try to sum things up:

### Xamarin support ###
Based on both @madnik7's input and some research of my own, requiring .NET Standard 2.0 doesn't seem to be a problem for Xamarin developers because:
* .NET Standard 2.0 support was introduced in Xamarin a year and a half ago (as per [Xamarin releases](https://developer.xamarin.com/releases/));
* one can use a n

[2019-04-27 13:56] #232 closed

[2019-04-27 16:18] madnik7 commented on #282
Hi @rdeago

.NET Standard 2.0 has already have File object so the supporting platform have to support it, It can be used for internal storage on both windows and android (don't know about iOS yet). The problem raises when we need to support external storage such as External Memory or USB OTG

You should also considerate that it looks .NET Framework 4.7.2 is needed for full supported of .NET Standa

[2019-04-29 06:38] pvanloo commented on #282
Hi, FWIW I'm targeting standard 2.0

[2019-04-29 08:42] rdeago commented on #282
Hi @madnik7

You said you had to write your own module to serve files through PortableStorage, not to mention having to write PortableStorage in the first place, to circumvent this limitation. I took it as an indication that _out-of-the-box EmbedIO_ is far from ideal as a HTTP server for mobile platforms, even if the problem is not caused by EmbedIO itself.

Windows 7 [comes with .NET Framework 3.

[2019-04-29 08:44] rdeago commented on #282
Hi @pvanloo, thanks for your input. Looks like we could be on the right track by targeting `netstandard20`.

[2019-04-29 13:40] geoperez commented on #282
@rdeago do you need to remove NETSTANDARD1.3 for your current branch? Or can we move this into another branch, and leaving only NETSTANDARD2.0?

After reading your comments, I agreed to use only one framework. Great explanation BTW 👍

[2019-04-29 13:47] rdeago commented on #282
Since the commit story will be linear anyway, I could do everything in the PR I'm working on, if GitHub lets you merge a PR leaving the commits separate. Otherwise I'd prefer to do the platform switch first and then finish the files module(s), so I can use APIs not currently available (e.g. `ValueTuple`).

[2019-04-29 13:52] geoperez commented on #282
I like the idea to merge the framework unification first. Can I help you with this PR today? Or do you already have it?

[2019-04-29 13:55] rdeago commented on #282
Already on it. 😉

[2019-04-29 13:57] geoperez commented on #282
Cool cool! Thanks.

[2019-04-29 14:23] rdeago commented on #282
BTW, @geoperez, is the lack of `System.Net.HttpListener` in older platforms the only rationale for `Unosquare.Net.HttpListener`? If so, maybe it can be removed now. Anyway I'd leave this for another PR for now.

[2019-04-29 17:09] geoperez commented on #282
I would like to keep Unosquare.Net.HttpListener for now.

[2019-04-29 17:15] rdeago commented on #282
It's still there in #283. I stayed on the safe side.

[2019-04-29 17:16] geoperez commented on #282
I just merged your PR #283. So you will continue from here to the original PR with the new StaticFilesModule, right? Do you need any help?

[2019-04-29 19:20] rdeago commented on #282
I'll continue from there. Please tell me if you like the idea of two separate modules, with and without caching (see some posts above).

[2019-04-29 19:22] geoperez commented on #282
I don't know if two modules should be the correct. This is because you want to keep the options set to the minimal or why? Maybe another strategy like a Factory?

[2019-04-29 21:08] rdeago commented on #282
It's so that `StaticFilesModule` would deal with _really_ static files, while the other module (`UncachedFileModule`, maybe?) would deal with files that may change. Serving both with the same type of module seems somewhat confusing, as they have different purposes.

Once there are two distinct modules, thus removing the need for caching switches, options for each served path are few enough to allo

[2019-04-29 21:32] madnik7 commented on #282
Having an UncachedFileModule may not useful because sometimes there are files which frequently changed but need to be cached, in this case users havenothing to do but to restart the server module.

If the difference between the two module is just the cashing system, an option would better sense for me. By the way, personally I use little caching at lower level (StorageProvider) because the storage

[2019-04-30 02:25] abhishekdhotre opened #284 "Xamarin iOS / tvOS: WebServer does not accept requests after app goes to background"
I have noticed an issue which causes my app to freeze after running my app on physical devices running iOS 11.3 and above. In my code I have used two instances of embed io web server, one to host api's on 'http://localhost:12462/' and one to host my angular website on 'http://localhost:4200'. In Xamarin application I use WebView control to display my angular website hosted at 'localhost:4200'. Eve

[2019-04-30 05:23] rdeago commented on #282
This is interesting. So far I admittedly haven't been able to think of a use case where files must be cached, yet they change frequently. What kind of files would you use it for?

If EmbedIO compels users to restart a program, it's something that definitely needs fixing. Maybe we could limit the size of the mapping cache, at least for mutable directories that need caching.

Absolutely agreed. Unfo

[2019-04-30 05:55] rdeago commented on #284
Hello @abhishekdhotre, thanks for using EmbedIO!

I am not a Xamarin developer, so I have to ask you for a little help in identifying the cause of the issue. Let's start with some basic information:
* which version of Xamarin iOS are you using?
* which version of EmbedIO are you using?
* which module do you use to host your APIs and how do you initialize it?
* which module do you use to host your

[2019-04-30 14:32] geoperez commented on #282
And if we change this policy?

[2019-04-30 14:47] rdeago commented on #282
Then we can have one `StaticFilesModule` for each directory (tree) to serve, each with its own parameters. Virtual paths would be no longer necessary. It remains to be decided if, and how, a `WebServer`-scoped RAM cache limit can be set, but overall it would drastically simplify the implementation.

[2019-04-30 14:58] geoperez commented on #282
I was thinking about that, and there is not really a policy per se. This constraint is just because we need a way to lookup IWebModules, but using a named instances works fine too.

[2019-04-30 15:09] rdeago commented on #282
OK, let me see if I can quickly do something about it.

[2019-04-30 15:15] rdeago commented on #282
@geoperez, is it a problem if the `Name` property disappears from `IWebModule` and from the modules themselves, remaining only as a retrieval key in `WebModules`?

[2019-04-30 15:17] geoperez commented on #282
I don't think so. Go ahead!

[2019-04-30 15:19] rdeago commented on #282
Here's a little teaser: 😉
[code]

[2019-04-30 17:36] madnik7 commented on #282
@rdeago

It was just my imaginary situation:) But, we can imagine the home page of a website that contain news, also I think in such case people use an enterprise web server, so it should not be our case.

I really don't know how others can serve a SPA via StaticFilesModule on android!

By the way, having multiple StaticFilesModules sounds good. It would be better it does not rely just on System F

[2019-04-30 19:05] abhishekdhotre commented on #284
Thank for the reply @rdeago, look below for all the details related to versions I'm using:

EmbedIO version 2.5.0
Visual Studio Community 2019 for Mac
Version 8.0.4 (build 0)
Installation UUID: 112aa530-4df0-4334-93c0-3c84615b8ff8
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 5.6.0.2 (d16-0 / 040682909)

	Package version: 518010003

Mono Framework MDK
Runtime:
	Mono 5.18.1.3 (2018-08/fdb26b0a445) (64

[2019-05-01 12:40] rdeago commented on #284
Hi @abhishekdhotre, thanks for the info.

The code you posted looks pretty standard, I see no particular issue with it.

The version of EmbedIO you're using, however, has [a quite nasty regression in `StaticFilesModule`](https://github.com/unosquare/embedio/issues/272).

_(I can say it's nasty without offending anyone, because it was completely my fault. 😀)_

I strongly suggest you upgrade EmbedIO

[2019-05-01 13:15] rdeago commented on #282
Hi @madnik7

Anyway, for cases where files change frequently yet caching may help, I'm leaving an intermediate choice between "cache" and "no cache": that is, caching the mapping between URL and local file / directory and let the OS cache the files themselves.

Me neither. I think it'd be interesting to see how different have responded to this challenge.

If there was a base class taking care of c

[2019-05-02 17:11] jeffska opened #285 "Add subprotocol handling to WebSocket support"
The EmbedIO native WebSocket handling and exposed method via IHttpContext don't allow for the server to set a subprotocol when accepting a client request. The .NET System.Net.HttpListenerContext.AcceptWebSocketAsync method supports a string parameter for the subprotocol identifier.

The lack of this prevents a server from doing any subprotocol indication or negotiation.

[2019-05-04 04:06] rdeago commented on #276
@Genteure, @geoperez, would it be a problem if `Items` had no setter in next version of EmbedIO, like this?
[code]
By making it a read-only property we can be sure that it is never `null`, which helps to ensure a consistent and reliable API surface for module developers (together with other changes I'm currently working on).

If all you've done so far is set and get items, rather than the dictiona

[2019-05-04 04:50] Genteure commented on #276
I have no problem with it, I'm not using the setter.
`Items.Clear()` would serve basically the same function as `Items = new Dictionary()`.

The only reason I suggest add `IDictionary<object,object> Items { get; set; }` is ASP.NET have it, so it is guaranteed not a bad design. I was going to suggest use `IDictionary<string,object>`, I think `IDictionary<object,object>` is better.
I wonder why woul

[2019-05-04 05:41] rdeago commented on #276
Yes, even with no setter, a module can still clear the dictionary. For this I see no viable solution but good practice.

ASP.NET, be it "classic" or Core, is part of a framework. Its target is, in a word, everybody. In such a context, it probably made little sense to initialize a dictionary (or a `Lazy<>`) for _every_ HTTP context.

EmbedIO, on the other hand, aims to make it simple to have an emb

[2019-05-08 07:03] rdeago commented on #282
@geoperez @bufferUnderrun @madnik7 @pvanloo and practically everyone using EmbedIO: sorry to bother you, I need some guidance at this point.

1. @geoperez: is there any particular reason why you used [`RequestUri.LocalPath`](https://docs.microsoft.com/en-us/dotnet/api/system.uri.localpath) instead of [`RequestUri.AbsolutePath`](https://docs.microsoft.com/en-us/dotnet/api/system.uri.absolutepath)?

[2019-05-08 15:50] rdeago commented on #282
Unfortunately this time I didn't do separate commits. Too much work, too little time. That's why I didn't commit anything yet: in this very moment, the thing doesn't even compile!

I can commit on my fork tomorrow morning if you want. Mind you, the code isn't finished, but the core classes are 99% done.

Areas of code that need your help include:

* reducing the number of classes copied from Mono,

[2019-05-08 16:50] geoperez commented on #282
@rdeago If you wish I can create a branch in this repo, yo merge your changes there, and we can collaborate from there. I just need to add you as a contributor.

[2019-05-08 17:30] rdeago commented on #282
That would be fantastic! Thanks a lot.

[2019-05-08 17:40] geoperez commented on #282
I just created the branch `v3.0`

[2019-05-08 19:33] geoperez commented on #285
I created the branch Issue285.

[2019-05-08 19:50] geoperez opened #286 "Upgrade Sample Webapp"
Upgrade Sample Webapp

[2019-05-08 19:52] geoperez commented on #285
Hi @jeffska can you check the following line in the PR:

https://github.com/unosquare/embedio/pull/287/files#diff-d9acba2bc05568513c9173a84ffc1e0bR51

Is this what are you expecting?

[2019-05-08 19:53] geoperez commented on #271
Can I close this issue?

[2019-05-08 21:35] jeffska commented on #285
Thanks @geoperez. Yes that's what I had in mind. I did see a couple of things:

1. The subProtocol parameter on IHttpContext.AcceptWebSocketAsync should probably have a null default value to match the implementation and keep it source-compatible. If you think it needs to be binary-compatible then you could add an overload for the new signature.

2. In the WebSocketServer abstract class, SubProtoco

[2019-05-09 05:07] blipk commented on #271
Yes, thank you for the response.

[2019-05-09 05:07] #271 closed

[2019-05-09 05:40] pvanloo commented on #282
I can see a use-case where case-sensitive ID's get used in a path (I wouldn't consider it good practice but still)

[2019-05-09 14:07] rdeago commented on #282
@geoperez: you're going to have a busy day. 😁

@pvanloo: thanks for your input.

Regarding case-sensitivity of URL paths, [RFC3986](https://tools.ietf.org/html/rfc3986#section-3.3) doesn't state whether they should be case-sensitive or not.

In "ancient" times, URL paths were more or less 1-to-1 mapped to either static files or CGI scripts; therefore, their case-sensitivity tended to be the same a

[2019-05-09 15:13] geoperez commented on #285
I updated the branch with your suggestions. For item 2, if the subprotocol is always sent by the client in the initial request, can we just read from the header? Can you check what I did?

[2019-05-09 21:36] mykemaas commented on #284
I'm seeing the same issue.  On device only, not in the simulator.  I'm using version 2.7.2 on iPadPro iOS 12.2.  My testing confirms that the socket endpoint becomes unreachable.  No exceptions are logged.  I've tried shutting down the webserver on suspend by setting the CancellationToken, and then starting it again after resume, but still unresponsive.  I've also tried starting up a new webServer

[2019-05-10 15:20] geoperez opened #289 "Session management for v3.0"
Let's talk about an usage scenario:

• request #1 asks for session data, so I give it a sessionInfo object obtained by loading data from storage
• request #2 asks for the same session _before_ request #1 is over, so what? Do i give it the same object, or do I load data again?
• request #1 finishes and I save session data: should I lock session data while I save it? In this case, request #2 will be

[2019-05-10 17:05] rdeago commented on #289
To clarify this for everyone: this issue was born as a conversation between @geoperez and myself, while working on version 3.0 of EmbedIO. What we're trying to achieve is this:

* The session object will be directly available as a property of `IHttpContext`

* The lifecycle of session objects will be entirely managed by the web server

* Session management requires two distinct helper objects:

[2019-05-10 17:14] geoperez commented on #289
@mariodivece, you wrote the initial session state management for EmbedIO. Do you have any thoughts?

[2019-05-11 18:08] rdeago commented on #289
EmbedIO v2 has no concept of session data storage, nor is there any way to implement it over the existing `IWebServer`, `IWebModule`, and `ISessionWebModule` interfaces.

A minimum viable solution for v2 would be as follows:

* add a `SaveSession` method to `ISessioWebModule`; this would be a no-op in `LocalSessionModule`, but may be implemented by other session modules to use e.g. SQLite;

* `Web

[2019-05-13 13:46] geoperez commented on #289
I like the idea to integrate LocalSessionModule with IHttpContext.Items. Are you still working on this right?

[2019-05-13 13:50] jeffska commented on #285
Hi @geoperez. The issues with automatically setting it from the client request header are that the client can send in a list of subprotocols in order of preference. The server-side can then select one of those to use for the session. The server can also choose not to support the requested subprotocol and not send the header back in the handshake.

[2019-05-13 13:55] geoperez commented on #285
I see, let me explore the event suggestion! Thanks

[2019-05-13 13:56] rdeago commented on #289
Of course I'm working on it. 😁 I've made advancements in other areas, too, but the modifications were kinda intertwined, so I couldn't just commit something in a "clean" manner. You can expect a commit by tomorrow with `LocalSessionModule` revived, plus more.

[2019-05-13 14:01] rdeago commented on #285
@jeffska, just out of curiosity, do you mean that the _same_ `WebSocketsServer` may choose to use different sub-protocols with different clients?

I'm admittedly new to all things WebSockets, hence some real-world use case would greatly help me here.

[2019-05-13 14:08] jeffska commented on #285
@geoperez Yes that's right. Subprotocols are technically negotiated on each connection. Here's an example from the RFC.

The handshake from the client looks as follows:
[code]
   The handshake from the server looks as follows:
[code]
In this case the client supports two subprotocols, and the server selected the one that it can support (`chat`). I don't have a feel for how common it is, but it's de

[2019-05-14 01:33] ice6 opened #290 "Don't depend on Windows' SSL implementation"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I want to expose https, netsh is really a mess. I embed a golang reverse proxy server to resolve this problem in production.

**Describe the solution you'd like**
 Is there a better way to do this in CSharp?

[2019-05-15 01:37] mykemaas commented on #284
Was able to solve by initializing the WebServer object with the HttpListenerMode.Microsoft option.  With this listener the server was able to be restarted after the iOS device awoke after being locked.  When using the HttpListenerMode.EmbedIO option, the server would close out when the application was suspended, but could never be restarted.  It appeared to be restarted, but the listener wouldn't

[2019-05-15 01:53] geoperez commented on #284
Interesting. My guess is that we have something in the following line not returning the loop of the listener:

https://github.com/unosquare/embedio/blob/master/src/Unosquare.Labs.EmbedIO/System.Net/HttpListener.cs#L92

or maybe here:

https://github.com/unosquare/embedio/blob/master/src/Unosquare.Labs.EmbedIO/System.Net/EndPointListener.cs#L31

[2019-05-15 06:48] bikeRiver opened #291 "Make endpoints available in WebSocketContext"
I can get IP from
[code]
How to Know IP  from
[code]
Thanks.

[2019-05-15 08:25] rdeago commented on #291
Hello @bikeRiver, thanks for your input.

From what I see, the only way to have the local and remote endpoints available even after the client disconnects is have them as properties of `IWebSocketContext`.

Since this would require breaking changes, I'm putting this in queue for EmbedIO v3.0.

A quick (and admittedly ugly) workaround could be as follows _(disclaimer: I've not tested it, so it may

[2019-05-15 08:59] bikeRiver commented on #291
Thanks. It work

[2019-05-15 10:30] rdeago commented on #291
@bikeRiver nice to know that.

I'm reopening the issue, however, because it is now flagged as an enhancement to be implemented in EmbedIO v3.0.

[2019-05-15 10:47] rdeago commented on #290
Unfortunately there seems to be no way around it. Not unless we stop using Microsoft's and Mono's `HttpListener`s. Maybe not even then.

Even [µHttpSharp](https://github.com/bonesoul/uhttpsharp), that handles the HTTP protocol on its own, relies on [`SslStream`](https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslstream) to handle encryption over TCP. Not a problem for them, since a

[2019-05-15 13:49] geoperez commented on #290
We can check also how Kestrel is handling this.

[2019-05-15 13:54] rdeago commented on #290
You're right @geoperez, I forgot to mention Kestrel!

But alas, [it uses `SslStream` too](https://github.com/aspnet/AspNetCore/blob/a3c8bd16f7c0eaa473364460e0354b2b0cc7fdad/src/Servers/Kestrel/Core/src/Internal/HttpsConnectionAdapter.cs#L85).

[2019-05-15 13:58] rdeago commented on #289
Yeah, just as I said. _Tomorrow._ :grin:

Sorry guys, these are busy days.

[2019-05-15 14:20] geoperez commented on #289
Don't worry xD

[2019-05-15 14:32] geoperez commented on #290
But how is Kestrel binding to the `address:port`. I only see how it loads the certificate.

BTW this is an interesting way to load a default cert:

https://github.com/aspnet/AspNetCore/blob/e4fbd598b56c5582335b427dedfb68495d1b8489/src/Servers/Kestrel/Core/src/KestrelServerOptions.cs#L145

[2019-05-15 17:48] geoperez commented on #285
@jeffska instead of adding an event, I just include an virtual method to the abstract class to allow the developer to make his own subProtocol handler.

https://github.com/unosquare/embedio/pull/287/commits/e12469dcb79ff515787ab19cdb8cb229f0eb4c7d

What do you think?

[2019-05-16 10:26] rdeago commented on #290
The topic of address / port binding deserves a conversation of its own, but in short Kestrel does not use `HttpListener`; instead, [it is meant to replace `HttpListener` entirely](https://github.com/dotnet/platform-compat/issues/88).

Besides, no matter how we load a certificate, `SslStream` under Windows uses [SSPI](https://en.wikipedia.org/wiki/Security_Support_Provider_Interface). Therefore, Ke

[2019-05-16 18:15] rdeago commented on #291
Closed by 54b5d231feab9729feb99f36baa5d484dbcdf389 (although I forgot to mention it in the commit message)

[2019-05-16 18:15] #291 closed

[2019-05-16 18:20] rdeago commented on #289
New session management added in d5fc7fc405d7394ffff342163a8e41a266c9a965 and slightly improved in 03ee94386f121c6a4ab7347b0b944c373dbfc37f.

In the end it's not what was discussed here. I tried to balance simplicity and robustness. Any feedback is highly appreciated.

[2019-05-16 18:20] #289 closed

[2019-05-20 13:31] geoperez commented on #285
Status?

[2019-05-20 14:11] rdeago commented on #285
Subprotocol support for v3.0 is coming in next commit.

In short:

* every `WebSocketServer` will have to declare which subprotocol(s) it supports, if any, by calling `AddProtocol(string)`, or `AddProtocols(params string[])`, or `AddProtocols(IEnumerable<string>)` in the constructor;

* the first requested subprotocol that is also supported will appear in the accept response;

* both the accepted

[2019-05-20 15:11] rdeago opened #294 "Add support for WebSocket extensions"
EmbedIO v2 contains _some_ support for WebSocket compression when using `HttpListenerMode.EmbedIO`, but it's always disabled. In version 3.0 it's going to be removed.

We should add _proper_ support for WebSocket extensions in a future version. For now I'm adding this to milestone x.0.0.

[2019-05-20 19:15] #246 closed

[2019-05-21 13:03] rdeago opened #295 "WebSocket support in EmbedIO v3.0"
WebSocket support has changed (hopefully for the better) in EmbedIO version 3.0. Here's a brief summary of what's changed since version 2.

#### _"I'm already bored. Show me the code!"_

Your wish is my command. Here's the new `IWebSocketContext` interface:
[code]
In short, all information that may be gathered from the opening handshake's HTTP context is readily available. The new `IWebSocketConte

[2019-05-21 13:30] rdeago commented on #285
WebSocket support in version 3.0 is now tracked in #295.

[2019-05-21 13:48] bufferUnderrun opened #296 "Provide a more complete release note"
### **Describe the bug**
I am using EmbedIO on many projects and updating to each new release has become a nightware due to lack of informations.

I was using the v2.2.9 and upgrading v2.7.3, there are some breaking changes. Example :

**Update WebApiController**
[code]

So, i have to rewrite my controller.action and extension method.

**Add Items to IHttpContext**
Why this new property ?

**Githu

[2019-05-21 14:57] geoperez commented on #296
Hello @bufferUnderrun

I'm sorry for the inconvenience, we have been making too many changes and too little documentation. And we are going to fix this issue.

Regarding your questions.

1 - I would improve and sync the current release notes (but I don't like the idea to add them to the README file), and include sample code as you request.
2 - EmbedIO v3.0 will be a BREAKING CHANGE in many ways. B

[2019-05-21 15:07] bufferUnderrun commented on #296
@geoperez i agree, release note and readme are 2 separated files because 2 differents goals. I'll take time to dig deeper in the v3 and read migration notes.

Thanks for your answer

[2019-05-21 15:19] rdeago commented on #296
@bufferUnderrun first of all I want to thank you. I mean, really! I've been scared away from enough open-source projects suffering from exactly the same issues, to know that too seldom someone takes the time to speak up about them in the interest of everyone.

Yes, we need release notes, as well as more attention to documentation as a whole.

Yes, we also need clearer commit messages.

Yes, we nee

[2019-05-21 15:25] geoperez commented on #296
![image](https://user-images.githubusercontent.com/1775792/58109141-b1dda980-7bb2-11e9-8500-ceb67b30f047.png)

[2019-05-23 18:04] #285 closed

[2019-05-24 05:56] #260 closed

[2019-05-24 07:40] bufferUnderrun commented on #295
@rdeago   You've done a great job !

So with this new version, can you confirm that : if i save data in the user Session from HttpContext (RestAPI), i can retrieve it from the websocket ?

[2019-05-24 08:13] rdeago commented on #295
@bufferUnderrun thanks!

Yes, you can exchange session data between WebSocket servers and other modules.

If you use `LocalSessionManager` (the v3.0 replacement for `LocalSessionModule`) all requests using the same session will be using _the same session object_, allowing for real-time data exchange between WebSocket servers and other modules, e.g. web API handlers.

Other session managers (there

[2019-05-24 08:13] #295 closed

[2019-05-24 14:14] rdeago opened #299 "Rationalize namespaces"
I propose to have namespaces related to API functionality, rather than code items.

My rationale is that namespaces should, in general, reflect sets of functionality: routing, serving files, WebSocket handling, web APIs, and so on.

The `EmbedIO.Modules` namespace is currently polluted with base types and support types pertaining to only one kind of module: `BasicAuthenticationModuleBase`, `BasicA

[2019-05-24 15:03] geoperez commented on #299
I'm fine changing the namespaces, we are introducing a lot of breaking changes in the next version. So namespace is a trivial side effect.

[2019-05-24 15:03] rdeago commented on #299
Great! Will do.

[2019-05-25 06:24] rdeago commented on #299
Closed by 32f909f542a2f4d77a138c141bd9d93426f70370.

Changes are summarized below:

* Refactor namespaces as per original post.
* Prepend `System` to the names of `System.Net` façades.
* Rename `IHttpBase` to a more specific `IHttpMessage`.
* Move WebSocket-related types to `EmbedIO.WebSockets`:
  * the final "s" is for consistency with `System.Net.WebSockets`;
  * not `EmbedIO.Net.WebSockets` bec

[2019-05-25 06:24] #299 closed

[2019-05-25 12:39] geoperez commented on #299
Thanks for the summary!

[2019-05-26 16:24] MajidSafari commented on #97
@Connum Hi , are you solve this problem ?

[2019-05-26 17:26] Connum commented on #97
No, unfortunately not. I ended up not using embedio at all.

[2019-05-26 17:30] MajidSafari commented on #97
so ,

can help me for live stream , use other code !?

[2019-05-27 00:50] geoperez commented on #97
@rdeago any idea how to pass the interruption of the network connection to the WebModule?

[2019-05-27 03:26] Genteure commented on #97
Maybe CancellationToken?
Create a new `CancellationTokenSource` per connection, call `Cancel` when connection is closed.
[`CancellationTokenSource.CreateLinkedTokenSource`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtokensource.createlinkedtokensource) can be used to "merge" the global `CancellationToken` and the per connection token, so it's not a breaking change.

[2019-05-27 05:01] Genteure opened #300 "Add custom global exception handler"
**Is your feature request related to a problem? Please describe.**
Currently when a module throw a exception, both 2.x and 3.x return html containing call stack of the exception with no method to disable it. While it is useful when developing, it's not a good practice when deploying.

https://security.stackexchange.com/q/84465

https://github.com/unosquare/embedio/blob/ce1eb941740292c46d5126921888

[2019-05-27 05:57] rdeago commented on #97
EmbedIO [always sets the `IgnoreWriteExceptions` property to `true` on a HTTP listener](https://github.com/unosquare/embedio/blob/ce1eb941740292c46d51269218889066357386a1/src/Unosquare.Labs.EmbedIO/WebServer.cs#L259), which could explain why writing on the response stream never fails, as it should do upon client disconnection. @geoperez is there any particular reason for this?

[2019-05-27 08:27] rdeago commented on #300
Hello @Genteure, thanks a lot for your input!

Exception handling is a topic that was bound to come up shortly in version 3.0. Latest commits brought some news:
* A `OnExceptionAsync` callback in modules to adjust behavior for the different purposes of different modules (for example, a REST client is hardly doing anything with a HTML description of an exception).
* No more JSON-encoded exceptions

[2019-05-27 08:49] rdeago commented on #300
Regarding encrypted exceptions: they'd be a cool feature indeed, but making them part of EmbedIO's core may be overkill.

There would be two ways of sending out encrypted exception information in either a HTML page or a text response:

1. Exception information > JSON > GZip > TripleDES > Base64 (feel free to substitute any of these with your preferred serialization / compression / encryption / enc

[2019-05-27 13:37] geoperez commented on #97
No particular reason.  We can add this as part of the WebServer options.

[2019-05-27 13:43] geoperez commented on #300
@rdeago What do you suggest to add to v2.0 for better error handler? Obviously `OnExceptionAsync` is out of the discussion but the proposed callback to WebServerBase can add it without breaking the current behavior.

[2019-05-27 13:55] rdeago commented on #300
I concur. I still think it'd better be asynchronous, but it's not extremely important.

By the way @Genteure, what's the `bool` parameter for in your callback signature? Verbosity, maybe?

[2019-05-27 14:10] rdeago commented on #97
Please be sure that client disconnection just cause a DBG-level log. No reason to log a stack trace, as it may happen at any moment and is not caused by anything in server-side code.

The default value in v2 should probably be `true` for compatibility, but in v3 I'd make it `false` because it looks more predictable.

[2019-05-27 14:25] geoperez commented on #300
The boolean is the response status. The proposal is null handler or return
false then use default handler.

On Mon, May 27, 2019, 8:55 AM Riccardo De Agostini <notifications@github.com>
wrote:

[2019-05-27 15:02] rdeago commented on #300
Which response status? Do you mean whether the request has been handled or not?

(I'm sorry, today is more... Monday than a usual Monday)

[2019-05-27 15:09] geoperez commented on #300
Yeah, in fact, the property should look like:

`Func<IHttpContext, Exception, Task<bool>> UnhandledException { get; set; }`

[2019-05-27 15:16] geoperez commented on #300
I created a POC of what could be easily added to the current v2.0

[2019-05-27 15:17] rdeago commented on #300
Now that makes perfect sense! Thanks for clarifying.

[2019-05-27 17:05] Genteure commented on #300
Oops, you're right. I don't write `Func<>` very often, I thought it was `Func<TResult, T1, T2>`.

[2019-05-28 08:04] bufferUnderrun opened #302 "Custom MimeType"
Since few version of EmbedIO, Constants.MimeTypes is IReadOnlyDictionary and i can't be modified.

I used to add a custom extension ".tag" "text/html", which is not part of any RFC but used by the https://riot.js.org/. I had to do it for browsere correcttly handle this content type.

Can this extension be added to Constant ?

[2019-05-28 08:48] rdeago commented on #302
Hello @bufferUnderrun, thanks for finding a use case for custom MIME types in EmbedIO.

I'm not exactly comfortable with the idea of adding an application-specific type to the standard MIME type dictionary. There is a way to support custom  types, though. What if there were a custom type dictionary and some utility functions that can find a MIME type by searching in both the standard and custom ty

[2019-05-28 08:57] bufferUnderrun commented on #302
I agree that adding specific extension to Constant is not a good thing but it would have a way to add custom one.

In previous version of EmbedIO, i had this simple code to do the job before server starts :
[code]

[2019-05-28 09:23] bufferUnderrun commented on #302
@rdeago i'm joining you on slack, i've never used before. So let's go.

[2019-05-28 10:31] rdeago commented on #302
Great! As soon as some details have been discussed, I'll post a summary here.

[2019-05-28 16:42] #302 closed

[2019-05-28 20:46] geoperez commented on #300
This feature is already published for v2.0 in the nuget version 2.8.0.

[2019-05-28 20:46] geoperez commented on #302
The new nuget version 2.8.0 is out!

[2019-05-29 08:17] rdeago commented on #302
I promised a summary of our discussion on Slack, so here it is. You never know if / when someone needs to look at a past issue!

---

As it turned out, `DefaultMimeTypes` being read-only was a bug I introduced in a7f0adaca474b6235137f82e4155011b4108ee53. Due to the sheer size of the commit, and some undeserved trust in yours truly, @geoperez approved it without noticing the breaking change.

Commi

[2019-05-31 13:06] spoissant opened #304 "Controllers re-created on every request"
**Describe the bug**
I`ve got a very simple WebApi implementation and I noticed a new Controller object is created every time a new Request is made to that Controller. Is that a bug or the intended behavior?

**To Reproduce**
Here is my application code that uses a single Controller:
[code]

And the controller is pretty straightforward as well:
[code]

Now every time I send a request to `/api/pdft

[2019-06-01 07:05] rdeago commented on #304
This behavior is by design.

Controllers should only contain objects that have the same lifetime as a request: database connections, for example.

If you need to use your PDF converter in all controllers, one thing you can do without too many modifications to your program is using a factory lambda to build a controller:
[code]

I assume that the `PdfConverter.ConvertToWord` method may be called at

[2019-06-01 15:04] geoperez commented on #304
Excellent response, also v3 has the same design.

[2019-06-02 13:57] timur4000 opened #305 "need an example of using embedio web-api server"
Please, provide an example of using HTTP-response of embedio web-api server from HTTP-Client side.

[2019-06-03 14:42] geoperez commented on #305
Hello,

You can use any Http Client for .NET, for example, `System.Net.Http` namespace includes `HttpClient` (https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=netframework-4.8)

A sample source code:

[code]

[2019-06-03 22:15] madnik7 opened #306 "Rebinding web server to new URL"
**Is your feature request related to a problem? Please describe.**
My app needs to serve both localhost and other machines due to users selection. Also, windows firewall exception raises if it starts listening on non localhost. I use $"http://+:{portNumber}/" for public and $"http://localhost:{portNumber}" for local.
For security and also preventing firewall to ask for admin permission when it is

[2019-06-04 04:29] rdeago commented on #306
Hello @madnik7,

starting _the same `WebServer` object_ more than once is not possible.

However, nothing prevents you from creating a new one with a different URL prefix.

[code]
_(DISCLAIMER: I did not test the above code. It's just a proof of concept.)_

[2019-06-05 13:25] rdeago commented on #290
For future reference: a [managed wrapper for OpenSSL](https://github.com/openssl-net/openssl-net) exists. It requires the unmanaged OpenSSL libraries, of course, and it seems to be for .NET 2.0, but it _may_ be a starting point.

[2019-06-05 13:58] timur4000 commented on #305
Thank you!

[2019-06-05 13:58] #305 closed

[2019-06-05 22:00] madnik7 commented on #306
It raises many issues. some object disposed exceptions than I finally managed to handle them by un-registering modules and proper clean-up, but strange things happen at end, after few random restart the server status is working but it looks it freezes and stop responding.

and no response after this.

[2019-06-05 22:24] rdeago commented on #306
Unregister modules? That sounds strange. When a `WebServer` is disposed all disposable modules are disposed automatically.

If you create a new `WebServer` each time, and only start it once, there should be no problems. Unless, of course, there's a quite nasty bug somewhere.

Can you share an example of failing code?

[2019-06-05 22:41] madnik7 commented on #306
The code is simple as you are. somehow it is too much to share the other parts. I didn't unregister any module at first, but then i found it looks the server disposes some items while some request still on fly, so while the server releasing objects it tries to process some requests. I just unregister modules to make sure there is no further processing.

Nevertheless, without registering any module

[2019-06-05 22:56] rdeago commented on #306
Looks like you are restarting the same server object. This is a scenario that isn't really supported.

The server still trying to proces requests after RunAsync has returned leaves me perplexed either way.

Try this and see if anything changes:
[code]

[2019-06-05 23:08] madnik7 commented on #306
I am trying close the old one and create a new one. I can't understand by
restarting same server object as there is no method for it

the GC.Collect doesn't solve the problem.

On Wed, Jun 5, 2019 at 3:56 PM Riccardo De Agostini <
notifications@github.com> wrote:

[2019-06-05 23:15] rdeago commented on #306
OK, forget about `GC.Collect()`. It's nice to know that it doesn't change things, anyway.

Can you isolate web server creation and configuration in a method returning a `WebServer` (if you haven't already done it) and post your `Start` method here?

[2019-06-05 23:19] madnik7 commented on #306
Here is the code

[code]

[2019-06-05 23:28] rdeago commented on #306
Or try this (a slightly modified version of the code in my first reply):
[code]

[2019-06-05 23:34] rdeago commented on #306
Sorry, I saw your reply just now.

Which requests does your client send? Or is there the same problem even without receiving any request?

[2019-06-05 23:41] madnik7 commented on #306
Client request server restart, so I created thread and the delay to prevent restart from the same request.
The entire UI exists in client so there is no way to request restart.

After two or three restart i can see the last report in the log
[WebServer] Started HTTP Listener

And the subsequent requests aren't processed, I set a breakpoint in the RegisterController and I see the server doesn't run

[2019-06-05 23:55] rdeago commented on #306
I'll have to look into it a bit deeper.

@geoperez any thoughts?

[2019-06-06 14:12] geoperez commented on #306
I need to review it in VS.

[2019-06-10 18:36] #304 closed

[2019-06-10 18:37] geoperez commented on #300
Can I close this issue?

[2019-06-10 18:37] #296 closed

[2019-06-10 18:41] #259 closed

[2019-06-10 19:57] madnik7 opened #308 "Supporting System.Net.Http.HttpRequestMessage"
**Is your feature request related to a problem? Please describe.**
I had a module which accept System.Net.Http.HttpRequestMessage and returns System.Net.Http.HttpResponseMessage.

I wish embedio supports converting to and from these objects for more compatibility,

**Describe the solution you'd like**
Having two methods such as ToHttpRequestMessage  and FromHttpResponseMessage

**Describe alternat

[2019-06-10 21:02] rdeago commented on #308
Hello @madnik7.

I totally agree. If we could use HttpRequestMessage and HttpResponseMessage, we could also use derive a client class from HttpMessageInvoker to test EmbedIO. Heck, we could test EmbedIO using [Flurl.Http](https://flurl.dev/)!

That said, I have already tried and failed at that. The exact details escape me at the moment, but I remember I needed access to some internal methods and/o

[2019-06-10 21:07] madnik7 commented on #308
I also believe that reflection should not be used in this scenario unless these classes already lack something important which it may lead us that they haven't designed properly.

[2019-06-10 23:06] rdeago commented on #308
Well, they _are_ designed properly, _for their intended use_.

Please remember that we're talking about the same people that wrote an `internal` class providing all HTTP header names as constants. Because, you know, who might ever need them outside Microsoft? 🤔

[2019-06-12 07:46] bufferUnderrun opened #309 "MimeTypes.DefaultMimeTypes readonly in v2.9.0"
The last commit and v2.9.0 introduce a breaking change (`MimeTypes.DefaultMimeTypes` is `IReadOnlyDictionary` whereas it was `IDictionary`) that as already been discussed in https://github.com/unosquare/embedio/issues/302

Can you revert the part where `MimeTypes.DefaultMimeTypes` is `IDictionary` ?

Thanks.

[2019-06-12 15:12] geoperez commented on #309
You can check the new version 2.9.1.

[2019-06-14 13:16] spoissant commented on #304
Thanks a lot for your quick response and clear explanation of the behavior :)

[2019-06-14 15:12] bufferUnderrun commented on #309
thanks for the revert ! All clear :+1:

[2019-06-14 15:12] #309 closed

[2019-06-21 17:35] #270 closed

[2019-06-25 21:19] k3z0 opened #310 "Error when requesting a wav file using chrome 🔉🚫"
**Describe the bug**
Getting ERR_CONTENT_DECODING_FAILED when requesting for a wav file using chrome.

![imagen](https://user-images.githubusercontent.com/5455304/60134259-b9b9dc00-9764-11e9-9f80-9269046c30e1.png)

![imagen](https://user-images.githubusercontent.com/5455304/60134115-6b0c4200-9764-11e9-9b2e-ddbc10a23bd0.png)

[2019-06-25 21:25] k3z0 opened #311 "Web Socket Bad Request - FireFox"
**Describe the bug**
Getting error 400 (Bad request) when using web sockets in Firefox.

![imagen](https://user-images.githubusercontent.com/5455304/60134680-ac512180-9765-11e9-9f65-b2c6e9b9d7a0.png)

[2019-06-26 04:42] rdeago commented on #310
Thanks a lot @k3z0 for your input!

The problem here seems to originate in content encoding negotiation: Chrome is clearly stating, via the `Accept-Encoding` header, that it will not accept anything but uncompressed data, but it is _probably_ responded to with gzipped data.

Any chance you can post the response headers too?

Meanwhile, I'm writing some sorely needed unit tests for content encoding

[2019-06-26 05:25] rdeago commented on #311
Thanks @k3z0 for your input!

Apparently there was no agreement over the subprotocol to use.

EmbedIO v3 requires that the `Sec-WebSocket-Protocol` request header specifies one of the subprotocols declared via the `WebSocketModule.AddProtocol` method.

If `WebSocketModule.AddProtocol` is not called, only requests _not_ specifying any subprotocol are accepted.

The `Sec-WebSocket-Protocol: undefine

[2019-06-26 07:43] rdeago commented on #310
Unit testing _did_ help. 😁

A bug in how `Accept-Encoding` request headers are parsed was found and fixed in f8b4e0d9fd7c28344f102e1e56426f3119692fbc.

@k3z0 you may either check out the v3.0 branch and build a "fresh" `EmbedIO.dll` yourself, or wait for @geoperez to push next preview to NuGet. Either way, please let us know whether the problem is solved.

[2019-06-26 15:51] jusovsky opened #313 "No exception raised to the surface from WebServer.RunAsync() when a SocketException is thrown inside"
Server.RunAsync() does not throw any exception when binding fails.  The only way I was able to catch this was to add a continuation and look for the exception, there.
I don't know exactly how to repro this issue because I don't know the reason it even occurred on my system.  I ran across this issue when I tried binding to port 50635 and got a SocketException with message "An attempt was made to ac

[2019-06-26 16:21] geoperez commented on #310
I updated the Nuget, let me know if it is resolved.

[2019-06-27 05:22] rdeago commented on #313
Hello @jusovsky, thanks for your input!

The exception is not "hidden" in any way: it just occurs in the execution context of the `Task` returned by `RunAsync`. If you want to catch an exception thrown by `RunAsync` (or by any asynchronous method) when using `Task.Run`, without having to wait for the returned `Task` to terminate, attaching a continuation to it is exactly the thing to do.

If you u

[2019-06-27 08:23] rdeago commented on #290
Mono also has [managed TLS support](https://www.mono-project.com/docs/about-mono/releases/4.8.0/#tls-12-support) using Google's [BoringSSL](https://boringssl.googlesource.com/boringssl/). The latter is, in Google's own words, an OpenSSL fork "not intended for general use". I guess there has to be a reason why Mono uses it, other than thinking different without being Apple. Anyway, one more bit of

[2019-06-27 11:43] rdeago commented on #300
Since the requested feature has been implemented in both version 2 and 3, I'm closing this.

@Genteure feel free to reopen if you think there's something missing.

[2019-06-27 11:43] #300 closed

[2019-06-27 11:45] rdeago commented on #282
All the described features (plus others added along the way) have been implemented.

EmbedIO v3.0 has been in preview on NuGet for some days.

I'm closing this issue. If there is any problem with the new version, it is more appropriate to open a new issue, as this one is already taking too long to load in my browser. 😄

[2019-06-27 11:45] #282 closed

[2019-06-27 14:43] jusovsky commented on #313
Argh.  You are right.  I've been doing async/await so heavily that I forgot how plain old tasks handled exceptions!  Thank you for the refresher.  :\

[2019-06-27 14:43] #313 closed

[2019-06-27 14:58] rdeago commented on #313
You're welcome. We've all been there. (Me? More times than I'm willing to admit! 😁)

You're also welcome to [join EmbedIO's Slack workspace](https://join.slack.com/t/embedio/shared_invite/enQtNjcwMjgyNDk4NzUzLWQ4YTE2MDQ2MWRhZGIyMTRmNTU0YmY4MmE3MTJmNTY4MmZiZDAzM2M4MTljMmVmNjRiZDljM2VjYjI5MjdlM2U), where you can tell us more about how you use EmbedIO and get more immediate support, and to try out [E

[2019-06-27 15:34] Genteure commented on #313
That is not the case anymore from .NET Framework 4.5

https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.taskscheduler.unobservedtaskexception

[2019-06-27 16:30] rdeago commented on #313
@Genteure you're right, thanks for the heads-up!

[2019-06-27 19:15] Genteure commented on #290
I don't think so? Isn't `SslStream` itself is sufficient to provide SSL/TLS encryption, at any platform, with the possibility to do SNI and client certificate?

The [GitHub search link](https://en.wikipedia.org/wiki/Security_Support_Provider_Interface) shows only three result (at least as of today, GitHub only search on master branch), and they have nothing to do with Kestrel and SSL.
![image](htt

[2019-06-27 19:28] Genteure commented on #290
During test I also find out currently if SSL handshake failed for some reason, a common one is client doesn't trust server's certificate, entire `WebServer` crashes.

proof of concept code:
[code]
[code]

## Request with curl without `-k`

[code]
EmbedIO 2.9.1 on Ubuntu 18.04 LTS with .NET Core 2.1 throws:
[code]

## Request with curl with `-k`
[code]

[2019-06-28 14:36] rdeago commented on #290
@Genteure the problem with `SslStream` *is* that it uses SSPI!

SSPI (which `http.sys` and `httpapi.dll` use under the hood, or implement themselves, I don't know and it's not relevant here) is why we have to use `netsh`, which is a major pain in the posterior (admin rights required, different command line according to Windows language...)

The idea was to try and recompile .NET COre's or Mono's T

[2019-06-28 14:37] rdeago opened #314 "If SSL handshake fails, the entire WebServer crashes."
Citing @Genteure, originally commenting on #290:

---

During test I also find out currently if SSL handshake failed for some reason, a common reason is client doesn't trust server's certificate, entire `WebServer` crashes.

proof of concept code:
[code]
[code]

## Request with curl without `-k`

[code]
EmbedIO 2.9.1 on Ubuntu 18.04 LTS with .NET Core 2.1 throws:
[code]

## Request with curl with

[2019-06-28 19:34] Genteure commented on #290
Can you write a example code to elaborate why SSPI would need to use `netsh`?
I can't find any result on Google with SSPI and netsh together that don't involve "httpapi" "httpsys" "Windows Web Services".

Here's my POC, it runs on .NET Core Windows, without netsh.
Tested with openssl as client: `openssl s_client -connect 127.0.0.1:8877`
[code]

[2019-07-03 18:26] k3z0 commented on #310
Hi,

I just test the preview4 and the problem seems to be solved.

[2019-07-03 18:26] #310 closed

[2019-07-03 21:03] k3z0 commented on #311
Thanks @rdeago

I'm specifying a subprotocol and now the web socket is working.

[2019-07-03 21:03] #311 closed

[2019-07-08 14:58] geoperez commented on #286
WIP

[2019-07-10 13:09] mr-smidge opened #315 "ObjectDisposedException thrown for disposed Socket in HttpConnection"
**Description**

We have come across a use of a disposed Socket object, as shown in the stack trace below:

[code]

This is using version 2.7.3 of EmbedIO from NuGet.

**Reproducing**

This error has appeared only once for us in months of heavy usage of EmbedIO, and I have not been able to reproduce it in any reliable way.  This suggests there may be a race condition or something more complicated

[2019-07-10 15:03] rdeago commented on #315
Hello @mrsmidge, thanks for your input.

Based on the stack trace you provided, it seems that the exception was thrown _even before EmbedIO started processing the request_ (as it is the only moment when `HttpHandler.HandleClientRequest` calls the `HttpConnection.RemoteEndPoint` getter). This leaves quite a tiny time frame for the socket to "disappear under our noses".

What I find annoying about t

[2019-07-10 15:39] mrsmidge commented on #315
Thanks, @rdeago.  We'll update when the NuGet package is out, and I'll report back here if/when the issue occurs again.

[2019-07-10 16:29] geoperez commented on #315
Hi @mrsmidge  you can check nuget version 2.9.2 (https://www.nuget.org/packages/EmbedIO/2.9.2)

[2019-07-10 19:00] rdeago commented on #315
@mrsmidge you're welcome! You're also welcome to [join EmbedIO's Slack workspace](https://join.slack.com/t/embedio/shared_invite/enQtNjcwMjgyNDk4NzUzLWQ4YTE2MDQ2MWRhZGIyMTRmNTU0YmY4MmE3MTJmNTY4MmZiZDAzM2M4MTljMmVmNjRiZDljM2VjYjI5MjdlM2U) where you can get more immediate help, share your use cases, and help us shape a brighter future for EmbedIO!
(Not to mention get help in upgrading your applicati

[2019-07-12 17:32] #249 closed

[2019-07-13 09:22] kooboo-binbin opened #317 "how to write a controller for text/event-stream"
how to write a controller for text/event-stream

[2019-07-13 10:19] rdeago commented on #317
If you are talking about Server Sent Events, I'm no expert, but it should be nothing special: just set the content type of the response to `text/event-stream`, then every time you send some data append an extra line feed and flush the response stream.

This quick (and admittedly untested) example will send the number 42 as data every 2 seconds, until you stop the server. It's written for EmbedIO v

[2019-07-14 00:46] kooboo-binbin commented on #317
@rdeago thank you that is what I need.
one new question. How to check whether the client connection is closed (the browser is closed).

[2019-07-14 06:00] rdeago commented on #317
When the client closes the connection, next attempt to send data will throw a `HttpListenerException` that you can catch. This should work regardless of the version of EmbedIO you use.

EmbedIO v3 gives you a somewhat nicer alternative: you can define a callback that will be called when the HTTP context is closed.

Let's say, for example, that we want to implement a counter of how many clients are

[2019-07-15 09:52] kooboo-binbin commented on #317
Thank you.

[2019-07-15 09:52] #317 closed

[2019-07-16 19:56] geoperez commented on #315
@mrsmidge is the nuget working fine?

[2019-07-16 20:07] mrsmidge commented on #315
It took us several months of heavy EmbedIO usage before we even saw this error once, so we might need a little more time :smile:.  I'll try to roll out 2.9.2 to more of our apps later this week and will report back if anything interesting happens!

[2019-07-17 12:26] AbeniMatteo opened #318 "Startup deadlock"
**Describe the bug**
Deadlock if there is an error during server startup (in this case trying to bind multiple instances to the same port)

**Cause**
`server2.Start` waits [here](https://github.com/unosquare/embedio/blob/4f21893dac043c2875fed1c00b76830649071da3/src/EmbedIO/WebServerExtensions.cs#L26) for `Listening` state but state remains `Loading`.

**To Reproduce**
Run the following snippet:
[c

[2019-07-17 12:37] AbeniMatteo opened #319 "FileModule.Dispose exception"
**Describe the bug**
Disposing a faulted or not started WebServer that has a FileModule attached throws `System.ArgumentException`.

**Cause**
The exception is thrown [here](https://github.com/unosquare/embedio/blob/4f21893dac043c2875fed1c00b76830649071da3/src/EmbedIO/Files/FileModule.cs#L262) probably because `_cacheSection` is not yet initialized.

**To Reproduce**
Run the following snippet:
[co

[2019-07-17 22:31] rdeago commented on #318
Hello @AbeniMatteo, thanks a lot for your input.

Good catch, by the way!

The issue has been fixed in https://github.com/unosquare/embedio/commit/1bde6311263b8534425ca84721439c6f93e79257. Referring to your example code, now the call to `server2.Start` returns and `server2.State` equals `WebServerState.Stopped`.

[2019-07-17 22:46] rdeago commented on #319
Another good catch, @AbeniMatteo, thanks a lot!

The issue has been fixed in https://github.com/unosquare/embedio/commit/09610482197af973285b3e30bbe628853f58e98d.

[2019-07-18 01:41] geoperez commented on #319
Also, you can check the nuget preview 8.

[2019-07-18 01:42] geoperez commented on #318
Also, you can check the nuget preview 8.

[2019-07-18 14:08] AbeniMatteo commented on #319
Preview 8 contains a bug fixed with [this commit](https://github.com/unosquare/embedio/commit/3216ee2ac6ad95db91999f98d0e3be6079803e7c), i'll test with the next preview. Thanks.

[2019-07-18 15:22] rdeago commented on #308
With EmbedIO v3.0 (currently in preview) the new `EmbedIO.Testing` package provides a `HttpClient` derived class that works with `TestServer`. So at least testing can be performed with standard `HttpRequestMessage` and `HttpResponseMessage`.

This issue remains open because it refers to overall utilization of `HttpRequestMessage` and `HttpResponseMessage`, not just for testing; nonetheless, I thou

[2019-07-18 19:04] rocketraman opened #320 "Reading request with `Transfer-Encoding: chunked` not working"
**Describe the bug**
A request to an embed.io server with a chunked transfer encoding does not read the correct input data.

**To Reproduce**
Start an embed/io server that reads some input and responds with the sha1 hash.

[code]

Call this server, passing the `Content-Length`:

[code]

The correct SHA1 hash is received. Now, call it again using the chunked transfer encoding:

[code]

and note now

[2019-07-18 19:56] geoperez commented on #319
Preview 9 is ready.

[2019-07-18 19:56] geoperez commented on #320
Hi, quick question. Can you test the same use case with the new EmbedIO 3?

[2019-07-18 21:34] rocketraman commented on #320
@geoperez Sorry, no. I briefly tried to convert my app from 2 to 3-preview8 but had no success. I get a null reference on `webApi.registerController`.

[2019-07-18 21:53] geoperez commented on #320
Yeah, that is fixed. Please use preview10.

[2019-07-18 23:19] AbeniMatteo commented on #319
Works fine now, thank you.

[2019-07-18 23:19] #319 closed

[2019-07-18 23:21] #318 closed

[2019-07-19 00:23] AbeniMatteo opened #321 "Request: Improve WebModuleBase.IsFinalHandler"
I understand why the default is true but i think it should be abstract or well document or at least logged.
The majority of the cases that require a custom implementation of WebModuleBase will need to set the value to false.

[2019-07-19 04:01] rocketraman commented on #320
@geoperez  I didn't see preview10 in nuget, but preview9 solved the null ref issue. I can confirm that version has the same problem.

[2019-07-19 04:11] rocketraman opened #322 "EmbedIO v3: Setting response ContentType causes error in log (but works)"
**Describe the bug**

Using EmbedIO v3 preview9.

When attempting to set the ContentType of a response, doing something like this:

[code]

the code seems to work, but a very scary looking Exception is printed to the logs:

[code]

[2019-07-19 08:22] rdeago commented on #321
I think making it abstract could be a good idea, but I frankly don't see why the majority of custom Web modules would need to set `IsFinalHandler` to false.

Just to clarify: `IsFinalHandler` does not mean that subsequent modules will not be invoked _at all_. It just means that a module "owns" its `BaseUrlPath`, so it will _normally_ handle requests whose URL path starts with the module's `BaseUrl

[2019-07-19 08:25] rdeago commented on #321
@geoperez @mariodivece @k3z0
@bufferUnderrun @madnik7 @Genteure @jusovsky @mrsmidge
(sorry if I forgot someone)

Any thoughts?

[2019-07-19 08:37] rdeago commented on #320
As a matter of fact, the HTTP listener and related classes is probably the only part of EmbedIO that has seen little to no change between v2 and v3.

@rocketraman does it happen with both kinds of HTTP listener? Could you try initializing you server with `HttpListenerMode.Microsoft`, then with `HttpListenerMode.EmbedIO`, and tell us whether the observed misbehavior happens with both of them, or ju

[2019-07-19 08:40] rdeago commented on #322
On second thought, if this happens in a web API controller method, you can just remove the `return true;` and change the method's return type to `void` (or `Task` if it is asynchronous).

[2019-07-19 09:00] AbeniMatteo commented on #321
I wrote this request because i already have to deal with it, i'll describe what i've encoutered:

I have the following authentication module (filter):
[code]

In this case i explicitly return false telling the WebServer that i don't have handled the request but `IsFinalHandler` by default will block all other modules setting `Handled = true`.
I think most new users (like me) will implement a filte

[2019-07-19 10:02] InquisitorJax opened #323 "Question: WebSocket server setup for device to device comms"
I'm trying to setup mobile device to device communication via websockets.

When connecting via ClientWebSocket - the url it expects is ws://* - but when specifying the host server url, that is not valid, and it will only accept http://*.
ie: Host server will only accept http*, and ClientWebSocket will only accept ws*

Is there something I'm missing here?
Is it possible to connect using System.Net.

[2019-07-19 14:07] rdeago commented on #321
Looking at the code you posted I'd say that yes, you are in fact a little stuck with v2 logic. That's not your fault: the new `RequestHandlerCallback` signature and the `IHttpContext.Handled` property, together with all related modifications, are still pretty new and sorely need documentation.

A version of your code in "v3-style" would be as follows:

[code]

This way, if the client provides a va

[2019-07-19 14:23] rdeago commented on #323
You can use `http://*` as your WebServer URL prefix, it will respond to `ws://*` requests just fine.

The `ws` scheme tells the client to make a WebSocket request. As per [the WebSocket protocol](https://tools.ietf.org/html/rfc6455), such a request starts as a HTTP request and the connection is then "switched" to WebSocket. The server is a HTTP server, the request (at least in its initial phase, c

[2019-07-19 14:24] rdeago commented on #314
@geoperez can you shed some light on this?

[2019-07-19 14:27] InquisitorJax commented on #323
thanks @rdeago ... good to know that's not the cause of my connection issues. I'm new to this kind of p2p protocol comms :P

[2019-07-19 14:28] #323 closed

[2019-07-19 14:35] rocketraman commented on #320
@rdeago  With both v2 and v3 + `HttpListenerMode.Microsoft`, I get the following error when calling `Wait` on the result of `RunAsync`, and note that `RunAsync` doesn't actually seem to start a server -- the logs just show "Cleaning up":

[code]

[2019-07-19 14:43] rocketraman commented on #320
Ok, I got past that error via https://stackoverflow.com/questions/4019466/httplistener-access-denied... however, I still get a 503 error from the server when using the Microsoft listener mode.

[2019-07-19 15:12] rdeago commented on #320
Yes, Microsoft's HttpListener can be a major pain in the rear bumper.

I've found a couple StackOverflow questions [link 1](https://stackoverflow.com/questions/8142396/what-causes-a-httplistener-http-503-error) [link 2](https://stackoverflow.com/questions/26412602/httplistener-server-returns-an-error-503-service-unavailable) that may be of help. You probably found them even before I read your comm

[2019-07-19 15:29] rdeago commented on #320
Looks like transfer encoding in requests is not supported at all with `HttpListenerMode.EmbedIO`. Sorry for the bad news.

You may have success with `HttpListenerMode.Microsoft` (once it decides it's bugged you enough and starts behaving), as apparently .NET Core (at least) supports chunked encoding in requests.

[2019-07-19 15:33] geoperez commented on #314
Sure, this is on my to-do list.... sorry for the delay.

[2019-07-19 15:39] rocketraman commented on #320
I finally got it working with the Microsoft listener [1], and as you surmised in your last message, the Microsoft listener does work correctly with a chunked encoding. However, from a deployment perspective having to set ACLs and such with the MS listener is basically a non-starter. Is there any plan to add support for this in the EmbedIO listener?

[1] So a URL prefix of `$"http://*:{port}/` does

[2019-07-19 15:44] rocketraman commented on #322
Removing the `return true;` with a return type of `Task` fixed the problem. I'll note that all the documentation / samples for Embed/IO I found did have the `return true`...

[2019-07-19 15:45] geoperez commented on #322
We need to update the documentation. We are working on that!

[2019-07-19 16:00] AbeniMatteo commented on #321
I'm sorry to be pedantic but i think the way to determine if the module has handled the request is very error prone.
I'll list few example:
- Setting `context.Handled` in a method of `WebApiController` doesn't do anything and in fact doesn't even make sense (we're inside a controller not a module).
- Setting `context.Handled = false` inside `WebModuleBase.OnRequestAsync` will be overriden by `WebM

[2019-07-19 16:16] geoperez commented on #321
Agree to make the `IsFinalHandler` property `abstract`.

[2019-07-19 18:54] #286 closed

[2019-07-20 05:30] rdeago commented on #320
The EmbedIO listener is basically a copy of an old version of Mono's HttpListener, with WebSocket support (which Mono didn't have at the time) copied from WebSocketSharp. It was the right choice (read: basically the _only_ choice) at the time, but now we'd be better off copying code from CoreFX (as Mono now does, too). There are also other fully-managed open source HTTP servers. Once EmbedIO v3.0

[2019-07-20 09:01] rdeago commented on #321
@AbeniMatteo we're talking about technical choices that will influence a number of projects for some time to come. Thus, I can assure you, I'm all for pedantry. Just ask @geoperez how pedantic I can be myself! 😁

So let me take my turn to be pedantic:

* Setting `context.Handled` in a web API controller method, as well as in the `OnRequestAsync` method of a module whose `IsFinalHandler` property i

[2019-07-22 11:52] AbeniMatteo commented on #321
My point of view is the point of view of a user that doesn't know all the internals and comes from v2.
After discovering `IsFinalHandler` i thought `IsHandled` was tri-state flag (`true` by user choice, `false` by user choice, default aka `IsFinalHandler`). And this is why i was talking about `ActionModule` behavior.

The changes you proposed looks fine to me and using a method instead of a proper

[2019-07-22 15:09] rdeago commented on #321
Although I shamefully forgot to mention this issue in the commit message, here's what's in https://github.com/unosquare/embedio/commit/0c0bda7cc27e73ad405e7d9d5d36e965e057f2cf:

* `IHttpContext.Handled` is now called `IsHandled` and is read-only.

* The new `IHttpContext.SetHandled()` method can be used to mark a HTTP context as handled.

@AbeniMatteo do you think it can be improved further? I'm n

[2019-07-22 17:50] madnik7 commented on #321
Sorry, I hadn't read all the discussion so properly, just what you are talking about look strange for me.

If I understand properly, It looks you are going in design a method to decide continue calling next registered module or not. OK. It is a pipeline. Why don't use "next(parametes)" pattern. Usually the modules call next module itself, not by setting a flag. In this case the registered module h

[2019-07-22 21:27] rdeago commented on #321
Hello @madnik7, glad to read from you again!

A pipeline is a fitting abstraction in this case, and the [Chain-of-responsibility pattern](https://en.wikipedia.org/wiki/Chain-of-responsibility_pattern) you mention, or a slight variation of it, can of course work. Although I can't speak for @geoperez and @mariodivece, EmbedIO's authors, I think they traded some flexibility for simplicity and ease of

[2019-07-24 19:01] geoperez commented on #321
Hi @AbeniMatteo, did you test this new approach with the RC002 nuget?

[2019-07-24 19:40] shdwp opened #325 "Empty response on publicly available IP with port forwarding"
**Describe the bug**
When accessing web server by router IP with port forwarding server responds with Content-Length: 0. It's the server, since I can see `server: embedio` in the headers. Accessing the same URL by local IP seems to work fine.

Nothing at all gets printed in the stdout if you access it trough public IP (I've enabled the debug output as well).

Server is on windows, and binding the

[2019-07-24 19:42] rdeago commented on #325
Hello @shdwp, thanks for your input.

Which version of EmbedIO are you referring to?

[2019-07-24 21:02] AbeniMatteo commented on #321
I was testing preview 9 and i also just tested RC002. Looks good to me.

One detail, updating from v2, `Task.ResultFrom(bool)` as result for non async `WebModuleBase.OnRequestAsync` will still work. This might cause some problem if not considered.
If there are instructions about the upgrade from v2 to v3, i think it should be mentioned to pay attention to avoid this problem.

[2019-07-24 23:24] shdwp commented on #325
2.9.2 from nuget.

[2019-07-25 15:02] geoperez commented on #322
We are starting the upgrade notes here: https://github.com/unosquare/embedio/wiki/Upgrade-from-v2

[2019-07-25 15:02] geoperez commented on #321
We are starting the upgrade notes here: https://github.com/unosquare/embedio/wiki/Upgrade-from-v2

[2019-07-26 16:41] #294 closed

[2019-07-27 14:51] AbeniMatteo opened #330 "PreferCompression not respected"
**Possible cause**
I think this bug come from [here](https://github.com/unosquare/embedio/blob/3ace452186bfe897d78d7b5c6926be9b6cfb2834/src/EmbedIO/HttpRequestExtensions.cs#L67-L68).
`Identity` value is not specified in `Accept-Encoding` so `QValueListExtensions.TryNegotiateContentEncoding` jumps to the first accepted value (in this case `gzip`).

**To Reproduce**
Run the following snippet:
[code]

[2019-07-27 16:14] rdeago commented on #330
Hello @AbeniMatteo. Good catch, thanks for the heads-up.

As a matter of fact, a rule stated in [RFC7231, Section 5.3.4](https://tools.ietf.org/html/rfc7231#section-5.3.4) was not respected by the `QValueListExtensions.TryNegotiateContentEncoding` method. I have corrected the code, adding a normative reference in comments, as well as added a regression test to make sure this issue does not represe

[2019-08-03 22:26] AbeniMatteo opened #332 "Disposing not-listening server will close the listener socket of another server"
**Possible cause**
Disposing an invalid server that shares the same prefix with another (it's invalid because of that) will close  [here](https://github.com/unosquare/embedio/blob/d5d1295f5dc86f5ecfca22edf24b486a8e205409/src/EmbedIO/Net/Internal/EndPointListener.cs#L64-L78) the listener socket of the other server.

**To Reproduce**
Run the following snippet:
[code]

**Expected behavior**
[http://l

[2019-08-04 08:42] AbeniMatteo commented on #330
Tested rc003, now it works.
I was trying to enable 206 responses and the solution was to disable the compression, if not documented i think it should be.

Thanks.

[2019-08-04 13:58] geoperez commented on #330
How is that? Current EmbedIO can not negotiate partial if the content encoding is different from identity?

[2019-08-04 14:59] rdeago opened #333 "Behavior with range requests and compression should be documented."
Tested rc003, now it works.
I was trying to enable 206 responses and the solution was to disable the compression, if not documented i think it should be.

Thanks.

_Originally posted by @AbeniMatteo in https://github.com/unosquare/embedio/issues/330#issuecomment-517985077_

[2019-08-04 15:01] rdeago commented on #330
No it cannot. It is stated so [in the code comments](https://github.com/unosquare/embedio/blob/d5d1295f5dc86f5ecfca22edf24b486a8e205409/src/EmbedIO/Files/FileModule.cs#L446).

There's an interesting discussion on the subject [on ruby-forum.com](https://www.ruby-forum.com/t/potential-bug-gzipping-preventing-http-range-requests/208701). It's a few years old, talking about Nginx vs. Apache and CURL v

[2019-08-04 15:01] #330 closed

[2019-08-04 19:25] rdeago commented on #333
No it cannot. It is stated so [in the code comments](https://github.com/unosquare/embedio/blob/d5d1295f5dc86f5ecfca22edf24b486a8e205409/src/EmbedIO/Files/FileModule.cs#L446).

There's an interesting discussion on the subject [on ruby-forum.com](https://www.ruby-forum.com/t/potential-bug-gzipping-preventing-http-range-requests/208701). It's a few years old, talking about Nginx vs. Apache and CURL v

[2019-08-05 08:57] rdeago commented on #332
This looks like a long-standing bug in EmbedIO's `HttpListener`, probably coming from the version of Mono it was copied from.

The Mono team has since scraped that code in favor of the CoreFX implementation. I can't help but strongly agree with that decision every time I see the code. 🙈

IMHO, more than a bug to fix, this is just one more reason to replace the EmbedIO.Net classes with something mo

[2019-08-05 20:33] momo-the-monster commented on #123
RequestRegexUrlParams() doesn't exist in 3.0 - how do we route in a websocket now?

[2019-08-05 22:50] rdeago opened #334 "Reintroduce module-level routing in v3.0"
RequestRegexUrlParams() doesn't exist in 3.0 - how do we route in a websocket now?

_Originally posted by @momo-the-monster in https://github.com/unosquare/embedio/issues/123#issuecomment-518388506_

[2019-08-05 23:13] rdeago commented on #334
Hello @momo-the-monster, thanks for your input.

To make a long story short, module routing was scraped in favor of simple path prefixes. This was one of the first breaking changes introducerd in version 3, long before the first preview version came out. Since then, however, the route parser has been rewritten as a separate class, so now module routing could be reintroduced without much complicati

[2019-08-06 09:49] azixMcAze opened #335 "Allow sessions to be enumerated"
**Is your feature request related to a problem? Please describe.**
Hi, I am porting my app currently using EmbedIO 2.3 to EmbedIO 3.0 and I a have a simple helper function that lists the content of a `SessionInfo` to the console :
[code]
I try to convert it using a `ISession` parameter instead but It does not work because `ISession` does not contains a definition for `GetEnumerator`
[code]

**Desc

[2019-08-06 10:50] RashedulAlam opened #336 "Static File Server Throwing Exception"
After updating xamarin ios version from 12.2 to 12.4 latest release Static Files Module is throwing exception.
It is working file in console application
but getting the bellow exception in xamarin ios app

"at System.IO.Compression.DeflateStream.WriteAsyncMemory (System.ReadOnlyMemory`1[T] source, System.Threading.CancellationToken cancellationToken) [0x00000] in /Library/Frameworks/Xamarin.iOS.fr

[2019-08-09 08:46] azixMcAze opened #338 "Session cookies are not recognized when CookiePath is set"
**Describe the bug**
Hello, I am using EmbedIO v3.
When `LocalSessionManager` get or creates a new cookie in `Create()`, it gets the request's session cookie from the request cookies and checks if it is valid in `IsSessionCookie()`:

[code]
This codes checks that the cookie's path is equal to its `LocalSessionManager.CookiePath` property.

However it seems tha the cookie's path is always empy in H

[2019-08-09 13:13] rdeago commented on #338
Hello @azixMcAze, thanks for the heads-up!

I'm fixing this in next commit on the v3.0 branch. Stay tuned! In the meantime, you may also [join EmbedIO's Slack workspace](https://join.slack.com/t/embedio/shared_invite/enQtNjcwMjgyNDk4NzUzLWQ4YTE2MDQ2MWRhZGIyMTRmNTU0YmY4MmE3MTJmNTY4MmZiZDAzM2M4MTljMmVmNjRiZDljM2VjYjI5MjdlM2U). 😉

[2019-08-09 13:22] rdeago commented on #336
Hello @RashedulAlam, thanks for your input.

I strongly suspect this to be a bug in Xamarin; nevertheless it deserves investigation.

Although the stack trace is greatly appreciated, it may help to know the type and message of the exception too.

[2019-08-10 08:44] rdeago commented on #335
Hello @azixMcAze, thanks for your input.

The absence of `GetEnumerator` from `IDataDictionary<TKey,TValue>` was a deliberate choice, as stated [in XML documentation](https://github.com/unosquare/swan/blob/b48e7321d1ba89b2a4160faeb93d495816568396/src/Swan.Lite/Collections/IDataDictionary.cs#L12). Since both EmbedIO v3.0 and SWAN v2.0 are still in preview, XML docs have not yet been ported to the o

[2019-08-10 12:45] rdeago commented on #334
This will be a breaking change at a binary level, due to changes in `IHttpContext`.

[2019-08-10 12:47] rdeago commented on #321
Closing this issue, as the problem stated in the original post has been solved.

[2019-08-10 12:47] #321 closed

[2019-08-12 16:41] rdeago commented on #335
As it turns out, no, sessions cannot be enumerated, but not for lack of functionality in `IDataDictionary<TKey,TValue>`: there is an additional lock, used for reference counting, that prevents enumeration.

So I added a `TakeSnapshot` method to `ISession`, that returns a list of key / value pairs reflecting session data as they were at the time of calling. Should be enough for debugging purposes.

[2019-08-12 16:47] geoperez commented on #335
This change was released in nuget v3.0 RC 6.

[2019-08-14 09:40] azixMcAze commented on #335
Thank you, this is great!

[2019-08-14 09:40] #335 closed

[2019-08-14 15:49] mnxamdev opened #341 "Xamarin.Forms 404 when loading webpage"
I'm currently working in iOS on this. I'm trying to setup a project to load up a webpage with javascript. My initial iteration without ebmbedio just loads up a local file in a web view. I installed EmbedIO and created an API controller to return back a binary to the page from that EmbedIO endpoint, the call was made via JavaScript so loading of JavaScript resources and calling the ending from Java

[2019-08-15 07:53] rdeago commented on #341
Hello @mnxamdev, thanks for your input.

You have in fact come to the right place for support on EmbedIO. Although no current EmbedIO contributor is an iOS developer, I'll try to do my best (and I can vouch for the others to do the same).

There are two possible causes for the 404 error you are seeing:
* either `StaticFilesModule` does not find `MyPage.html`, maybe because of some permission issue

[2019-08-15 10:20] etheaven opened #342 "Handle file requests"
**Is your feature request related to a problem? Please describe.**
I got very frustrated when I tried receiving a `<input id="file-input" type="file" capture="camera"/>`
I saw this https://github.com/unosquare/embedio/issues/60#issuecomment-273472764 but my `HttpContext.Request.InputStream` doesn't have any length.

**Describe the solution you'd like**
Be able to actually get a stream of the file

[2019-08-15 13:34] rdeago commented on #342
Hello @etheaven, thanks for your input.

I'm not entirely sure what you mean by `HttpContext.Request.InputStream` not having any length. As far as I know, `MultipartFormDataParser` should not need to get the input stream's length, as it parses the stream while reading it.

Knowing the version of EmbedIO you are using could also be of help, in case a bug is discovered while investigating this issue

[2019-08-15 15:56] rdeago commented on #334
Although I forgot to mention this issue in the commit message, 5433c67edcc49ef82e7f6da7a236f4be5162463b (re)introduces routing for modules.

Now you can use a route instead of a base URL path to initialize a module.

To get the route parameters from inside your handlers, use the new `IHttpContext.Route` property, whose type is [`EmbedIO.Routing.RouteMatch`](https://github.com/unosquare/embedio/blo

[2019-08-15 15:58] #334 closed

[2019-08-15 15:59] rdeago commented on #334
@momo-the-monster this should solve your problem about routing. Can you confirm?

[2019-08-15 16:00] rdeago commented on #338
@azixMcAze can you confirm that the bug is fixed?

[2019-08-16 03:29] mnxamdev commented on #341
Thanks for the reply. I'm still getting a 404.

[2019-08-16 11:25] azixMcAze commented on #338
The bug is fixed, thank you!

[2019-08-16 11:25] #338 closed

[2019-08-16 14:36] mnxamdev commented on #341
The following now gives me a blank page. I commented out all modules except StaticFileModule and moved everything into a WWW folder under the root of the project. I also changed MyPage.html to index.html and now point my WebView to http://127.0.0.1:8080/ and changed the build action on index.html to BundledResource, EmbeddedResource, and Content. As you can see below, I changed the initialization

[2019-08-16 15:02] rdeago commented on #341
Forgive me for giving it for granted, but the build action should be Content for files you want to include in your application package. [Microsoft documentation](https://docs.microsoft.com/en-us/xamarin/ios/app-fundamentals/file-system#special-considerations) is quite explicit in this regard.

A blank page, although not the desired result, is not a 404 either, so let's try and fix things from here

[2019-08-17 02:36] mnxamdev commented on #341
I set DefaultDocument to null, turned on DirectoryBrowsing, and made sure all files in the folder and subfolders are set Build Action to Content. I still get a blank page.

[2019-08-17 13:36] rdeago commented on #341
Maybe, just maybe, I've found out why your `WKWebView` turns out empty.

Take a look at [this topic on Xamarin forums](https://forums.xamarin.com/discussion/103689/after-ios-11-upgrade-wkwebview-does-not-load-my-website). Your problem could be the same, or very similar.

[2019-08-18 19:46] momo-the-monster commented on #334
Thanks @rdeago! I was indeed able to use this parameter within HTTP/Rest handlers.
I believe my original approach was based on a misunderstanding - I was thinking I wanted to handle different endpoints within a single Websocket in order to accept a variety of binary messages with different actions like "/submit", "/list", "/cancel", etc. However, a Websocket connection seems to want to be bound to

[2019-08-19 07:04] rdeago commented on #334
@momo-the-monster no problem. Module-level routing (or better, in v3.0 terms, module-container-level routing) is a feature that I had removed for performance reasons. Now I've added it back, but with some optimization for parameterless routes (i.e. simple prefixes). The performance impact should be little to negligible.

[2019-08-20 18:37] TomCJones opened #345 "WebServer non-invocable member cannot be used like a member"
**Describe the bug**
new installation of embedio does not work with sample code

Steps to reproduce the behavior:
Just installed nuget embedio 3.0.1
added this code to app.xaml.cs in forms code
string url = "http://localhost:8765/";
using (var server = WebServer(url)) { }

**Expected behavior**
compiles
I tried to past an image, but that's not working error is CS1955 text above

**Desktop (please

[2019-08-21 14:30] DominikPf opened #346 "Disable Logging in 3.*"
How to disable/change the Log-Level of EmbedIO in 3.*?

**Swan.Terminal.Settings.DisplayLoggingMessageType** does not exist anmore.

Is this still the correct way for 3.* ?
I looked at the WebServer Object but i could not find any other Option.
Currently i am using the fresh 3.0.1 release :)

The Docs seems to be the old ones from 2.*:
https://github.com/unosquare/embedio/wiki/Cookbook#how-to-turn

[2019-08-21 14:40] geoperez commented on #346
I need to update that wiki page. But I can explain to you:

We moved the logging to a new class `Logger`. You can Register or Unregister log targets, by default the ConsoleLogger is enabled in the startup. You can Unregister using:

`Logger.UnregisterLogger<ConsoleLogger>();`

[2019-08-21 14:43] DominikPf commented on #346
@geoperez
Thank you very much for this very quick Answer.
That fixed my Problem.

Keep going with this Amazing Project ;)

[2019-08-21 14:43] #346 closed

[2019-08-21 21:36] TomCJones commented on #345
this seems to work - so i am not blocked
string url = "http://localhost:8765/";
using (var server = new WebServer(url)) { }

[2019-08-21 22:55] AbeniMatteo opened #347 "Wrong route handling"
**To Reproduce**
Run the following snippet:
[code]

**Expected behavior**
http://localhost:12345/page1.html handler should be `GetPage1` instead of `GetIndex`.
This happen only if there is a route registered for `/`. Works fine at least before `3.0.0-rc005` (the last version i tested before updating).

**Version**
3.0.1

[2019-08-21 23:16] TomCJones commented on #345
Please close this bug - i had not read thru then entire documentation - the answer was down just a little in the example.

[2019-08-21 23:16] #345 closed

[2019-08-22 15:55] rdeago commented on #347
Hello @AbeniMatteo, glad to see you around again. :)

Another good catch! The problem lies in RouteMatcher's cache, that indexes matchers by route with no distinction between base (i.e. module's) and non-base (i.e. controller's) routes. Therefore, the "/" path is matched by the controller using the same Regex used by the WebApiModule, which does not require the path to be "/" but to _start_ with "

[2019-08-23 19:32] mnxamdev commented on #341
Thanks for the reply and the links!  I created a policy decision handler per the post to allow but that didn't fix it.  I already had Arbitrary Loads set but can look into the other options.

[2019-08-23 23:41] TomCJones opened #349 "Cannot register a controller that has parameter in constructor"
**Describe the bug**
This is probably my lack of familiarity with your methods.
I need to register a controller with a parameter in the constructor.
I cannot see any way to do that.

**To Reproduce**
            PersonalController pc = new PersonalController(dbPath);

            string url = "http://*:8765/";
            Task.Factory.StartNew(async() =>
            {
                using (var se

[2019-08-24 17:29] TomCJones opened #350 "samples do not run"
**Describe the bug**
load embedio in vs2019 on windows ten
start Unosquare.Labs.EmdedIO.Samples

**Exception**
{"Method not found: 'System.String SQLitePCL.raw.sqlite3_errstr(Int32)'."}

   at Microsoft.Data.Sqlite.SqliteException.ThrowExceptionForRC(Int32 rc, sqlite3 db)
   at Microsoft.Data.Sqlite.SqliteConnection.Open()
   at Unosquare.Labs.LiteLib.LiteDbContext..ctor(String databaseFilePath, B

[2019-08-26 02:20] geoperez commented on #347
A new nuget was published.

[2019-08-26 11:28] AbeniMatteo commented on #347
Works fine, thank you.

[2019-08-26 11:28] #347 closed

[2019-08-26 11:47] AbeniMatteo opened #351 "Cryptic exception thrown by WithController in case of wrong parameters declaration"
**To Reproduce**
Run the following snippet:
[code]

**Expected behavior**
`WithController` should throw an useful exception instead of:
[code]

`Handler1` uses a wrong name  and `Handler2` uses a missing parameter.

**Version**
3.0.2

[2019-08-26 12:07] AbeniMatteo commented on #349
`WithWebApi` works with modules, not controllers.
The generic parameter is used to specify the return type (usually `WebServer` to use the fluent style) and should not manually specified.

Instead of:
[code]

try:
[code]

or better (because `WithController` accepts a factory or a type and it instantiate a new controller for each request):
[code]

[2019-08-28 00:18] UserR00T commented on #325
Still an issue in version 3.0.2. When adding the public IPv4 to the prefix list by typing ``WithUrlPrefix("publicip")`` [the application instantly closes.](https://i.imgur.com/kilYNxo.png)

What is peculiar though is that if I set my url in ``WithUrlPrefix`` to ``127.0.0.1``, localhost and direct internal ip (in this case ``192.168.1.38``) both respond with an empty 200 OK repsonse which includes

[2019-08-28 11:54] 1c3f0x84 opened #352 "FileSystemProvider can't handle escaped strings"
**Describe the bug**
FileSystemProvider can't handle escaped strings.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a WebServer with WithStaticFolder
2. Navigate to a folder with a whitespace in it

**Expected behavior**
To load the index.html in the folder which has a whitespace in it

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please c

[2019-08-28 14:35] UserR00T commented on #325
Using ``http://+:80/`` resolved the issue. Thank you!

[2019-08-29 05:22] 1c3f0x84 commented on #352
@geoperez thank you for the fast responce and thx for the instruction. I will remember it.

[2019-08-29 14:33] geoperez commented on #352
The new nuget was published, you can check version 3.0.4!

[2019-08-30 06:21] TomCJones commented on #349
I gave up trying to second guess how to this worked. I think there is some inconsistency with the way you add "async" inside of a task.  Anyway i just do .WithModule("/" and handle it all myself.

[2019-08-30 06:21] #349 closed

[2019-08-30 08:55] #352 closed

[2019-08-30 14:33] NvVijayakumara opened #354 "RegisterModule(new CorsModule()) or EnableCors() for WebServer is not working in v2.2.9"
Hi,

I've successfully created 2 server, in which
1. Serve static file, with http://localhost:6969/
2. Server folder as website that contains javascript & html files, with http://localhost:9696/

Html page in 2nd server (i.e *9696) is trying to access file inside 1st server(i.e *6969), but browser is showing error as below-
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the

[2019-08-30 14:35] geoperez commented on #354
Instead of white space use CORS wildcard *

On Fri, Aug 30, 2019, 9:33 AM Vijayakumara Nv <notifications@github.com>
wrote:

[2019-08-30 14:37] NvVijayakumara commented on #354
Yeah.. I use that too., but still its not working

[2019-09-01 20:24] AbeniMatteo opened #355 "Response intended as chunked if ContentLength is set using Response.Headers[HttpHeaderNames.ContentLength]"
**To Reproduce**
Run the following snippet:
[code]

**Expected behavior**
`/correct` and `/wrong` responses should be the same.

**Cause**
Using `Response.Headers[HttpHeaderNames.ContentLength]` doesn't set `_clSet` to true so the response is handled [here](https://github.com/unosquare/embedio/blob/b26ce9b98c40f2cc9f5056a95102d92bb2fb97e2/src/EmbedIO/Net/Internal/HttpListenerResponse.cs#L224-L225)

[2019-09-01 22:19] geoperez commented on #355
I created a unit test of your issue, but at least with TestWebServer this is not happening.

[2019-09-01 22:23] geoperez commented on #355
Forget my last comment, TestWebServer is not using `HttpListenerRequest`.

[2019-09-01 23:19] geoperez commented on #355
@AbeniMatteo check my PR, I think I resolved the issue.

As side-note, this problem might arise for ContentType too.

[2019-09-02 09:11] #261 closed

[2019-09-02 13:47] rdeago commented on #355
Sorry to be the annoying old uncle here, but do we really want to fix all issues with the obsolete HTTP implementation we more or less inherited from an old version of Mono?

I think it's about time we start a serious and productive conversation on which HTTP implementation we want for EmbedIO. Which means `HttpListener` has to go. Otherwise we're wasting time and effort on old, intrinsecally obso

[2019-09-02 14:57] rdeago commented on #351
Hello @AbeniMatteo, thanks for pointing out this issue.

The first case (wrong parameter name) can - and will - be easily solved.

As for missing parameters, the behavior replicates what happened with previous versions of EmbedIO, i.e. the default value for the parameter is passed. Although it is probably better to throw an exception, I'd like to hear a second opinion, before I introduce a breakin

[2019-09-02 15:03] rdeago commented on #341
Maybe it's just me, and msybe it's completely unrelated, but why do the last two items appear to belong to the `NSExceptionDomains` dictionary? Shouldn't they belong to `NSAppTransportSecurity` instead?

Other than that, I must admin I'm out of ideas. Did you try using CURL as a client and see exactly what that blank page is made of, headers and all?

[2019-09-02 15:05] rdeago commented on #350
On a side note, @geoperez, do we really need to use SQLite in the samples?

[2019-09-02 16:09] AbeniMatteo commented on #351
`Handler2` (missing parameter) already throws an exception, am i missing something?
The only thing i see to improve is to catch the internal `System.Linq.Expressions` exception and throw a new one with a significant message\explanation.

[2019-09-02 19:13] rdeago commented on #351
As far as I can recall, `Handler2` should pass `null` as `missingParameterName`. If it throws instead, it is a bug. Quite ironic, isn't it?

As for catching the exception and throwing a new one with a more sensible message, it is of course the way to go.

[2019-09-02 19:48] AbeniMatteo commented on #351
Just double checked, it throws:
[code]

[2019-09-02 19:58] AbeniMatteo commented on #336
You can follow this [discussion](https://github.com/xamarin/xamarin-android/issues/3397), probably the same problem. It was introduced in VS\Xamarin 16.2.

You can disable the compression to avoid this problem or wait for the next Mono-VS-Xamarin update.

[2019-09-02 20:15] AbeniMatteo commented on #341
It is a 404 or 500?

If it is 500 and you're running Visual Studio >=16.2 maybe you have this problem #336.

[2019-09-02 21:21] geoperez commented on #355
I did the merge, today or tomorrow I will release a new nuget. Probably with the new version of SWAN.

@rdeago I'm open to kill the Http Listener, how would you like to start?

[2019-09-02 21:23] geoperez commented on #354
One thing I forgot to tell you, you need to include the CORS module before any other module. Also, try the extension method with no args:
`
var server = new WebServer();
server.EnableCors();
// here continue with the StaticFilesModule
`

The order of the modules is important.

[2019-09-02 21:26] geoperez commented on #350
The Litelib dependency (also Tubular) is a cross-selling, for showing more of the Open Sources projects from Unosquare. But let's clean-up the sample to keep it to the minimal dependencies.

I'll open a PR to resolve this issue.

[2019-09-02 21:40] geoperez commented on #351
This is a pending discussion that I have in my ToDo list. I was checking a route with a string optional parameter and instead of returning null, it was returning an empty string. The proper value should be null.

[2019-09-03 06:42] NvVijayakumara commented on #354
Awesome, it worked.. thanks @geoperez

[2019-09-03 06:42] #354 closed

[2019-09-03 14:34] mnxamdev commented on #341
@rdeago Those exceptions should be part of the domain but there is a mistake in my setup there in that the 127.0.0.1 entry should be a dictionary with those following being items in that dictionary.
https://docs.microsoft.com/en-us/xamarin/ios/app-fundamentals/ats-images/ats01.png#lightbox

I'll respond back with the header information like you asked but I inspected the page using Safari developer

[2019-09-03 19:03] geoperez commented on #355
The new nuget was released as version 3.0.5!

[2019-09-05 13:45] AbeniMatteo commented on #355
Works fine now, thank you.

I'm leaving this issue open if you want to continue the HttpListener discussion. Feel free to close it at any time.

[2019-09-09 01:24] moorecode opened #358 "CORS does not work with web sockets"
**Describe the bug**
The CORS headers are not added to websocket requests.

**To Reproduce**
Steps to reproduce the behavior:
[code]
1. Start web server
2. try to connect using LAN ip
3. connections fails (CORS error)

**Expected behavior**
the `.WithCors()` should allow resource sharing on websocket connections

**Desktop (please complete the following information):**
 - OS: Windows 12
 - Browser

[2019-09-09 08:15] rdeago commented on #358
Hello @moorecode, thanks for your input.

I have identified the problem and am working on a fix.

The root cause, in case you're interested, is that WebSocketModule does not use the HTTP context's response object (`EmbedIO.NetInternal.HttpListenerResponse`), whose headers are in fact correctly set by `CorsModule`: instead, a new "quasi-response" object (`EmbedIO.NetInternal.HttpResponse`, probably

[2019-09-09 08:18] rdeago commented on #355
I think this matter deserves its own issue, so I am going to close this one.

We could also have a preliminary discussion on Slack, to examine our options at a somewhat quicker rate.

[2019-09-09 08:18] #355 closed

[2019-09-09 08:28] rdeago commented on #355
@AbeniMatteo your valuable insights are of course also appreciated on [EmbedIO's Slack workspace](https://join.slack.com/t/embedio/shared_invite/enQtNjcwMjgyNDk4NzUzLWQ4YTE2MDQ2MWRhZGIyMTRmNTU0YmY4MmE3MTJmNTY4MmZiZDAzM2M4MTljMmVmNjRiZDljM2VjYjI5MjdlM2U), to which I hereby renew my invitation for you to join. We now have a channel to specifically discuss the HTTP protocol implementation change.

[2019-09-09 17:02] geoperez commented on #350
@TomCJones sorry for the delay. You can check the new sample without SQLite dependency!

[2019-09-10 11:53] rdeago commented on #358
@moorecode I think I have fixed the issue. Sort of.

But now I wonder, was it an issue to begin with?

[RFC6455](https://tools.ietf.org/html/rfc6455#section-1.3) does not mention any response headers besides the ones strictly needed for the WebSocket opening handshake. This does not necessarily mean that other headers are prohibited, or even discouraged, but it made me wondering; so I googled a bi

[2019-09-10 11:59] AbeniMatteo opened #362 "Incorrect http listener modes for isssue 355 tests"
Http listener test modes specified [here](https://github.com/unosquare/embedio/blob/master/test/EmbedIO.Tests/Issues/Issue355_ContentResponseLength.cs#L14) are duplicated and not even used for `ActionModuleWithHeaderCollection_Handle_ContentLengthProperly` (same for `DefaultUrl` field).

[2019-09-10 12:01] moorecode commented on #358
Hi @rdeago, thanks so much for your work! This was strange to me as well as I though the same as you have discovered. Though I seem to have compelling evidence that the browsers I have tested (Chrome and Firefox) do appear to block the connections from different origins. When initialising a web server with the url prefix `http://0.0.0.0:5000` I could not connect at all, though using the devices IP

[2019-09-10 13:27] 1F6B66 opened #363 "Strong Name the nuget assembly"
Can the nuget package be updated to contain a strong named assembly, please? My main code needs to be strong named and therefore this is a blocker for me to use the embedio lib.

With version 1.0.14 the embedio assembly got stronlgy named but the latest version 3.0.5 isn't.

Related Issue: [25](https://github.com/unosquare/embedio/issues/25)

[2019-09-10 14:28] rdeago commented on #362
Hello @AbeniMatteo, thanks for the heads-up.

PR incoming!

[2019-09-11 20:05] charlyR opened #366 "2.x to 3.x migration"
Could you please add more examples for 2.x to 3.x migration?

How can i do this in the new 3.x version?
[code]

Thanks in advance

[2019-09-13 08:00] rdeago commented on #358
Initializing the web server with a URL is a bad habit we had to inherit from Microsoft's `HttpListener`. Its purpose is (or should be) to be able to bind a HTTP listener even to a specific path, like `http://localhost:5000/just_here/`, and/or to one or more DNS names (assuming Windows Server + Active Directory).

EmbedIO's internal, Mono-derived `HttpListener`, not being a managed interface to the

[2019-09-15 07:58] moorecode commented on #358
I suppose I may have been hasty in categorising the error as a CORS error in the first place, the actual error in both firefox and chrome indicate some kind of malformed response from the server. When the addresses do not match (i.e running the serving with `0.0.0.0` or `localhost` and connecting from `192.168...`) the Chrome error reads:

And Firefox:

Though when I used `http://+:5000` to initia

[2019-09-15 21:46] geoperez commented on #363
Sorry for the delay, I'm curious why do you need a strong name? I was reading a little about strong name in .net core and they don't recommend it.

[2019-09-16 05:23] 1F6B66 commented on #363
I want to use the assembly from the GAC

[2019-09-16 12:25] NvVijayakumara commented on #363
Use this GUI tool to sign [tool](https://brutaldev.com/post/net-assembly-strong-name-signer).

[2019-09-16 19:05] geoperez commented on #363
I was checking this, but I'll need to add a strong name to SWAN first.

[2019-09-17 16:47] #358 closed

[2019-09-19 14:33] 3da commented on #135
Hi. How to do this for latest Embedio?

[2019-09-19 14:36] geoperez commented on #135
You can check the Wiki: https://github.com/unosquare/embedio/wiki/Cookbook#how-to-turn-off-logging

[2019-09-19 14:40] 3da commented on #135
Thanks, but it also hides Warnings and Errors? How to save Errors?
It would be perfect to redirect Errors to my own Logger.

[2019-09-19 14:41] geoperez commented on #135
You can configure the threshold of the ConsoleLogger, or register your own Logger. You just need to implement ILogger interface (https://unosquare.github.io/swan/api/Swan.Logging.ILogger.html)

[2019-09-23 14:09] geoperez commented on #363
I just release SWAN with strong name. Today, I'll release EmbedIO too.

[2019-09-23 15:47] #308 closed

[2019-09-23 17:17] geoperez commented on #363
Done! You can check version 3.0.7!

[2019-09-24 05:10] 1F6B66 commented on #363
Thank you, great!

[2019-09-24 05:10] #363 closed

[2019-09-24 12:38] crytopean opened #377 "Documentation is not accurate"
If you are going to write documentation for your application / code make sure it is accurate.
The sample in the readme of this project is not accurate there is no EmbedIO.Modules namespace. Thus your sample of how to configure the server does not work.

[2019-09-24 15:14] Serk352 commented on #377
@crytopean we have updated the documentation, we are sorry for the inconvenience.

[2019-09-25 07:41] mohShah96 opened #382 "Can't install the package!"
Hi!
I can't install the package from nuget.
The error is:
Could not install package 'EmbedIO 3.0.7'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.			0

[2019-09-25 09:27] rdeago commented on #382
Hello @mohShah96, thanks for using EmbedIO. Well, for trying, at least.

EmbedIO is a .NET Standard 2.0 library; therefore, when targeting .NET Framework, you should target at least .NET Framework v4.6.1 for NuGet to consider the package compatible with your project.

My advice, however, is to target at least .NET Framework 4.7.1, unless you have a specific requirement for an older version.

[2019-09-26 22:55] chillwinston opened #384 "Github readme does not match available Nuget packages"
The Github readme page that includes examples does not match the available Nuget packages (3.0.8).  There's not even a tag for 3.0.8 in the Git repo, but there is for 3.0.6.

The project is great and worthwhile, but is frankly confusing for those of us that just want to install and use it as quickly as possible.

Can I suggest that you recompile, tag and re-release a nuget package that matches the

[2019-09-26 23:27] geoperez commented on #384
I just updated the missing tag 3.0.8. Where do you see the version 3.0.6 in the README file?

[2019-09-27 00:24] chillwinston commented on #384
Thanks Geovanni - I've found the error and it's at my side.  The Route
attribute that is being referred to is one from another package.

Oddly - the "WithController" method didn't emit any error that the
WebApiController was of the wrong type or that there wasn't any correctly
attributed methods, so it failed silently.

That being said - it now works, which is phenomenal.   Many thanks for your
sw

[2019-09-27 16:24] #384 closed

[2019-09-27 16:25] geoperez commented on #384
WebApiController was of the wrong type or that there wasn't any correctly
attributed methods, so it failed silently.

@rdeago do you think we should fix this in another issue?

[2019-09-27 18:24] rdeago commented on #384
I'd say this is the same as #351, a fix to which is long overdue. I'll be on it on Monday.

[2019-09-27 21:10] MajidSafari opened #385 "hi, Route in Controller"
hi i want route in Controller but, i cann't !!

`
class Program
    {
        static void Main()
        {
            var server = new WebServer(12345);
            server.WithModule(new WebApiModule("/").WithController<MyController>());
            server.WithModule(new WebApiModule("/").WithController<MyController2>());
            server.RunAsync().Wait();
        }

        private class MyCo

[2019-09-27 22:27] #385 closed

[2019-10-01 08:14] NvVijayakumara opened #387 "WebApiController action method with 'HttpResponseMessage' as return type not serving"
using library with version 2.2.9.0
Getting proper response for the request http://localhost:6969/api/echo
but when I request http://localhost:6969/api/getkey , getting response as '404 - Not Found'
anything wrong in my code?

// my website
[code]

// Api Controller
[code]

[2019-10-02 15:21] rdeago commented on #387
Hello @NvVijayakumara, thanks for using EmbedIO.

Returning a `HttpResponseMessage` from a Web API controller method is not a supported scenario. In EmbedIO v2.x, your `GetKey` method is simply ignored because it doesn't return `bool` nor `Task<bool>`.

EmbedIO v3.x would serialize your `HttpResponseMessage` and send it to the client in JSON format (or whichever serialization format your `WebApiMo

[2019-10-02 15:25] azixMcAze opened #389 "HttpRequest.ContentLength64 incorrectly returns 0"
**Describe the bug**
With a request containing data in the body, `request.ContentLength64` returns 0 whereas `request.Headers[HttpHeaderNames.ContentLength]` returns a non zero number.

It seems that in the request that exhibits the problem, the content length header is in small caps (`content-length`) instead of being capitalized like in `HttpHeaderNames.ContentLength` (`Content-Length`)

I suppo

[2019-10-05 03:10] daxcurson opened #393 "Parse url parameters from GET request"
Hello,

I would like to retrieve the values of parameters from the GET request. E.g., I receive a request:

GET /api?xmltype=saldo_stock&xmlparam=pepe HTTP/1.0

I want to read the values of xmltype and xmlparam parameters. How can I accomplish that?

This is what I have:
            var server = new WebServer(options => options
                  .WithUrlPrefix(url)
                  .WithMode(Http

[2019-10-05 06:36] rdeago commented on #351
@AbeniMatteo can you confirm the issue is fixed?

[2019-10-06 09:18] vhnatyk commented on #290
Sorry - seems quite obvious but nevertheless I would like to make it clear that as of today (october 2019) it doesn't support https on mobile platforms?

[2019-10-06 16:43] geoperez commented on #393
Hello,

If you want to get data from querystring you can received using the argument attribute `QueryField` (https://unosquare.github.io/embedio/api/EmbedIO.WebApi.QueryFieldAttribute.html).

Using your example:

[code]

Note that you can't add Querystring to the Route, the Route is only a relative URL.

[2019-10-06 16:44] geoperez commented on #389
I'll take a look, thanks for reporting this issue.

[2019-10-06 16:45] #377 closed

[2019-10-06 16:45] geoperez commented on #362
Can I close this issue?

[2019-10-06 16:46] geoperez commented on #351
I think I might need to release a new nuget.

[2019-10-07 15:14] Scobie opened #394 "Using WebApiController with Accept-Encoding: gzip in Request Header returns a content-length of 0"
I am hosting a WebServer on an Android device, running Xamarin Forms & a hosted web page, using a StaticFiles module serves the HTML OK.

However, the WebApiController which I have implemented only returns data correctly when testing in Telerik Fiddler, with no "Accept-Encoding" header, not through a browser (Google Chrome)

*** Web Server code ***

`public void StartWebServer()`
`{`
`	var url = "

[2019-10-07 19:59] geoperez commented on #389
I'm not able to reproduce the issue. Can you check my commit?

https://github.com/unosquare/embedio/commit/94cee1104f8033c91b64acf5bd43115603b795ff

[2019-10-07 20:11] geoperez commented on #394
I can't reproduce the issue. Can you check my commit?

https://github.com/unosquare/embedio/commit/c2bdf59806980c5b6a7650b10cb9330c10904af9

[2019-10-08 08:27] azixMcAze commented on #389
Hi, I check your commit and `HttpClient` sends capitalized http headers.

I checked with [mitmproxy](https://mitmproxy.org/) and Firefox also sends capitalized HTTP headers.

However I using a React web app making `fetch` web requests using a polyfill ([`whatwg-fetch`](https://github.com/github/fetch)) through a proxy (node's `http-proxy-middleware`) when using a [create-react-app](https://github.

[2019-10-08 09:26] azixMcAze commented on #389
I created a script for [mitmproxy](https://mitmproxy.org/) that will convert all the headers to lowercase :
[code]

You can launch mitmproxy to create a reverse proxy and use this script with this command line: `mitmproxy --mode reverse:http://localhost:1234/ -p 1235 -s lowercase.py`

In your test, listen on `http://localhost:1234/` but send requests to `http://localhost:1235/`.

Using this, `Acti

[2019-10-08 14:21] geoperez commented on #389
I found the issue, `ContainsKey` is not case insensitive as the index accessor in `NameValueCollection`. This is really odd.

Can you test my branch again?

The only issue here is that I need a better unit test without the proxy.  But I can keep this for later and release a nuget if your test is passing.

[2019-10-08 15:03] azixMcAze commented on #389
The test is now passing.
Before using a proxy, I tried to make `HttpClient` send lowercase HTTP headers by crafting a `HttpRequestMessage`, but I could not make it work.
I am not sure if it is possible and if this is related: https://stackoverflow.com/a/46575625

[2019-10-08 15:06] geoperez commented on #389
OK. I'll merge this change and release a new nuget.

[2019-10-08 15:37] #389 closed

[2019-10-08 15:45] geoperez commented on #389
New nuget version v3.1.1

[2019-10-09 14:19] AbeniMatteo commented on #351
LGTM

[2019-10-09 15:10] geoperez commented on #351
Cool, closing!

[2019-10-09 15:10] #351 closed

[2019-10-09 15:44] Scobie commented on #394
I checked your commit & the new test which has been added worked OK. I also added another test to my local repository to use a WebApiController with & without GZIP & that test worked OK also.

However, these tests are not using Xamarin Forms & the exact environment which I am using so I then modified the Xamarin Forms project, which was part of the repository, to test the issue and this does demon

[2019-10-09 15:49] geoperez commented on #394
Don't worry you won't break anything. You can fork this repository, apply your commits in your fork and then request a PR.

https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2019-10-10 13:25] Scobie commented on #394
OK - stepped through the guide, applied a commit & generated a PR. Basically, the commit includes a test Xamarin Forms project which demonstrates the results I am getting when I use AcceptEncoding = GZIP. I have ran it on Android devices & emulators with the same result

#397

[2019-10-10 23:54] madnik7 commented on #306
I don't have this issue in the new version.
Thanks all

[2019-10-11 00:42] madnik7 commented on #306
I have encountered another problem.

**Issue 1:**
I can't connect to server via local IP after I recreate the server and switch from public to local ip at runtime. this problem exists on windows. I don't have this issue on android

[code]

**Issue 2:**
I can't connect to server via local IP on android when local IP is added as the second IP. I don't have this problem in windows!

[code]
It looks s

[2019-10-11 18:39] geoperez commented on #306
Is the first issue only with Android?

[2019-10-11 18:42] madnik7 commented on #306
The first issue does not raise in Android :). I can see only in windows it has the first issue.

[2019-10-11 19:45] geoperez commented on #290
Nop, the support to HTTPS right now is only with Windows.

[2019-10-17 14:09] Scobie commented on #394
Hello - have you been able to run the test solution in Xamarin Forms yet? I appreciate that it will not be easy to run directly on an Android device if you do not have one for test, but I did manage to reproduce the issue through an emulator also. Thank you

[2019-10-17 14:23] geoperez commented on #394
Not yet, I need to setup Xamarin in my VS first. And I have been kinda busy, @rdeago  do you have Xamarin?

[2019-10-17 15:14] rdeago commented on #394
Unfortunately I've never used Xamarin, sorry.

[2019-10-17 19:23] #382 closed

[2019-10-17 19:24] #350 closed

[2019-10-17 19:24] #322 closed

[2019-10-17 19:25] #366 closed

[2019-10-20 22:45] geoperez commented on #394
I tried to run your PR in the AppVeyor VM but the Android Emulator was crashing because of a Hyper-V thing.

I hope to have time (and disk space 🤣 ) for installing Xamarin on my laptop. And test.

I would recommend changing the reference to EmbedIO from nuget to csproj in the Xamarin Solution.

[2019-10-21 13:58] #342 closed

[2019-10-24 13:37] rocketraman opened #398 "Unhandled exception while handling exception"
**Describe the bug**
I upgraded to Embed.IO 3.1.1 from 2.9.2. When running a test in which I interrupt the client, or a stress test via `siege` for a controller that returns a stream of data, Embed.IO always writes errors like this:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Embed.IO server with a controller that returns a stream of data.
2. Run a siege test.

The test

[2019-10-24 17:11] rocketraman opened #399 "Delay in responding to requests with EmbedIO listener using ipv6"
**Describe the bug**
Using the Embed.IO listener with a simple /health controller that simply responds with a String. The request takes 2 seconds to process. Have tried with both httpie and curl on the client side.

With the MS listener, the request processes immediately as expected.

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser [e.g. chrome, safari]: N/A
 - V

[2019-10-24 17:46] rocketraman commented on #398
As I noted in Slack, these errors seem to occur when the client has disconnected while there are active connections.

This wasn't required in Embed.IO v2, but in v3, it looks like I need to use a pattern like this to catch these errors and ignore them:

[code]

[2019-10-24 18:20] geoperez commented on #398
Can you post the code that you use for EmbedIO v2?

Usually, the ResponseStream is handling the `IOException` here (https://github.com/unosquare/embedio/blob/master/src/EmbedIO/Net/Internal/ResponseStream.cs#L158).

[2019-10-24 19:05] rocketraman commented on #398
Same code without that extra catch block.

The code you pointed out only handles IOException inside a `Dispose` call. As you can see from the stack I posted, this exception is occurring outside of that call -- note the two `EmbedIO.Net.Internal.ResponseStream` frames here:

[code]

[2019-10-25 06:14] rocketraman opened #400 "JSON is sent with Byte-order-mark (BOM) illegally"
**Describe the bug**
The JSON serializer currently sends JSON with a BOM.

1) BOM is illegal in JSON: https://stackoverflow.com/questions/4990095/json-specification-and-usage-of-bom-charset-encoding

2) .NET StreamWriter adds it by default, can be configured off: https://stackoverflow.com/questions/5266069/streamwriter-and-utf-8-byte-order-marks

3) Looks like this code needs to change: https://gi

[2019-10-25 18:14] geoperez commented on #400
@rocketraman I did the change to remove the BOM in the serializer callback only. Can you check my commit?

[2019-10-25 18:23] geoperez commented on #400
My output:

[code]

[2019-10-25 18:25] geoperez commented on #399
@rdeago I don't think we should check this issue if we want to proceed with the idea of removing the current Http Listener.

What do you think?

[2019-10-25 18:33] geoperez commented on #398
I found the reason for the change in this behavior.

There is a setting, `WebServer.Listener.IgnoreWriteExceptions`, to ignore any Write exception from the `ResponseStream`. EmbedIO v2 by default set this flag to true, but v3 doesn't.

Your solution is to set this flag to true before starting the WebServer.

[2019-10-25 18:51] rocketraman commented on #400
@geoperez LGTM

[2019-10-25 19:04] geoperez commented on #400
OK, I'll release a new nuget over the weekend.

[2019-10-25 22:28] rocketraman commented on #399
What will you replace the current listener with, if anything?

[2019-10-26 22:38] DennisKuypers opened #401 "Race condition in WebsocketModule.OnRequestAsync"
We noticed that our webclient doesn't work occasionally. Reloading the page sometimes solves the problem. The client initiates the protocol by sending handshake websocket messages to the server.

There seems to be a race condition where client websocket messages sent between [accepting](https://github.com/unosquare/embedio/blob/96f0fcc72db73e45f61240e0134de9bf1348a212/src/EmbedIO/WebSockets/WebSoc

[2019-10-28 15:02] geoperez commented on #400
You can check the new nuget version 3.1.2.

[2019-10-28 15:14] geoperez commented on #401
So, the webserver is taking too much time between accepting the WebSocket incoming connection and start handling the messages?

Let me take a look.

[2019-10-28 15:15] geoperez commented on #399
This is still on a topic on discussion. Anyway, I will try to check where is consuming time the startup of the webserver.

[2019-10-28 15:17] DennisKuypers commented on #401
This mostly happens in debug. There is a lot going on while this happens and it's not consistently broken. Reproduction probably involves adding a delay in between accept and processing.

[2019-10-28 16:40] rocketraman commented on #399
Note: its not just webserver startup. *Each* request takes 2s, not just the first one.

[2019-10-28 16:43] geoperez commented on #399
😕 I don't have that time on each request. Can you elaborate a little more about your test?

[2019-10-28 16:58] rocketraman commented on #399
I did some further testing and you're right... the issue appears to be something specific to my networking setup. When I connect directly to the machine instead of via an ssh tunnel I have, it works without any delay. Closing.

[2019-10-28 16:59] rocketraman commented on #399
It is odd that its only the embedio listener and not the MS one though.

[2019-10-28 17:02] geoperez commented on #399
So, is this happening when you connect using an ssh tunnel and work with EmbedIO Listener? Any additional information that you can share about the tunnel?

[2019-10-28 17:07] geoperez commented on #394
@Scobie I tested your fork, but I can't see the issue:

![image](https://user-images.githubusercontent.com/1775792/67700073-e419e100-f972-11e9-98c6-2abe3f8d09bd.png)

![image](https://user-images.githubusercontent.com/1775792/67700086-eb40ef00-f972-11e9-8925-e9247b1036e1.png)

Am I missing something?

[2019-10-28 17:09] rocketraman commented on #399
Nothing complicated. I use putty inside my Windows 10 VM to ssh to a Linux box (my host machine). Putty is configured to create a remote tunnel from port 7071 on the host, to localhost port 7071, which runs my EmbedIO app.

I've tried disabling Windows Firewall and Defender, and neither of these have any effect. When I connect directly to the VM from the host, it works fine. I've even tried captur

[2019-10-28 17:19] rocketraman commented on #399
Ah, its something to do with ipv6. With wireshark, I see a bunch of TCP RSTs happen with the ipv6 loopback, and then finally a fallback to ipv4 which works immediately:

![image](https://user-images.githubusercontent.com/53049/67701064-a2466600-f985-11e9-920d-241948e624be.png)

[2019-10-28 17:21] geoperez commented on #399
I see. So the endpoint manager is failing to grab the IPv6 bind with EmbedIO Listener. There is a setting to use IPv6:

``EndPointManager.UseIpv6 = true;``

Can you test it?

[2019-10-28 17:23] rocketraman commented on #399
For reference, here is the packet cap with the MS listener, with no additional settings to enable IPV6. Will test that setting above.

![image](https://user-images.githubusercontent.com/53049/67701296-154fdc80-f986-11e9-9d88-d93ed7b38623.png)

[2019-10-28 17:26] rocketraman commented on #399
And with `EndPointManager.UseIpv6 = true;` it also works without an issue. Should that be the default?

[2019-10-28 17:37] geoperez commented on #399
Maybe, I need to evaluate what could go wrong if a set this setting on by default. Let's keep open this issue while I review it.

[2019-10-28 17:41] rocketraman commented on #399
Ok sounds good. BTW, I did confirm ipv4 requests with `EndPointManager.UseIpv6 = true;` do also work without any issue.

[2019-10-31 16:32] TomCJones commented on #290
ssl is part of windows (kerberos) auth - it belongs to the security team not the network team. If you want to work beyond windows you will need to grab some other code - or perhaps put the code into platform specific modules.

[2019-11-01 15:23] geoperez commented on #314
I need to check this! OMG

[2019-11-02 18:08] geoperez commented on #314
I'm not able to reproduce the issue, at least in Windows:

[code]

The Webserver is responding properly, only the issue with the cert `NET::ERR_CERT_AUTHORITY_INVALID`.

[2019-11-02 18:10] #325 closed

[2019-11-02 18:12] geoperez commented on #332
Tested with the latest version, same behavior. Current output:

[code]

[2019-11-03 18:00] geoperez commented on #332
I changed the logic in `EndPointManager.AddListener` to log the exception.

[2019-11-03 18:12] #393 closed

[2019-11-04 21:58] JRosanowski opened #402 "EndPointListener not removed from EndPointManager when server shutdown or disposed."
The EndPointListener is not removed from EndPointManager when the server is shutdown or disposed.
We noticed this on iOS since if our app is suspended then iOS will shutdown the listener and make it unusable which leaves you in the position of not being able to restart the server.

It looks like the problem is in EndPointManager.RemovePrefix, it creates a new prefix object and passes it to RemoveP

[2019-11-05 15:24] geoperez commented on #402
The last weekend I was checking issue #332, and I think this is related.

[2019-11-06 15:47] georgeinva2004 opened #404 "WebSocket server returns 200 status code instead of 101 when using Microsoft WebsocketClient"
**Describe the bug**
This may just be my lack of experience with WebSockets, but it appears as if the handshake isn't working properly.  The WebsocketClient throws an exception saying that the server returned a status code of 200, but was expecting a 101.

**To Reproduce**

**Server side code** (just the creation code shown for brevity):
[code]
**Client side code**
[code]
**Expected behavior**
A s

[2019-11-07 16:51] vbhavsar-alchemysystems opened #405 "Account for spaces in filenames/directories within a zipfile when using ZipFileProvider"
ZipFileProvider allows us to use a zip file as an endpoint to deliver files via the webserver. However when there are spaces in the files, these files are retrieved with encodings. For example the zipped file "foo bar.jpg" is retrieved with "foo%20bar.jpg". The method in ZipFileProvider.MapUrlPath cannot find this file and returns null.

**Expected behavior**
We should be able to retrieve a file b

[2019-11-07 20:12] #405 closed

[2019-11-08 15:20] #320 closed

[2019-11-08 15:20] #315 closed

[2019-11-08 15:25] mr-smidge commented on #315
It seems fair to close this ticket - we haven't seen any recurrence of the issue since upgrading to 2.9.2.

[2019-11-08 20:20] #336 closed

[2019-11-09 15:32] #341 closed

[2019-11-13 15:23] Muhomorik commented on #394
Hello,

Seems that I am having a case of that error on .Net 4.6.2.
The error appears in 3.1.2 (3.1.1 works)

POST calls like await client.SendAsync(...) return HttpRequestException with:
An error occurred while sending the request.

[2019-11-13 16:57] geoperez commented on #394
Is .NET 4.6.2 the regular target framework for Xamarin?

[2019-11-13 18:53] Muhomorik commented on #394
Regular (WinForms).

[2019-11-15 06:03] JasonKaisersmith opened #407 "Incorrect response time logged"
**Describe the bug**
While using an API REST controller with logging to Console the webserver logs responses to requests.  This log information includes the response time in ms.

This response time is however incorrect and does not correspond to the actual response time the client experiences.

While performing tests using Postman as the client, then Postman reported responses between 9ms and 15ms

[2019-11-17 19:50] geoperez commented on #407
I did a quick test against the Sample App but I couldn't reproduce the bug.

Can you post a snippet of your WebAPI?

[2019-11-17 19:54] geoperez commented on #402
I was testing this issue, but I was not able to reproduce the issue:

[code]

I tested calling the URL and the correct response was sent. How are you disposing of the previous webserver?

[2019-11-17 19:56] geoperez commented on #404
Thanks for using EmbedIO, I will take a look in your issue in this week.

[2019-11-18 07:00] JasonKaisersmith commented on #407
Below are extracts of the code;

[code]

The webserver is started as follows:

[code]

GetStatistics() returns a cached Object, or retrieves it from the DB if it is timed out (not in any of the examples above).
RespObject is a simple object with a few fields and includes a JSON string serialised version of the cached Statistics object.

Sometimes the timing appears totally wrong as I have even got

[2019-11-18 09:20] gnh1201 opened #408 "How to use custom 404 page (ex. 404.html)"
I want use custom 404 page (ex. 404.html) in embedio, how to...? or could I get snippets? thanks.

[2019-11-18 14:50] geoperez commented on #408
You can handle the HTTP Exception by WebServer or Web Module, and you can create your own handler callback.

The following example will add a custom handler to the entire WebServer:

[code]

[code]

[2019-11-18 15:05] geoperez commented on #407
Alright, I'll take a look at your sample code. Thanks!

[2019-11-18 20:20] geoperez commented on #394
OK, I will give it a try with .NET framework.

[2019-11-21 19:26] Serk352 opened #409 "Sessions for each WebModule"
EmbedIO is creating a session for each controller instead of one for all the WebModules.

[2019-11-22 08:37] rdeago commented on #409
Hello @Serk352. This issue looks somewhat unlikely to me, because the session manager is defined at web server level, so it is the same for all modules, by definition.

Here are some tests you can do to verify that the problem is indeed the one you mention.

Given a `WebServer` with two modules and a `LocalSessionManager`:

* Does the client actually store cookies? This seems trivial, but `System.

[2019-11-25 02:22] JRosanowski commented on #402
Are you testing on iOS? On other platforms the previous EndPointListener is still usable so you end up with it passed back and you can reuse it. On iOS the previous one is no longer usable.

In any case the more obvious issue is that when RemovePrefix is called it's passed a new object for the ListenerPrefix and _prefixes are using ListenerPrefix **references** as the key. You won't find a prefix

[2019-11-25 14:16] Daniel25A opened #410 "How i can install this service on a vps Windows server 2012?"
why is there no guide or something like using this service outside localhost? most of the services are not done by console applications but by asp.net or .net core web, but this does not show how to do it.. which I think makes it horrible for someone who starts with this

[2019-11-25 16:47] geoperez commented on #410
Hi Daniel,

You can set the binding of the Webserver to wildcard char '+', so you will be listing any IP Address on your computer.

If you have something similar to:

` var webServer = new WebServer("http://localhost:800");`

Change the binding to:

` var webServer = new WebServer("http://+:800");`

[2019-11-25 16:49] geoperez commented on #402
I don't have a Mac computer to test with iOS. Anyway, as you mentioned, there is an obvious issue. I'll try to change the logic.

[2019-11-25 17:13] rdeago commented on #410
Hello @Daniel25A, thanks for using EmbedIO... or at least for giving it a try!

I think there may be a misunderstanding here: an application using EmbedIO is not necessarily a Windows service.

If what you are trying to build is a Windows service, i.e. a software that runs silently alongside other software, without opening a console window, and starts automatically with Windows, then you need a sl

[2019-11-25 17:16] Daniel25A commented on #410
My only problem is that I cannot connect or at least query data directly from a real ip .. Only in localhost.. I don't know if they understand me.. I want to be able to make requests from my browser to my vps through the ip, do they understand me?

[2019-11-25 18:26] rdeago commented on #410
Oh, OK, now it's a lot more clearer. Then @geoperez gave you the right advice.

If, after binding your WebServer to "http://+:{port}", you still cannot access it from another machine, you probably should take a look at your firewall configuration.

[2019-11-25 21:52] #410 closed

[2019-11-26 04:35] gnh1201 commented on #408
Great works!

[code]

thanks

[2019-11-26 04:35] #408 closed

[2019-11-26 09:33] rdeago commented on #407
Hello @JasonKaisersmith, thanks for using EmbedIO!

Also hello @geoperez of course... and sorry for the delay. Quite a busy period here.

The relevant log entry is generated [here in `WebServerBase<TOptions>.DoHandleContextAsync`](https://github.com/unosquare/embedio/blob/8e000fbf8f29fbb9b08f6a7be2b69dce737a1c80/src/EmbedIO/WebServerBase%601.cs#L284), after flushing the response stream and closing

[2019-11-26 09:36] rdeago commented on #400
@rocketraman can you confirm that this issue is solved?

[2019-11-29 05:26] gnh1201 opened #412 "File upload on 3.x"
I couldn't find examples like #60 for upload the file on 3.x. How to? thanks.

[2019-11-29 23:06] rdeago commented on #412
Hello @gnh1201, thanks for using EmbedIO!

The code snippet @geoperez posted in #60, slightly simplified and ported to EmbedIO v3, should be as follows. Remember to include [HttpMultipartParser](https://github.com/Http-Multipart-Data-Parser/Http-Multipart-Data-Parser) in your dependencies.

[code]

The code above, which should be a method in a Web API controller, uses HttpMultipartParser to read f

[2019-12-04 19:47] geoperez commented on #412
The library HttpMultipartParser has been updated, and the class `MultipartFormDataParser` constructor is obsolete. You can use the following snippet:

[code]

[2019-12-04 19:50] geoperez commented on #412
I updated the Cookbook (https://github.com/unosquare/embedio/wiki/Cookbook#reading-from-a-post-body-as-a-formdata-multipartform-data)

[2019-12-05 02:43] geforce-hisa0904 opened #413 "The request connection was closed unexpectedly"
**Describe the bug**
When EmbedIO Ver.3.1.3 running on .NET Framework 4.8 is accessed using HttpClient of .NET Framework 4.8, the following error occurs:

[code]

**To Reproduce**
Execute the following source code:

[code]

**Desktop (please complete the following information):**

- OS: Windows 10 Professional Version 1809 (OS build:17763.864)
- .NET Version: .NET Framework 4.8

**Additional conte

[2019-12-05 16:00] geoperez commented on #413
Hello, I'll take a look and let you know.

[2019-12-05 23:17] geoperez commented on #413
According to the debugger, the null reference in `HttpConnection` is from the `_context.Listener`:

[code]

[2019-12-06 15:09] geoperez commented on #413
Can you check my PR? https://github.com/unosquare/embedio/pull/415

[2019-12-08 16:07] #387 closed

[2019-12-09 03:06] geforce-hisa0904 commented on #413
Thank you for creating PR. (It seems that is already merged to master..) I seem that is no problem.
I will close this ticket, but please process it correctly if there is a problem processing the ticket.
Thank you.

[2019-12-09 03:06] #413 closed

[2019-12-09 08:19] rdeago commented on #362
Looks like our faithful bot already saw to it. 😄

[2019-12-09 08:22] #362 closed

[2019-12-09 08:28] rdeago commented on #412
Thanks a lot @geoperez, your updated snippet looks a lot better. It's async too!

Since the docs have been updated too, I'm closing this. @gnh1201 feel free to reopen, or to create a new issue, if we didn't correctly address your needs.

[2019-12-09 08:28] #412 closed

[2019-12-09 09:05] rdeago commented on #333
I have created a [Wiki page](https://github.com/unosquare/embedio/wiki/Partial-content-and-compression) explaining the behavior with requests that specify both content compression and a range. I'm therefore closing this issue, as the documentation has been updated as needed.

[2019-12-09 09:05] #333 closed

[2019-12-09 09:08] rdeago commented on #409
@Serk352 any news? If this turns out to be an actual bug, the sooner it gets identified and fixed, the better.

[2019-12-09 15:20] geoperez commented on #413
I just pushed a new Nuget.

[2019-12-09 22:08] geoperez commented on #409
If you don't set the Path property of the Cookie in SessioMananger, each different path in WebAPI Controllers will create a new cookie.

[2019-12-10 15:55] ST-Emanuel opened #417 "Generic HandleHttpException extension methods are ambiguous"
**Describe the bug**
`HandleHttpException()` can't be compiled when used as an extension method to `WebServer` when using EmbedIO 3.1.4 from nuget.

The call is ambiguous between https://github.com/unosquare/embedio/blob/071b72eff84a0ffb52aaa94c526ab2d16d713be7/src/EmbedIO/WebServerExtensions-ExceptionHandliers.cs#L20 and https://github.com/unosquare/embedio/blob/071b72eff84a0ffb52aaa94c526ab2d16d

[2019-12-10 15:58] geoperez commented on #417
I noticed this issue in VS 2017 but I think it was gone. Let me check what is going on.

[2019-12-12 14:54] geoperez opened #418 "IP-banning Module"
**Is your feature request related to a problem? Please describe.**
I would like to have a IP-banning system integrated to EmbedIO with a clear API to allow any Module to include a client in the black-list.

**Describe the solution you'd like**
Create an IP-banning module with the following mechanisms:

## TCP Requests

Ban a client when the max number of requests per second/minute has reached.

##

[2019-12-12 16:35] simohr opened #419 "Using .WithZipFile and .WithZipFileStream sometimes gives System.IO.IOException"
When starting WebServer with a zip file I sometimes get this exception [System.IO.IOException](https://drive.google.com/open?id=1q270BKEDRMrdYUJS8B5hGerXliS-mwZs). Sometimes it works as expected and loads all files. Sometimes I get this exception and sometimes it loads the server but with some files missing (local header corrupted). I am attempting to run the server on a Xamarin.Android app. Any h

[2019-12-12 16:36] k3z0 commented on #417
Hi @ST-Emanuel

It seems that this is a problem in VS 2017 that it doesn't infer properly the correct Extension Method because of the generic constraint.

I already opened, builded and run your sample projects without any problem using VS 2019.

[2019-12-12 16:40] geoperez commented on #419
Hi.

Do you have a similar issue with Windows or Linux?

[2019-12-13 07:04] ST-Emanuel commented on #417
Hi @k3z0 ,
Fair enough! I'll just do the roundabout way and call the static method directly (i.e. `WebServerExtensions.HandleHttpException(server, OnServerHttpException);`) in our projects until we update our build pipelines.

I'll mark this as closed, as (hopefully) very few people will have this issue in the future.

[2019-12-13 07:04] #417 closed

[2019-12-13 07:29] simohr commented on #419
I am using Macos Catalina(10.15.2) and Visual Studio for Mac (8.3.11). I would also like to note that when testing the WebServer on a simple Console App it could not open zip files created with the Mac system(Archive Utiliy or Keka), however I suppose this has more to do with System.IO.Compression.

[2019-12-17 21:20] #306 closed

[2019-12-17 23:53] rdeago commented on #409
@geoperez so is there a bug in [`LocalSessionManager.BuildSessionCookie`](https://github.com/unosquare/embedio/blob/fc4eb943878963ec9c74ef8c2bd8b95809e29abc/src/EmbedIO/Sessions/LocalSessionManager.cs#L268-L281), that does not set the cookie's `Path`?

[2019-12-19 16:14] geoperez commented on #418
This issue has been resolved partially. We still need the TCP Request inspector.

[2019-12-20 17:13] rdeago commented on #418
Sorry to be the usual grumpy uncle, but banning a client (aww no - an _IP address_, really) based on two different criteria will most likely result in a mess.

Why not have a list of criteria, expressed with classes derived from an abstract `BanningCriterion` or something of the kind?

Think about it: for each criterion, we need
* some properties to configure the module's behavior
* some data stru

[2019-12-20 17:19] geoperez commented on #418
I like the idea, even you can expose an API to write a custom criterion. Let's say using a specific header, for example.

[2019-12-22 18:58] geoperez commented on #409
Sorry, I miss this thread. Let me check the issue and document it.

[2019-12-24 10:43] rishabh14augshukla opened #421 "Getting socket Exception in embedio nudget"
Hello Team

I am using Xamarin tvOS framework for developing the tvOS project. So I am using the embedio nudget package as a local server. It is working fine when we launch the application. But when app goes into the background and app returns in ForeGround then embedio nudget package is not working as expected. It is started Giving the "**System.Net.Http.HttpRequestException: An error occurred wh

[2019-12-25 18:28] geoperez commented on #421
This bug has been reported before, issue #284. You can try changing the default HTTP Listener.

Unfortunately, I don't have a Mac to test in an iOS emulator.

[2019-12-26 08:14] rishabh14augshukla commented on #421
@geoperez I tried the solution which is you suggested, I have used the **"HttpListenerMode.Microsoft"**
HTTP Listener mode but still I am getting the same error. Can you please take a look and suggest me any other solution for it.

[2019-12-26 08:17] rishabh14augshukla commented on #284
@rdeago and @geoperez I am getting this issue in tvOS device when app goes to BackGround and again come in the foreground then I get the **"System.Net.Http.HttpRequestException: An error occurred while sending the request ---> System.Net.WebException: Error: ConnectFailure (Connection refused) ---> System.Net.Sockets.SocketException: Connection refused
  at System.Net.Sockets.SocketAsyncResult"**

[2019-12-26 17:39] geoperez commented on #421
Can you code run in Android?

[2019-12-26 17:42] rishabh14augshukla commented on #421
@geoperez It is working fine in Android but it is giving too many exception in case of tvOS.

[2019-12-27 14:03] simohr opened #423 "Web Server .WithStaticFolder does not work in Xamarin.iOS."
**Describe the bug**
When creating a simple WebView Xamarin.iOS app starting a web server with a static folder throws `System.PlatformNotSupportedException: Operation is not supported on this platform.
  at System.IO.FileSystemWatcher.StartRaisingEvents () [0x00000] in /Users/builder/jenkins/workspace/xamarin-macios/xamarin-macios/external/mono/external/corefx/src/System.IO.FileSystem.Watcher/src/

[2019-12-27 15:02] geoperez commented on #423
Interesting, I didn't know that `FileSystemWatcher` is not supported. We can change this behavior.

@simohr I will need your help to test a prerelease nuget.

[2019-12-27 15:07] geoperez commented on #421
Can you share a sample project where to test in a Mac?

[2019-12-27 16:29] geoperez commented on #423
@simohr can you test with this prerelease version?

https://www.nuget.org/packages/EmbedIO/3.2.1-pre1

[2019-12-27 22:24] simohr commented on #423
I will as soon as I get back to work, which will be a full week from now. Thank you for the quick response.

[2019-12-28 17:42] rdeago commented on #419
According to the results of [a quick Google search](https://www.google.com/search?q=bug+with+zip+files+created+on+macos) there seem to be some long-standing bugs in MacOS's ZIP archiving utilities. I don't know if this completely explains the problems @simohr is experiencing, but I'd suggest using ZIP files created on a Windows or Linux system, or at least verify that a ZIP file can be correctly e

[2019-12-28 17:47] rdeago commented on #399
@geoperez next minor version could be the right time to change the default for `EndPointManager.UseIpv6` to `true`. Want a PR? :wink:

[2019-12-28 17:50] geoperez commented on #399
I think I already did it.

On Sat, Dec 28, 2019, 11:47 AM Riccardo De Agostini <
notifications@github.com> wrote:

[2019-12-28 17:55] rdeago commented on #401
This is weird. I thought we could count upon some buffering of incoming data on TCP sockets. @geoperez are we maybe dropping the first received message for some reason, or initializing something a bit too late?

[2019-12-28 18:05] denkuy commented on #401
You are starting to receive messages before you hook up events. Please see my initial post an follow the links

[2019-12-28 18:20] geoperez commented on #409
OK, the thing is that `LocalSessionManager` is always using string empty as Cookie Path by default. So you can't share a cookie between modules, because the string empty will change to the module base path.

You need to specify the Cookie Path to root, in order to share the cookie. Something like this:

[code]

Maybe this is your design, but it is just different from previous EmbedIO behavior.

[2019-12-28 18:23] geoperez commented on #407
@rdeago do you get a chance to check my last PR in SWAN?

[2019-12-30 07:54] rdeago commented on #401
@DennisKuypers `ProcessSystemContext` does not use events. Can you try and see if the problem goes away when initializing a `WebServer` with `HttpListenerMode.Microsoft`?

@geoperez this _is_ a problem with `HttpListenerMode.EmbedIO`. We should consider changing the code in `EmbedIO.WebSockets.Internal.WebSocket` to be able to loop over received messages instead of using events. 🙈

[2019-12-30 07:56] rdeago commented on #409
More than my design, this is most probably my fault.

So should I make `"/"` the default path for session cookies?

[2019-12-30 10:20] rdeago commented on #407
@geoperez I did. Still waiting to see whether @JasonKaisersmith has had a chance of testing point 2, and what he found out.

[2019-12-30 14:17] MarcoLPR opened #425 "Fix Embedio Sample app"
Some styles have messed up

[2020-01-02 13:38] geoperez commented on #409
I think we should. I'll add a PR with this patch later the week.

[2020-01-02 18:51] #418 closed

[2020-01-03 17:48] #425 closed

[2020-01-06 09:27] rishabh14augshukla commented on #421
@geoperez  Do you want sample code of embedio, Means How we are initialing  the embedio ?

[2020-01-06 15:34] simohr commented on #423
I have a correction to make, the OS that the simulator is running on is Unix 19.2.0.0 and the above exception is present in EmbedIO 3.3.1. I have tried to run the app on iOS device but so far I am running into a lot of linker exceptions unrelated to this project.

[2020-01-06 15:59] geoperez commented on #423
EmbedIO 3.3.1 doesn't include the fix, you need to use the version 3.2.1-pre2

[2020-01-06 17:19] #290 closed

[2020-01-07 07:32] simohr commented on #423
I have tried both versions and neither is working with the iOS emulator. My initial mistake was that I thought the emulator was running on a virtual iOS environment but as it turns out it uses Unix 19.2.0.0, and this version of Unix is unsupported by the FileSystemWatcher. If I can get the app running on an iOS device I will report back.

[2020-01-07 08:26] rishabh14augshukla commented on #421
@geoperez Sorry I can not share the project information but I can share the other information like embedio (3.1.1) version.
Visual Studio Community 2019 for Mac
Version 8.3.11 (build 1)
Installation UUID: fca308dd-a4b6-466c-954d-fbfeb3bfc296
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 5.16.1.24 (d16-3 / 08809f5b)

	Package version: 604000208

Mono Framework MDK
Runtime:
	Mono 6.4.0.208 (2019-06/07c

[2020-01-07 16:11] geoperez commented on #423
Unix 19.2.0.0? is this like macOS o Linux?

[2020-01-07 16:29] geoperez commented on #423
Can you test version 3.3.2-pre1?

[2020-01-08 19:24] #314 closed

[2020-01-09 09:39] simohr commented on #423
With 3.3.2-pre1 it works fine on the IOS simulator.

[2020-01-09 15:02] geoperez commented on #423
@simohr can you help me with a test on iOS Simulator?

What do you get with:

```RuntimeInformation.IsOSPlatform(OSPlatform.OSX)```

and

```RuntimeInformation.IsOSPlatform(OSPlatform.Linux)```

Thanks!

[2020-01-09 15:52] simohr commented on #423
It works well with iOS Devices too.

[2020-01-09 15:52] #423 closed

[2020-01-09 15:58] simohr commented on #423
RuntimeInformation.IsOSPlatform(OSPlatform.OSX) - True
RuntimeInformation.IsOSPlatform(OSPlatform.Linux) - False
----------
OperatingSystem os_info = System.Environment.OSVersion;
Debug.WriteLine(os_info.VersionString); - Unix 19.2.0.0