[2015-02-11 15:14] sunsided opened #1 "NuGet package"
Can you provide and register a NuGet package?

[2015-02-11 15:57] mariodivece commented on #1
Sure. I just uploaded the NuGet Package
PM> Install-Package EmbedIO

[2015-02-11 15:57] #1 closed

[2015-02-11 22:25] sunsided commented on #1
perfect, thanks!

[2015-03-15 15:46] PhilipDaniels opened #2 "Please provide a version of RegisterWebSocketsServer which allows me to pass in an instance"
The current implementation forces users to create a server with a parameterless constructor:

    public void RegisterWebSocketsServer<T>(string path)
            where T : WebSocketsServer, new()
    {
        this.ServerMap[path] = Activator.CreateInstance<T>();
    }

Just let me pass in a server I have created.

[2015-03-15 16:05] PhilipDaniels opened #3 "WebSocketsServer is abstract but has a non-virtual Dispose method"
Please implement Dispose according to the correct pattern so that subclasses which have disposable objects can clean them up properly.

https://msdn.microsoft.com/en-us/library/vstudio/b1yfkh5e%28v=vs.100%29.aspx

Code Analysis will warn of this issue:

https://msdn.microsoft.com/query/dev12.query?appId=Dev12IDEF1&l=EN-US&k=k(CA1063);k(TargetFrameworkMoniker-.NETFramework,Version%3Dv4.5)&rd=true

[2015-03-16 15:49] mariodivece commented on #3
Thanks for your input Philip! I have implemented the missing method.

[2015-03-16 15:49] #3 closed

[2015-03-16 18:18] mariodivece commented on #2
Closing. See commit b7789c2e5e70f50358bb0935bac4619892a888ad

[2015-03-16 18:18] #2 closed

[2015-03-16 20:04] PhilipDaniels commented on #2
Thanks for the quick response. Can we get an updated NuGet package?

[2015-03-29 02:59] mariodivece commented on #2
I've updated the nuget package. We have also removed the dependency on log4net.

[2015-04-27 20:58] mariodivece opened #5 "Release EmbedIO NuGet Package with XML documentation"
I realized I did not include the xml documentation file in the EmbedIO package. Geo, can you update/re-publish the package please?

[2015-04-27 21:13] geoperez commented on #5
Done.

[2015-04-27 21:13] #5 closed

[2015-04-29 17:36] geoperez opened #6 "Handle ETags"
StaticFilesModule needs to handle ETags

[2015-04-29 17:40] mariodivece commented on #6
Yep, that was a comment I left in the code and that certinly needs to be addressed. Another nice to have would be partial content with range requests for the purposes of for example, camera streams.
http://benramsey.com/blog/2008/05/206-partial-content-and-range-requests/

[2015-04-29 17:44] mariodivece opened #7 "Add SimpleConsoleLogger and use in example Doc"
Let's add a SimpleConsoleLogger as an out-of-the-box logger that you can plug into your setup.
Also update the readme.md and example code.

[2015-04-29 19:34] geoperez commented on #7
SimpleConsoleLogger is ready, and documentation was updated.

[2015-04-29 19:37] mariodivece commented on #7
http://unosquare.github.io/embedio/

This has no been updated yet :(

[2015-04-29 19:41] mariodivece opened #8 "Publish new NuGet Package with SimpleConsoleLog"
The title is pretty much self-explanatory (1.0.3)

[2015-04-29 20:40] geoperez commented on #8
New NuGet published https://www.nuget.org/packages/EmbedIO/

[2015-04-29 20:40] #8 closed

[2015-04-29 20:40] geoperez commented on #7
Web site updated.

[2015-04-29 20:40] #7 closed

[2015-05-06 19:15] mariodivece opened #9 "SimpleConsoleLogger not asynchronous"
The SimpleConsoleLogger is completely synchronous. The calls to the console are degrading the performance of the request-response cycles. Pick a thread from the thread pool and use a ConcurrentQueue (https://msdn.microsoft.com/en-us/library/dd267265%28v=vs.110%29.aspx) or use other means such as a BlockingCollection as described here (http://stackoverflow.com/questions/3670057/does-console-writeli

[2015-05-07 21:43] geoperez commented on #6
Mario, I pushed Etags and 206 partials support. Check them please.

[2015-05-07 21:43] geoperez commented on #9
This is done.

[2015-05-07 21:43] #9 closed

[2015-05-10 13:58] srad opened #10 "Basic example doesn't serve static files"
I just installed the nuget package and created a simple index.html file an placed it under c:/web/index.html and used the first code example to get the index.html served within the web browser (which automatically opens given the demo code) and it fails because the server is not reachable.

Could you try if the code is actually working, or is anything else required here?

[2015-05-10 14:52] geoperez commented on #10
Let me try to reproduce it.

[2015-05-10 15:00] geoperez commented on #10
I found some minor issues in the basic sample that I'll fix. I created a console app with the Nuget and the next code and it's working fine:

[code]

[2015-05-10 20:44] srad commented on #10
Thanks for the quick reply, I still get an exception which I thought was related to the access rights level to the file system, but raising the level to admin didn't made it go away. Any idea what this is?

My VS is in German, but the trace should be readable:
[code]

[2015-05-10 20:48] geoperez commented on #10
It's seem like the tcp port can not be open. What Windows version are you
using?
On May 10, 2015 3:44 PM, "Saman" <notifications@github.com> wrote:

[2015-05-10 20:49] mariodivece commented on #10
I would also suggest changing the port. Go for a url prefix such as:

http://localhost:49618/

From: Geovanni Perez [mailto:notifications@github.com]
Sent: Sunday, May 10, 2015 3:48 PM
To: unosquare/embedio
Subject: Re: [embedio] Basic example doesn't serve static files (#10)

It's seem like the tcp port can not be open. What Windows version are you
using?
On May 10, 2015 3:44 PM, "Saman" <notific

[2015-05-10 20:53] srad commented on #10
I'm on Windows 8.1, VS 2013, .net 4.5
@mariodivece Changing the port didn't changed it, still the same exception. I tried a few ports.

[2015-05-10 21:11] mariodivece commented on #10
Quick question: Are you trying from the nuget package or from source? If from source, can you do a step-through and let us know which line breaks it? If from nuget can you send us the version number pls?

Please forgive the brevity and typos. Message sent from a mobile device.
________________________________
From: Saman<mailto:notifications@github.com>
Sent: ‎5/‎10/‎2015 3:53 PM
To: unosquare/emb

[2015-05-10 21:14] srad commented on #10
I used the nuget package, version: 1.0.3
I could also try using the source code, but I'm not a full c# programmer, I'll try to figure it out.

[2015-05-10 21:34] srad commented on #10
Hold on, I didn't realized that the example was only supposed to be run from a console application. But still the exception irritated me.

However I created a console only application and it's seems to be OK. I ran it within an forms project.

Is there any guideline how I should/can embed this inside such an application an existing, or can you give me some tips? Do I have to keep I running in a lo

[2015-05-10 21:35] mariodivece commented on #10
I created a new project from embedio package 1.0.3, added index.html to c:\web and it worked just fine... I'm attaching the zip file with the VS 2013 project. Can you let us know if it works?
https://www.dropbox.com/s/0zkg1vwn5qrsiy3/ConsoleApplication1.zip?dl=0

[2015-05-10 21:37] mariodivece commented on #10
What kind of application are you writing? You don't have to run it in a console app. In fact we use it in Windows services and linux daemons. If you'd like to run it in say, a WPF app or a WinForms app, you'd just spawn a new thread and leave it there.

[2015-05-10 21:40] srad commented on #10
It's an desktop application which hosts a local web application and I want to implement a REST API to the web server, so I can't move the application later online and retain the web application implementation, once the online service is done.

[2015-05-10 21:53] mariodivece commented on #10
Take a look at this sample code I have created for you. It uses a background worker to host the web server in your winforms app.
https://www.dropbox.com/s/yzbo365m8hlqrzf/WindowsFormsApplication1.zip?dl=0

[2015-05-10 21:59] srad commented on #10
Got it. Guys you are just awesome and really helpful thank you! I might be annoying you in the near future again, since I'm playing with you project. Thanks again :)

[2015-05-10 22:02] mariodivece commented on #10
You bet, and good luck with your project! Closing this one down.

[2015-05-10 22:02] #10 closed

[2015-05-11 12:35] geoperez commented on #6
New release

[2015-05-11 12:35] #6 closed

[2015-05-12 17:26] srad opened #12 "Including source to project leads StaticFilesModules HttpListenerException when serving static file"
When I use the nuget package everything is fine, but when I use the source and add it to my project I get the following exception service a static file, but it still works:

[code]

![2015-05-12_19h20_44](https://cloud.githubusercontent.com/assets/1612461/7593678/2926d5d8-f8dc-11e4-962b-4598907d61a7.png)

I have 3 Projects now:

1. embedio Checkout
2. WebService (adds embedio)
3. My App (adds WebS

[2015-05-12 18:30] geoperez commented on #12
Hi,

The anonymous function should not be an issue, my guess is probably the Nuget is not throwing the error visually. If you check the "Output" window in "Debug" option maybe you should see the error too with Nuget.

Related to the issue, are you disposing the webworker when the exception raised?

I'm trying the next code, but I can't get the HttpListenerException.

[code]

[2015-05-12 22:48] srad commented on #12
I was actually expecting that it was silently happening. And no I'm not explicitly disposing the worker when the exception is raised, if you mean what I think then it's not necessary considering what I read on stackoverflow.

[2015-05-13 15:39] geoperez commented on #12
Hey @srad, I'm still trying to reproduce the issue. I added the next code at Webserver.cs line 306

[code]

And I created a simple webrequestor to be requesting the index page constantly but the debugger is never hitting the ListenerException.

Can you share me a little bit more your code?

[2015-05-13 19:05] srad commented on #12
Hi, I hadn't had the time to look thoroughly into this, for now I just ignored the exception.

What I  can say is that I served an Html page which contained an <audio> element to a mp3 file, when the exception was raised.

[2015-05-13 19:34] srad opened #13 "Async Controller Actions"
Since the controller actions are not tasks I wonder if you have another general notion on how to wait for I/O code in actions to complete?

Currently I'm using ```task.wait()``` for a task to complete, which doesn't seem to be 100% working, I need to debug a few cases yet. However, can I declare actions as Tasks?

[2015-05-13 19:38] mariodivece commented on #13
All responses are already wrapped in async/await pattern. Your controller actions are all asynchronous:)

Please forgive the brevity and typos. Message sent from a mobile device.
________________________________
From: Saman<mailto:notifications@github.com>
Sent: ‎5/‎13/‎2015 2:34 PM
To: unosquare/embedio<mailto:embedio@noreply.github.com>
Subject: [embedio] Async Controller Actions (#13)

Since th

[2015-05-13 20:23] srad commented on #13
I was going through a few options and also saw [uhttpsharp controller demo] (https://github.com/int6/uhttpsharp/blob/master/uhttpsharp-demo/Controllers/DemoController.cs) which declares actions as ```public Task<IControllerResponse> ...``` which I found a little less confusion and this would also allow to use straight the ```await``` keyword in the action without any ```task.wait()``` or similar t

[2015-05-13 21:35] geoperez commented on #13
@srad I created a branch (https://github.com/unosquare/embedio/tree/AsyncREST) where you can define ```await Task<bool> ...``` methods. Check if this is a better approach please.

@mariodivece What do you think of this branch?

[2015-05-13 21:37] geoperez commented on #13
BTW check the sample at file https://github.com/unosquare/embedio/blob/AsyncREST/Unosquare.Labs.EmbedIO.Samples/RestApiSample.cs

[2015-05-13 21:59] srad commented on #13
That is pretty cool.
What do you think of returning a response object/result like uhttpsharp does instead of ```bool```?

Because without event looking at a controller I would pretty much expect the signature to be something like ```public Task<IControllerResponse> ActionBla()``` returning something like ```Response.Render(HttpResponseCode.Ok, null);```

[2015-05-13 22:15] geoperez commented on #13
The approach is different, our REST method returns a boolean just to indicate if the request was handled and the method must write the Response's output using for example ```context.JsonResponse```.

In the other hand, uhttpsharp is returning an interface where they can put any call to another class to write the content. It's pretty much the same, but Embedio is simpler. If you wish you can add th

[2015-05-13 22:28] srad commented on #13
I think I understand now that you go for less abstraction (which is not necessarily the same as simplicity), because I find uhttpsharp's approach semantically clearer, because it's more explicit.
The ```bool``` in the signature just bugs me, it's straight a question-mark looking at it. ;)

[2015-05-14 15:03] geoperez commented on #13
I merged the Async branch to master.  Since we are not implementing return an interface in REST methods, I'm closing this issue now.

[2015-05-14 15:03] #13 closed

[2015-05-20 10:35] benny856694 opened #15 "staticfilemodule: possible invalid char exception"
Cause:
the call to " context.Response.AddHeader(Constants.HeaderLastModified, utcFileDateString);" will trigger invalid char exception if running on non-english locale, since 'utcFileDataString' possibly has invalid chars (Chinese character in my case).

Possible fix:
var utcFileDateString = fileDate.ToUniversalTime().ToString(Constants.BrowserTimeFormat, CultureInfo.InvariantCulture)  -  add Inva

[2015-05-20 15:00] geoperez commented on #15
Your PR was merged, thank you. I'll write some unit testing to validate the strings.

[2015-05-20 15:00] #15 closed

[2015-05-20 15:03] benny856694 commented on #15
hope to get the nuget release asap, so I can use it in my project, thanks. :)

[2015-05-20 15:06] geoperez commented on #15
Sure thing, give me a minute.

On Wed, May 20, 2015 at 10:03 AM, benny856694 <notifications@github.com>
wrote:

--
Geo Pérez

[2015-05-20 15:15] geoperez commented on #15
New nuget https://www.nuget.org/packages/Embedio

[2015-05-27 03:55] benny856694 opened #17 "Is it possible to support .net 4?"

[2015-05-27 04:09] mariodivece commented on #17
Hey Benny, if there is a good reason to do so, then we will. Can you explain why you need .net 4 support? Have you tried downloading the source and compiling for .net 4?

[2015-05-27 04:57] benny856694 commented on #17
tried, the Json and websocket  is the problem on .net 4

[2015-05-27 12:11] geoperez commented on #17
Websocket inbuilt support doesn't exist in NET4 and the json library it's
just downgrade it. Are you planning a system limited to NET4 or why do you
need this requirement?
On May 26, 2015 11:57 PM, "benny856694" <notifications@github.com> wrote:

[2015-05-27 15:05] benny856694 commented on #17
never mind, drop this requirement.

[2015-05-27 15:05] #17 closed

[2015-05-27 15:09] geoperez commented on #17
Aright. Let me know if you need anything else.

[2015-08-25 00:31] mariodivece opened #21 "Update NuGet Package"
Self-explanatory. I realized the NuGet Package is not up to date because the RunAsyc method does not return a task but in the code it does.

[2015-08-25 00:52] geoperez commented on #21
Done

[2015-08-25 00:52] #21 closed

[2015-08-25 01:18] mariodivece opened #22 "StaticFilesModule - Check for byte range requests before reading the entire file"
Line 251, by the time the check for byte range requests is performed, the entire file has already been read which could potentially be a very large file. Byte range requests should not use RAM caches either. Additionally, the response must contain a 206 Partial content header.

Make sure you use a FileStream with shared read access so the file is not locked when it is being read.

[2015-08-26 20:27] geoperez commented on #22
Mario, please check new Nuget v1.0.12 https://www.nuget.org/packages/EmbedIO/

[2015-09-22 20:46] mariodivece commented on #22
Ok, looks good now. Closing.

[2015-09-22 20:46] #22 closed

[2015-11-08 05:09] Rubenaco opened #23 "Websocket error 404"
It throws 404 when trying to access web socket examples.

2015-11-08 06:05:07,838 [12] ERROR Unosquare.Labs.EmbedIO.Samples.Program No module generated a response. Sending 404 - Not Found

[2015-11-08 05:51] Rubenaco commented on #23
Sorry, I was using windows 7.

[2015-11-08 05:51] #23 closed

[2015-11-27 07:21] shkim opened #24 "Non en_US locale can cause ArgumentException on any request."
I got ArgumentException with any http request, the stack trace is:

2015-11-27 16:08:16.704	System.ArgumentException: 지정한 값에 잘못된 제어 문자가 있습니다.
매개 변수 이름: value
   위치: System.Net.WebHeaderCollection.CheckBadChars(String name, Boolean isHeaderValue)
   위치: System.Net.WebHeaderCollection.SetInternal(String name, String value)
   위치: Unosquare.Labs.EmbedIO.Extensions.NoCache(HttpListenerContext context)

[2015-11-27 15:46] geoperez commented on #24
Hi Kim,

Let me take a look and probably setup the HttpListener thread with en-US
culture to avoid force it from outside.

Thank you

On Fri, Nov 27, 2015 at 1:21 AM, Sunghun Kim <notifications@github.com>
wrote:

--
Geo Pérez

[2015-12-01 15:37] geoperez commented on #24
@shkim quick question, what .NET version are you using?

[2015-12-01 18:20] shkim commented on #24
Windows 8.1 / Visual Studio 2013 / .NET Framework 4.5.1

[2015-12-04 08:11] sameera opened #25 "Strong Name the nuget assembly"
Can the nuget package be updated to contain a strong named assembly, please? My main code needs to be strong named and therefore this is a blocker for me to use the embedio lib.

[2015-12-04 15:55] mariodivece commented on #25
It's coming; @geoperez  will release the new signed NuGet package in a bit.

[2015-12-04 15:55] #25 closed

[2015-12-04 16:00] mariodivece commented on #12
Closing as no further feedback was received and the issue could not be reproduced.

[2015-12-04 16:00] #12 closed

[2015-12-04 16:02] geoperez commented on #25
Nuget version [1.0.14](https://www.nuget.org/packages/EmbedIO/ ) is ready

[2015-12-04 17:04] sameera commented on #25
Excellent! Thanks for the quick turn around :+1:

[2015-12-17 08:12] sameera opened #26 "HTTPS/WSS support"
Is there a way to enable wss support?

[2015-12-17 15:34] geoperez commented on #26
Hi @sameera, did you already try to use the EmbedIO binding to wss with a certificate in your machine? For example following these steps to do the cert thing: http://stackoverflow.com/questions/11403333/httplistener-with-https-support

[2015-12-18 02:07] sameera commented on #26
Hi,
Thanks I trybit out. However, at a glance, this approach seems to limit me toba static port number (I.e. I'd have to hard code the port in the app as the cert is bound manually a one).
What do you recliner the effort would be to do what socketsharp is doing (loading the cert off a pfx file)?

[2015-12-18 15:21] geoperez commented on #26
The implementation in socketsharp looks really good, I'm going to take a deep look and let you know if we move to implement something similar.

[2015-12-22 16:09] sameera commented on #26
Just checking in: Have you decided on either way?

[2015-12-22 16:20] mariodivece commented on #26
@sameera Could you please try the following nuget? This is the simplest, most transparent way of setting certificates on ports and bindings. Please check it out and let us know how it goes. https://www.nuget.org/packages/SslCertBinding.Net/

[2015-12-22 16:40] sameera commented on #26
Thanks Mario.
This would probably work for most scenarios; however, not mine.
Reading through this implementation, looks like it needs the certificate to already be in the user's Certificate store. Which means the certificate is already installed and this simply does port binding to it.

In my scenario, I have a standalone executable that I distribute which has the embedded websocket server. I wan

[2015-12-23 09:00] sameera commented on #26
Hi,
Just want to let you know that this is no longer a requirement for me. Therefore, I could close this issue for now unless, this is a feature you are planning to build eventually.

[2016-03-24 14:43] jondavidford opened #28 "Wildcards only supported at the end of a URL?"
Correct me if I'm mistaken, but it seems like the "*" wildcard is only supported at the end of a URL rather than anywhere within it. Is this intentional? Looking through the documentation, I don't see any examples of a wildcard not at the end of a URL. Some of my endpoints require a wildcard in the middle of a URL, and I'm sure other developers have the same requirements.

[2016-03-24 16:44] geoperez commented on #28
Can you post a sample where do you need the support to middle wilcard?

Thank you

On Thu, Mar 24, 2016 at 8:43 AM, Jon Ford <notifications@github.com> wrote:

--
Geo Pérez

[2016-03-24 19:10] jondavidford commented on #28
Sure. In my API, I have the concept of groups of devices. So, to get the nth group of devices, the endpoint that makes the most sense to me is _/api/groups/n/devices_.

Alternatives:
_/api/groups/n_
Doesn't make sense since groups have more properties than just devices.

_/api/groups/devices/n_
This is what I'm currently using as a workaround, but I'm not satisfied. Here's why: I also need an API

[2016-03-26 22:25] mariodivece commented on #28
Up-voted. I agree with Jon.

[2016-03-30 05:54] mariodivece commented on #24
My suggestion is to generate the Browser Time Format manually as opposed to using a format string. The days of the week and the names of every month will need to be specified by a hard-coded dictionary using DateTime.DayOfWeek and DateTime.Month respectively as keys to what the browser expects.

[2016-03-30 23:11] bufferUnderrun commented on #28
Hi,

I've the same need. I use the ninja patch below to support one wildcard in the middle of the url.

[code]

A better solution could be to support regexp and map match group to argument of the method.
example :

[code]

[2016-03-31 16:21] mariodivece commented on #28
@bufferUnderrun would you be able to help us support regex-based routing without breaking wildcard routing by providing a pull request?

[2016-03-31 20:55] geoperez commented on #28
I commited the @bufferUnderrun suggestion with an Unit Test and it's seems to be fine. But I agreed to include better support with regex to routes and bind segments as arguments in the WebApi handler.

[2016-03-31 21:16] mariodivece commented on #28
@geoperez the routing attribute needs to have the default constructor to use wildcard matching and add an additional constructor taking in a string and a RoutingStrategy enum that has the members Wildcard and RegEx

[2016-04-04 23:16] bufferUnderrun opened #29 "Escaping issue in Extension.RequestFormData()"
Hi,

i've found a error in the way `Extension.RequestFormData()` is escaping characters, in particular the  "plus" sign.

In one of my forms, i use an ajax call with jQuery to send data to a RestApi Controller. When jQuery calls `$form.serialize()`, it encodes space as "plus" sign. Example : `field1=value1withoutspace&field2=value2+with+spaces`.

The problem is that the `Uri.UnescapeDataString()`

[2016-04-04 23:23] mariodivece commented on #29
Agreed. Thank you for the quick fix! We will correct ASAP.

[2016-04-04 23:35] bufferUnderrun commented on #29
Thank for update.

[2016-04-04 23:40] mariodivece commented on #29
The Pull Request has been completed. @geoperez please update the NuGet package.

[2016-04-05 19:05] geoperez commented on #29
The NuGet was updated.

[2016-04-05 21:21] bufferUnderrun commented on #29
Could you update the Newtonsoft.Json dependency to (>= 8.0)  for this last nuget package (v1.0.15). It is set to Newtonsoft.Json (>= 7.0.1) but it seems it has been compiled with the v8.

Without, it throws an exception (in French, sorry) :
`Impossible de charger le fichier ou l'assembly 'Newtonsoft.Json, Version=8.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' ou une de ses dépendances.

[2016-04-06 13:52] geoperez commented on #29
Updated the dependency, thank you for the heads up

[2016-04-06 17:35] mariodivece commented on #29
@geoperez if this is closed and you released the updated NuGet package, please close this issue.

[2016-04-06 18:33] #29 closed

[2016-04-07 00:20] mariodivece commented on #24
I have updated the code to use en-US culture when generating these headers. Hope this fixes the issue.

[2016-04-11 01:11] geoperez commented on #28
@mariodivece a very early version to support Regex and send args directly to the WebApi method is available in the next test file: https://github.com/unosquare/embedio/blob/master/Unosquare.Labs.EmbedIO.Tests/TestObjects/TestRegexController.cs

Let me know your thoughts

[2016-04-11 17:19] bufferUnderrun commented on #28
cool, i'll test this.

[2016-04-11 17:35] bufferUnderrun commented on #28
In your [last commit](https://github.com/unosquare/embedio/commit/80bd2c8c582787fe61f76dcfcd15f01b5343901a#diff-74b973dfeba646f9f188d25b3af25fcfR176), you use the new syntax for Properties introduced in C# 6.0 for property initializer.

Do you plan to retargeting to the most recent C# version ? because vs2013 does not support this...

[2016-04-11 17:48] mariodivece commented on #28
we are now using VS 2015/C# 6. The solution file and some areas of the codes are now starting to use the features provided by C# 6. We will however continue to target .net framework 4.5 as there is no apparent benefit for this project to target later versions.

[2016-04-11 17:50] mariodivece commented on #28
@geoperez The implementation is incomplete. Please avoid publishing a nuget package until the async implementation is completed. Starting to look pretty good though! :+1:

[2016-04-11 17:52] mariodivece commented on #24
@geoperez maybe add a unit test that creates a web server under a thread with a different culture and check if it generates the browser time format the right way.

Closing issue as not further comment were provided by @shkim

[2016-04-11 17:52] #24 closed

[2016-04-11 17:58] bufferUnderrun commented on #28
@mariodivece hum, so after install vs2008 to maintain a old asp.net mvc1 project, vs2010 for a outlook addin and vs2013 for my current aspnet mvc5 projects, i will install vs2015... :)  Hope embedio will rule them all :+1:

[2016-04-11 18:01] mariodivece commented on #28
@bufferUnderrun Ha! Story of my life. @geoperez has it worse: He has to run VB6 on a VM to support some really old application.

[2016-04-11 18:02] geoperez commented on #28
:crying_cat_face:

[2016-04-11 18:06] mariodivece opened #32 "Update samples with new CDN and RegEx Routing Strategy"
Once you complete the RegEx routing strategy, update the samples' CDN and update the handlers to show usage of RegEx routing strategy.

[2016-04-11 18:16] bufferUnderrun commented on #28
@geoperez you win !

[2016-04-11 20:05] geoperez commented on #28
@mariodivece async methods are available with Regex Strategic. I created more unit tests to check async implementation in both ways.

[2016-04-11 20:47] geoperez commented on #32
@mariodivece  the documentation and samples were updated. Let me know if I need to change anything else.

[2016-04-11 21:15] mariodivece commented on #32
I need to make a few minor corrections. Looks good though. Thanks @geoperez

[2016-04-12 08:21] bufferUnderrun opened #33 "Unable to access twice to request.InputStream"
How to reproduce (in the ResApiSample.cs) :

[code]

OR

[code]

The problem come from the underlying inputStream : when StreamReader is disposed, it lets the cursor position to the end. So the next call to StreamReader(inputStream) will be null.
[code]
I've tried to use `Read(pos, len)` or force `body.Position = 0` but this stream cannot be seek or written. Same problem using a MemoryStream and C

[2016-04-12 15:05] geoperez commented on #33
Let me take a look in your sample.

[2016-04-12 17:07] mariodivece commented on #33
This is most likely the underlying design of the http.sys implementation as the backing http stream is not rewindable for obvious reasons  but thanks for checking @geoperez

[2016-04-12 18:03] bufferUnderrun commented on #33
@mariodivece agree. Do you plan to _cache_ `context.Request.InputStream` in order multiple reads works or keep the actual implementation ?

For instance, i've made a [temporary workaround](https://github.com/unosquare/embedio/files/215634/inputstream-workaround-extension.txt), so i can :
[code]

A bit verbose but solve my problem...

[2016-04-12 18:23] mariodivece commented on #33
I have added the overloads. Hope these help. We will be releasing a new NuGet package if no more issues arise by the EOD.

[2016-04-12 18:25] mariodivece opened #34 "Rename RegEx to Regex"
The more common term is Regex rather than RegEx. Please rename these in the source, readme, documentation, and samples. Thanks and sorry for causing the extra work.

[2016-04-12 19:19] geoperez commented on #34
Renaming is done.

[2016-04-12 19:19] #34 closed

[2016-04-12 21:15] geoperez commented on #28
The new Nuget was published.

[2016-04-12 21:28] #28 closed

[2016-04-12 21:28] #33 closed

[2016-04-12 21:29] #32 closed

[2016-04-15 09:42] bufferUnderrun opened #35 "support nullable parameter in the regexp engine"
Hi,

my goal is to support optional parameter by the new regexp routing engine. With this
[patch](https://github.com/unosquare/embedio/files/220643/support-nullable-type-parameter-in-regexp-engine.txt), you can now declare a nullable parameter :
[code]
It works but has some limits :

1. when GET /people the regexp doesn't match the right url due to the fact that `NormalizeRegexPath()` doesn't know

[2016-04-18 18:14] mariodivece commented on #35
We'll need to analyze how the handling of multiple nullable parameters can be properly implemented.
Here's a related question: http://stackoverflow.com/questions/26231961/webapi-routing-to-a-function-with-multiple-optional-parameters
And here's a link to how it's done in Web API 2:
http://www.asp.net/web-api/overview/formats-and-model-binding/parameter-binding-in-aspnet-web-api

[2016-04-18 18:16] mariodivece commented on #26
This is an old thread. I'm closing this issue because there currently are no plans to implement X509 certs within EmbedIO but rather configure them via standard methods.

[2016-04-18 18:16] #26 closed

[2016-04-18 21:27] bufferUnderrun commented on #35
agree, i'll follow your pointers

[2016-04-21 22:33] geoperez commented on #35
My last commit (https://github.com/unosquare/embedio/commit/49cf0899d4c21303c77ac803367ebcedd464c8eb) includes a way to add ONE optional parameter.

[2016-05-26 19:38] waynebloss opened #36 "Incorrect handling when URL does not contain a trailing slash."
I configured a basic static server to test EmbedIO and I found that certain pages would not load depending on if the URL contained a trailing slash or not.

For instance, assume that I'm serving files from `C:\temp\` and that `C:\temp\xyz\` is a subfolder that exists with an `index.html` file inside of it.

If I have a link that points to `href="/xyz/"` the page loads. However, if the link points

[2016-05-26 19:43] waynebloss opened #37 "How to control caching headers?"
Is there an easy way to tell the static file server to set all the proper headers to disable browser cache for every request?

For instance:

[code]

[2016-05-26 20:06] geoperez commented on #37
There is not way right now, but I'm thinking we may include in the constructor a dictionary with the custom headers to response.

[2016-05-26 21:28] geoperez commented on #36
Issue resolved in new Nuget (version 1.0.20). Let me know if you get any issue.

I updated the unit tests to include this scenario.

[2016-05-26 21:30] geoperez commented on #37
Issue resolved in new Nuget (version 1.0.20). Let me know if you get any issue.

You cant use the DefaultHeaders property from the StaticFilesModule like this:

[code]

Or include your headers like a Dictionary<string, string> in the StaticFilesModule constructor.

[2016-05-26 22:04] waynebloss commented on #36
This seems to work perfectly now. Thank you very much!

[2016-05-26 22:04] #36 closed

[2016-05-26 22:23] waynebloss commented on #37
Thank you once again @geoperez. This is also working very well.

I am now using the following class to wrap your implementation in my application:

[code]

And it's easy to use in a WinForms application:

[code]

[2016-05-26 22:23] #37 closed

[2016-05-26 23:31] waynebloss opened #38 "Random port selection demo"
I just wanted to share with you a [random port choosing](http://stackoverflow.com/a/223188/16387) demo that I created for myself. Perhaps you will want to build this feature into your project one day, but the example below is working fine for me and it may serve as a helpful example for other readers.

The wrapper class (`StaticWebServer`) is shown last. Here is how I now use it from my WinForms d

[2016-05-27 15:13] geoperez commented on #38
Thank you @waynebloss it's a nice sample. I added to the EmbedIO Wiki: https://github.com/unosquare/embedio/wiki/Cookbook#random-port-selection-demo-waynebloss

[2016-05-27 15:13] #38 closed

[2016-07-15 13:33] DomasM opened #39 "How do I map url to static folder?"
If I start web server with url http://+:8000/ and some static folder, say D:\web, request to http://127.0.0.1:8000/ maps to D:\web\Index.html. If I start web server with url http://+:8000/SomeName/, request to http://127.0.0.1:8000/SomeName/ maps to D:\web\SomeName\Index.html. How can I configure server that url part which is supplied in constructor is not included in static file path? I.e. If I s

[2016-07-15 13:43] geoperez commented on #39
Hello @DomasM, but at your example the http://+:8000/ what would resolve?

[2016-07-15 13:57] DomasM commented on #39
It would resolve to nothing, as root address for that server is http://+:8000/SomeName/. I have intentions to have several servers running on same PC in different processes, all on port 80 but on different root addresses. So this server would not handle this request at all, as it is out of scope for him.

[2016-07-15 14:33] geoperez commented on #39
OK I think I understand the issue, let me discuss with @mariodivece to see if we could support this feature.

[2016-07-16 12:15] DomasM commented on #39
Embedio is built on on HttpListener, which is built on HTTP.sys and it definitely supports multiple clients on the same port and does all the forwarding to the right client, so it should be possible in general.

[2016-07-18 07:18] DomasM commented on #39
I'm working on it.

[2016-07-18 12:21] DomasM commented on #39
I implemented this behavior, spacing and indentation needs to be fixed. #40

[2016-07-18 13:21] mariodivece commented on #26
As an update, a combination of the following methods/packages should work:
https://github.com/segor/SslCertBinding.Net
http://stackoverflow.com/questions/30131591/httplistener-with-ssl-certificate-hanging-on-getcontext

[2016-07-18 14:42] geoperez commented on #39
Manual merge at commit https://github.com/unosquare/embedio/commit/bdd7c2b4b2b09e4462f5d43494390b28fafa0b19

[2016-08-05 23:02] RonnChyran opened #41 ".NET Core Support"
Does EmbedIO have support for .NET Core 1.0 yet?

[2016-08-05 23:09] mariodivece commented on #41
No not yet.. We are waiting on someone to port the HttpListener class to .NET Core. There are some initial attempts already (https://www.google.com.mx/?gfe_rd=cr&ei=HBylV_uzO8ra8geaz7fgAg#q=.net+core+httplistener). If you'd like to try them out please let us know your results and suggestions.

[2016-08-06 01:15] #39 closed

[2016-09-05 10:28] egops opened #42 "Large static file cause 'Out Of Memory' error"
I just use this project for servering a large archive(1.2GB), but it raises an 'Out Of Memory' error.

[code]

how can i solve it?

[2016-09-05 13:15] mariodivece commented on #42
We will look into implementing large, chunked file transfers this week. Thanks for the good bug report!

[2016-09-05 13:44] geoperez commented on #42
@egops are you using HTTP partials? Usually if you don't use partial to chunk your file in multiple small request the entire file is loaded to stream it.

In the unit tests is a sample how to use partials: https://github.com/unosquare/embedio/blob/master/Unosquare.Labs.EmbedIO.Tests/StaticFilesModuleTest.cs#L108

[2016-09-06 06:31] egops commented on #42
@geoperez Thank you for your advice, I need the file can be downoaded by any browser, I think this solution is not suit for me.

[2016-09-06 06:33] egops commented on #42
@mariodivece OK, thank you for nice work.

[2016-09-06 11:17] mariodivece commented on #42
@geoperez see if it would be possible to send out the file from the stream little by little avoiding an oomex please. Partials are not really the solution to this exception.

[2016-09-06 12:42] geoperez commented on #42
Sure, let me take a look.

On Sep 6, 2016 6:17 AM, "Mario Di Vece" <notifications@github.com> wrote:

[2016-09-09 09:58] michaelrall opened #43 ".Net 2.0"
Hello,

is it possible (with reasonable amount of work) to compile embedio against .NET 2.0.
I would like to use it within Unity3D.
Or could you tell me which modules I could remove to compile it against .Net 2.0 (I'm just using the "WebApiModule"-Module).

kind regards

[2016-09-09 14:22] mariodivece commented on #42
@egops we continue working on this. it should be ready in a couple of days. @geoperez decided to cleanup the monolithic-looking request handler that includes large file serving

[2016-09-09 14:37] mariodivece commented on #43
It should be able to compile for .net 2.0 and still use C# 6. Can you give it a shot using VS 2015?

[2016-09-09 15:46] mariodivece commented on #43
We tried it on our end and there's just too much stuff that is not available on .net 2.0 like Tasks, cancellation tokens, linq, etc. I am surprised that Unity still uses a .NET runtime form 10+ years ago.

[2016-09-09 15:46] #43 closed

[2016-09-09 16:47] geoperez commented on #42
@egops can you check the new Nuget (1.0.23)?

[2016-09-12 11:49] egops commented on #42
@geoperez I updated the version, any file can NOT be downloaded by my browsers ( IE and Firefox ) now!
Logs here when I try to download file:
[code]
but the browser shows nothing.
Can you check it out?

[2016-09-12 12:15] geoperez commented on #42
I didn't see any issue in the unit tests, let me investigate it.

On Sep 12, 2016 6:49 AM, "egops" <notifications@github.com> wrote:

[2016-09-12 13:39] mariodivece commented on #42
Guys, egops has the wrong path. See:
GET: /nvio.npg
Shouldn't it be nvio.png?
If not then verify the mime type is in the list.

[2016-09-12 13:40] geoperez commented on #42
Mario there's something wrong, I'm checking it.

On Sep 12, 2016 8:39 AM, "Mario Di Vece" <notifications@github.com> wrote:

[2016-09-12 13:53] mariodivece commented on #42
Ok. The other strange thing I noticed is that the result was TRUE for the request. Shouldn't it return FALSE when the file is not found?

[2016-09-12 14:32] geoperez commented on #42
I found the issue, when the browser request includes Header Compression the stream compressed is not valid. Working on patch.

[2016-09-12 17:53] geoperez commented on #42
Hello @egops  can you try with the new nuget?

[2016-09-12 19:14] egops commented on #42
@geoperez @mariodivece thank you very  much, I will try it  tomorrow.

[2016-09-13 06:32] egops commented on #42
@geoperez @mariodivece it works well now.

[2016-09-13 15:28] #42 closed

[2016-09-13 15:29] #35 closed

[2016-09-13 15:34] geoperez commented on #41
Another HttpListener Core implementation: https://github.com/robertsundstrom/HttpListener

[2016-09-13 15:50] mariodivece commented on #35
One optional non query string param is indeed sufficient and the only thing that makes sense.

[2016-09-16 09:04] michaelrall commented on #43
Allright, thank you for your efforts. I think the problem is, that Unity uses a mix of mono and some custom modifications, so its hard for them to keep pace up with the major-releases.

[2016-09-20 13:31] forexplanex opened #44 "HTTPS support"
As per subject, does it?

[2016-09-21 20:16] geoperez commented on #44
We don't have plans to support HTTPS.

Related issue: #26

[2016-09-21 20:16] #44 closed

[2016-09-23 15:47] falahati commented on #41
Well, I wanted to use this project on a Universal Window 10 app and failed for the same reason. Please port it to .Net Core.
BTW, robertsundstrom's implementation of HttpListener seems promising but still lacks some features. I don't know if your project uses these features tho.

Thanks for the great project.

[2016-09-23 16:43] falahati opened #45 "Windows 8.1 Store App"
Hey,
It seems that unfortunately HTPPListener is not supported on Windows 8.1 Store Apps. And no 'Capability' can solve the problem. However, I believe that socket listening is available on Windows 8.1 Store Apps tho using StreamSocketListener class. I think this is true for Windows Phone as well.

So next to .Net Core, we need to have an HTTPListener port for Windows 8.1 Store Apps, Windows 8.1 P

[2016-09-24 08:00] falahati opened #46 "Add PCL Compatibility for Custom Modules"
Hey again,
Unfortunately, because of using System.Net.HttpListenerContext in "ResponseHandler" delegate for new 'Map's it is now impossible to write custom and also portable modules for the WebServer.

We should probably contain that class in a local type so we can access it.

[2016-09-30 13:51] geoperez commented on #41
I'm working on a HTTPListener port using as base the MONO project. I'll update this ticket when a stable version is released.

So far I'm able to use the WebAPI and StaticFiles. But SSL and WebSockets are out of scope so far.

[2016-09-30 15:34] geoperez commented on #46
@falahati I'm not quite sure to understand your issue, can you elaborate it with a sample code?

[2016-09-30 15:48] falahati commented on #46
Unfortunately I dont have access to my development computer now.
But for now if it helps I try to clearify.
I wanted to write a custom request handler. For doing so I need to add a Map object. Am I correct?
Well, for processing these request I need to use ResponseHandler delegate. In definition of this delegate you used a reference to System.Net.HttpListenerContext.
But this type is not available

[2016-09-30 16:37] falahati commented on #41
Just a suggestion,
https://github.com/rdavisau/sockets-for-pcl

[2016-10-03 15:17] geoperez commented on #41
The first Nuget with support to .NET Core was released. Version 1.1.0.

[2016-10-07 19:56] geoperez commented on #46
Did you have the sample code?

[2016-10-16 15:35] mariodivece commented on #45
See #41

[2016-10-16 15:35] #45 closed

[2016-10-16 15:37] mariodivece commented on #46
Is this fixed because of #41 ?

[2016-10-26 08:07] bufferUnderrun opened #47 "embedio set read lock in static files"
Hi,

I don't know if it's a bug or a feature but since i upgrade from v1.0.17 to v1.1.0, the statics files served by embedio are read lock.

In the past version, i used to modify html, css or js file while embedio were working and just refresh browser to view result. Now, it's not possible due to some lock set by embedio. I'm forced to rexec the process and then refresh browser which is a killer w

[2016-10-26 08:29] bufferUnderrun commented on #47
I don't have vs2015 to test but in StaticFilesModule.cs:243 why not using

`buffer = new FileStream(localPath, FileMode.Open, FileAccess.Read, FileShare.ReadWrite);`

instead of

`buffer = new FileStream(localPath, FileMode.Open, FileAccess.Read, FileShare.Read);`

[2016-10-26 13:12] geoperez commented on #47
OK, let me take a look.

[2016-10-26 15:19] geoperez commented on #47
@bufferUnderrun new version 1.1.1 is including your suggestion. I included an unit test, and before your comment was failing. Thank you.

[2016-10-26 15:26] bufferUnderrun commented on #47
@geoperez Thank. I test as soon as nuget sync.

[2016-10-27 08:35] bufferUnderrun commented on #47
@geoperez i can edit file while embedio running like before. I will update all my projects to this version. Thanks for your quick support.

[2016-10-27 15:16] geoperez commented on #47
Closing issue.

[2016-10-27 15:17] geoperez commented on #46
I don't think so, the requirement seems to be different but I'm not quite sure to understand it.

[2016-10-27 15:17] #41 closed

[2016-10-27 15:43] falahati commented on #46
Well this problem was about PCL profiles. Bot now nuget package is not even supported on PCL profiles. So as there is no official support for any of PCL profiles for now, this issue is not related any more.

[2016-10-28 13:17] bufferUnderrun opened #49 "Implement Deep Object Parsing for ParseFormData Extension Method"
I'm using a [bootstrap-select2](https://select2.github.io/) to support ajax tagging on my webapp.
The underlying html is
`<select name="tags"  multiple="multiple"></select>`

When form is submitted, browser send multiple values for the same input name.
The exception is thrown by ParseFormData() which is a `Dictionary<string, string>`.

Do you plan to support multiple values ?

Thanks

[2016-10-28 13:44] mariodivece commented on #49
Hey, you are correct, and this is precisely the purpose of this project being public. I think I have a few ideas. Let me work on them

[2016-10-28 14:47] mariodivece commented on #49
Ok, @bufferUnderrun could you please give it a shot now?
Aslo @geoperez could you please create a few unit tests?

[2016-10-28 14:52] mariodivece commented on #49
Just as a side note regarding the extension method to parse request: I admit I wrote this really quickly and I was surprised to see how low quality it was (my apologies). Hopefully this new version alleviates a lot of the problems some users may be having. I have obsoleted the methods currently in use.

[2016-10-28 15:24] bufferUnderrun commented on #49
@mariodivece i'm away from computer all this week-end... I could only test it on monday.

Before your fix, i was starting to use the same approach by replacing Dict<string,string> with Dict<string, object>(), so same idea ;)

IMO, the solution is not obvious because when using the new RequestFormDataDictionary() method, it implies parsing the value to check if it's a string or list. I'm wondering

[2016-10-28 15:44] mariodivece commented on #49
I left the Dictionary of string, string methods available for users to still access. The difference is that it now converts arrays into NewLine-separated values of strings. While not ideal, it still works much better than the previous method. Furthermore, I need to find some time to support deep object parsing with something like a dynamic (i.e. Expando object) result. This way I could easily seri

[2016-10-28 16:56] mariodivece commented on #46
I am still unsure of what needs to be done here... So @falahati all you need is a PCL build in the NuGet package that used to be there? Was the PCL package ever in the NuGet? We already do have cross-platform support so I don't suspect this would be too hard to do...

[2016-10-28 19:15] geoperez commented on #46
I created a PCL and trying to add EmbedIO, I got this issue:

Error		Could not install package 'EmbedIO 1.1.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile78', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2016-10-28 19:34] geoperez commented on #46
@falahati which Profile are you using?

[2016-10-28 23:15] bufferUnderrun commented on #49
Last post before week-end ;)

A few months ago, i wrote an `UpdateModel()` Extensions which is very similar to the `UpdateModel()` of the Asp.net MVC project. The basic idea was to simplify migration from my Asp.net MVC 5 projects to the new stack composed of embedio+riotjs. I've attach the snippet to this post.

The `UpdateModel()` will map all postdata to an object properties. It takes optionnal

[2016-11-03 13:50] falahati commented on #46
Won't work with any of PCL profiles.
I can't use a sample code to show you the problem now that it is impossible to install the NuGet package on PCL profiles. In fact, I can't even check to see if you actually solved the problem with  #41 as you said.
So for now, the first step is to have a cross-platform portable library that can be used in PCL projects.

Now, I can see that you have two differen

[2016-11-04 11:21] bufferUnderrun commented on #49
@mariodivece I'm late but i've tested and, of course, your patch fix the issue. I will modify my extend method `UpdateModel()` to handle the new type `Dict<string, object>()`.

Thanks for your support

[2016-11-04 12:13] mariodivece commented on #49
I really need to get deep object parsing right on this one. I will work on it as soon as I find some spare time

[2016-11-07 16:27] bufferUnderrun opened #50 "Implement DeleteSession method in LocalSessionModule"
Hi,

I am facing an issue (not really a bug) with the LocalSessionModule and i will trying to explain clearly, not easy.

1. When a user connects to my app (ie: index.html), Embedio always starts a session (in memory) and so a cookie "__session" is created in his browser. No problem.
2. Then, the user login and i add some extras infos to check security (roles based) to the embedio session (`sessio

[2016-11-07 16:30] mariodivece commented on #50
Do you mind creating a pull request or proposing the code right here in the issue?

[2016-11-07 18:21] bufferUnderrun commented on #50
@mariodivece You're right, it's more a pull request (enhancement) than issue. See [my proposal](https://github.com/unosquare/embedio/files/576255/add-DeleteSession-patch.txt). It should work but as usual, i've not installed vs2015 yet, so i can't test...

PS : arghhh github don't support file with "patch" extension, it's a shame...

[2016-11-07 18:50] mariodivece commented on #50
Thanks @bufferUnderrun I have committed the changes.
@geoperez could you please update the NuGet package?

[2016-11-07 21:16] bufferUnderrun commented on #50
thanks

[2016-11-07 21:17] #50 closed

[2016-11-07 22:08] geoperez commented on #50
The new Nuget was published.

[2016-11-09 14:22] bufferUnderrun opened #51 "WebSockets Support on Windows 7 and Mono 3.x"
Hi,

It's not an issue or pr, just asking question. As i don't know how to contact you (a mailing list ?) let's do this here. Feel free to delete if it is not appropriate.

Before Embedio, i used the [websocket-sharp project](https://github.com/sta/websocket-sharp) to serve websocket in my app. Yesterday, i've just understood that the WebsocketModule provide by Embebio is using the Microsoft http.

[2016-11-14 04:15] mariodivece commented on #51
We will also need WebSockets to run on mono pretty soon here. I am investigating. Please stay tuned and provide any suggestions you may have.

[2016-11-14 05:57] mariodivece opened #52 "Fix Samples Solution"
Currently the Samples solution looks bad and it is kind of broken. Please fix.

[2016-11-14 06:00] mariodivece commented on #51
This might be a good start:
https://github.com/sta/websocket-sharp#http-server-with-the-websocket

[2016-11-14 06:04] mariodivece commented on #51
Some source code: https://github.com/sta/websocket-sharp/blob/master/websocket-sharp/HttpRequest.cs#L99

[2016-11-14 08:55] JoJoBond opened #53 "Allow for sessions cookies to be 'root only'"
The session module will create session cookies whenever it finds no matching cookie for the requested path.
These cookies will e create for the path that has been requested.
e.g. If the request is for http://www.sample.com/foo/bar the cookie path will be something like '/foo/bar'.

This behaviour can lead to a single use having multiple vaild session cookies at once.

If a user has no valid cookie

[2016-11-14 14:14] mariodivece commented on #53
Very good suggestion @JoJoBond However there are 2 things I have changed:
UseRootPathOnly should not be part of the interface as this only applies to a specific session module.
I changed your suggestion of using UseRootPathOnly further by instead implementing a property called CookiePath. I have made ```"/"``` the default

Documentation below:

[code]

[2016-11-14 14:15] mariodivece commented on #53
Please check it out and let us know your comments. If this works let's just close the issue.

[2016-11-14 14:44] JoJoBond commented on #53
Looks great. And seems to work as expected.

Small typo in the comment at 'Inf '.

Issue can be closed.

[2016-11-14 14:44] #53 closed

[2016-11-14 17:54] geoperez commented on #52
@mariodivece  i unified the versions, let me know if you need anything else.

[2016-11-14 19:18] mariodivece commented on #52
This is still broken. See noted examples right off the bat... I'm sure there is more. Put care into the sample please. Maybe add the Create and edit records functionality for people? The grid looks misaligned especially the overlay.

![image](https://cloud.githubusercontent.com/assets/351978/20279009/7df3d38e-aa6c-11e6-8c9c-36e70fa90842.png)
![image](https://cloud.githubusercontent.com/assets/3519

[2016-11-14 19:19] geoperez commented on #52
I see, I think broke like not building.... 🤕

[2016-11-15 17:37] mariodivece commented on #51
Additional library -- looks promising: http://vtortola.github.io/WebSocketListener/

[2016-11-15 17:45] mariodivece commented on #51
Yet another alternative: http://supersocket.net/

[2016-11-16 13:55] bufferUnderrun commented on #51
Interesting, i'll look into WebSocketListener.

[2016-11-16 20:31] kadosh commented on #52
That was fixed on [this commit](https://github.com/unosquare/embedio/commit/586b3fafb8a4ab4e76c0c22aeb8b83e7913e75eb)

[2016-11-24 01:35] geoperez commented on #51
Today I published a new version and nuget with support to websockets in mono and windows 7.

[2016-11-24 01:36] #52 closed

[2016-11-24 01:43] bufferUnderrun commented on #51
very exciting, i saw this 2 hours ago and i'm testing it. I'm cleaning my project (replacing System.Net.Websockets by Unosquare.Net) to get things works. I will give you feedback as soon as possible (probably tomorrow).

[2016-11-24 02:24] bufferUnderrun commented on #51
Just can't wait :)

Primary tests shows EmbedIO handle websockets with my Win7 ! I will do some refactoring and migrate all my code from websocket-shap to embedio websockets. I will give you feedback if something goes wrong.

You can close the issue.

@mariodivece @geoperez guys, you've made an incredible work with this project.

[2016-11-27 23:45] mariodivece commented on #51
Excellent! Closing! Open up a new issue if you run into any problems with WebSockets please.

[2016-11-27 23:45] #51 closed

[2016-12-14 19:50] harper10 opened #56 "Failing Local Session Module because of KeyNotFoundException"
I keep seeing the following error.

[code]

[2016-12-14 19:51] geoperez commented on #56
Hi @harper10, can you help me with a snippet of your code?

[2016-12-14 19:58] harper10 commented on #56
What code are you looking for? The error happens intermittently, and it recently started happening more recently. Most of the requests are served normally. I think the error is in the LocalSessionModules.cs file where the ConcurrentDictionary is being used to get items from the dictionary.

[2016-12-14 20:34] mariodivece commented on #56
Maybe we should consider changing the concurrentdictionary (which is buggy in mono) with a regular dictionary and a synclock object. it would be faster and more lightweight to do.

Mario Di Vece
President & CIO
unosquare.com

-------- Original message --------
From: Arthur Harper <notifications@github.com>
Date: 12/14/16 1:58 PM (GMT-06:00)
To: unosquare/embedio <embedio@noreply.github.com>
Subjec

[2016-12-15 14:27] harper10 commented on #56
I think the problem here is that when Sessions[key] is called, key is not guaranteed to be in the concurrentDictionary.
[code]
The key could have been removed by another thread. Instead
[code]
will make sure that the key is still in the dictionary.

[2016-12-15 17:02] geoperez commented on #56
@harper10 I just updated the nuget (1.2.5) with your suggestion. Let me know if it works for you now.

[2016-12-16 10:11] bufferUnderrun opened #57 "Upgrade error to embedio v1.2.5 with nuget"
Hi,

I can't upgrade to the last v1.2.5 release from nuget due to a dependency error :

[code]

The regression seems to have been introduced in the commit https://github.com/unosquare/embedio/commit/0e333d005ae35cbf2e0f27663e73e64fe3ec8604?diff=split

[2016-12-16 14:19] mariodivece commented on #46
PCL will not be supported, as it has been superseded bye .NET Standard, which embedio supports as a build target. Closing issue.

[2016-12-16 14:19] #46 closed

[2016-12-16 14:23] harper10 commented on #56
I haven't been able to test it because I am getting the same error referenced in #57

[2016-12-16 14:58] geoperez commented on #57
I just published a new nuget without the dependency mess, can you try again. @bufferUnderrun  and @harper10

[2016-12-16 15:37] mariodivece opened #58 "Samples not running on NETFX 4.5.2/4.6 - Missing sqlite3"
An unhandled exception of type 'System.DllNotFoundException' occurred in Microsoft.Data.Sqlite.dll

Additional information: Unable to load DLL 'sqlite3': The specified module could not be found. (Exception from HRESULT: 0x8007007E)

[2016-12-16 16:28] geoperez commented on #57
Hi guys, could you try again with version 1.2.7?

[2016-12-16 16:28] geoperez commented on #56
Can you try again?

[2016-12-16 16:36] harper10 commented on #56
The error has changed to
`'EmbedIO' already has a dependency defined for 'System.Collections.Specialized'`

[2016-12-16 16:40] geoperez commented on #56
Can you paste your project.json?

[2016-12-16 16:43] mariodivece commented on #56
@harper10 sometimes I have found that restarting Visual Studio and reopening the solution helps. Xproj projects seems to still be somewhat buggy when it comes to dependencies. Please paste your project.json file here and try my solution also.

[2016-12-16 17:54] bufferUnderrun commented on #57
with v1.2.7, another error

[code]

[2016-12-16 17:55] geoperez commented on #57
Can you show me your project.json please?

[2016-12-16 17:59] bufferUnderrun commented on #57
I am stuck at vs2013. The error occurs even on a brand new project.

[2016-12-16 18:00] geoperez commented on #57
Oh ok, let me try with a CSPROJ then.

[2016-12-16 18:07] harper10 commented on #57
I also have .csproj files instead of project.json.

[2016-12-16 18:10] geoperez commented on #57
I was unabled to reproduce the issue with VS2015 and a CSPROJ 452. My log:

Attempting to gather dependency information for package 'EmbedIO.1.2.7' with respect to project 'tpro', targeting '.NETFramework,Version=v4.5.2'
Gathering dependency information took 299.1 ms
Attempting to resolve dependencies for package 'EmbedIO.1.2.7' with DependencyBehavior 'Lowest'
Resolving dependency information too

[2016-12-16 18:23] geoperez commented on #57
Running VS2013 I'm getting the same error: 'EmbedIO' already has a dependency defined for 'System.Collections.Specialized'.

I think the Nuget client version is affecting.

[2016-12-16 18:26] geoperez commented on #57
Yes, updating the Nuget client to latest in VS2013 resolves the issue. Could you try?

[2016-12-16 18:38] geoperez commented on #58
I updated the project.json to include the library, can you try it?

[2016-12-16 18:50] bufferUnderrun commented on #57
confirm ! with a nuget client up to date, the package can be installed.

Apologize.

[2016-12-16 18:51] geoperez commented on #57
No problem, closing ticket.

[2016-12-16 18:51] #57 closed

[2016-12-16 19:23] harper10 commented on #56
I was able to use the updated nuget client, and I got a different error.
[code]
Unfortunately I cannot switch from .Net Version 4.5 because my project is using mono. Are there anyway plans for mono to be supported with the new package?

[2016-12-16 19:27] geoperez commented on #56
You can use NET452 with MONO, I think you only need to use the TargetFrameworkVersion=v4.5 parameter.  We use it on Travis to build EmbedIO in Mono.

`xbuild Unosquare.Labs.EmbedIO.Lib.sln /p:"TargetFrameworkVersion=v4.5;Configuration=Release"`

[2017-01-04 09:06] bufferUnderrun commented on #56
@geoperez i've updated to the last v1.2.8 package and still have this issue.

[2017-01-04 15:42] geoperez commented on #56
Let me take a look

[2017-01-05 19:27] geoperez commented on #56
I'm getting another error:

Collection was modified; enumeration operation may not execute.

With the following code:

[code]

The error it's because the collection change when you delete a session. So I change to create a new collection only for iteration at LocalSessionModule:

[code]

I'll publish this change at version 1.4.2.

[2017-01-06 08:31] bufferUnderrun commented on #56
I thought that the `lock(SessionsSyncLock)` forced threads to sync ? So it does not work this way ?
I will test it

[2017-01-06 15:45] mariodivece commented on #56
It should @bufferUnderrun the lock statement creates a critical section in which no more than 1 thread can enter.

[2017-01-09 21:59] geoperez commented on #56
@bufferUnderrun did you test the new version?

[2017-01-10 08:58] bufferUnderrun commented on #56
@geoperez yes, test 1 day and run in prod for 2 days. You can close the issue. Thanks for you fix.

[2017-01-10 15:41] #56 closed

[2017-01-17 22:22] bufferUnderrun opened #60 "Support file upload"
Hi,

Do you have a code snippet to handle file uploading from a html form `<input type="file" />` ?

Thanks,

[2017-01-17 22:54] geoperez commented on #60
I think we have one in the wiki.

On Jan 17, 2017 4:22 PM, "bufferUnderrun" <notifications@github.com> wrote:

[2017-01-17 23:24] bufferUnderrun commented on #60
yep in https://github.com/unosquare/embedio/wiki/Cookbook you use the http://stackoverflow.com/a/21689347/3699737 code snippet. But i don't see how to pass the `Stream data` from embedio restapi to the `async Task ParseFiles` ?

[2017-01-18 13:18] geoperez commented on #60
This is a functional method that we use in other project with EmbedIO and the nuget HttpMultipartParser:

[code]

[2017-01-23 06:25] fancyfanta opened #61 "Problem with MVC application"
I have a mvc website and i would like to embed it with embedio...
I tried above code but no luck.

![screenshot_4](https://cloud.githubusercontent.com/assets/6512072/22193617/a5dcf46c-e14d-11e6-9a61-99f83528b446.png)

[code]

[2017-01-23 13:26] geoperez commented on #61
Hello,

By MVC, did you mean ASP.net MVC? EmbedIO doesn't support it by default,
you need to include the OWIN provider and setup the routes and controllers
load.

EmbedIO is not intended to port ASP.net webapps, that's why we provide our
own WebAPI.

On Jan 23, 2017 12:25 AM, "Ercin Dedeoglu" <notifications@github.com> wrote:

[2017-01-30 21:03] fancyfanta commented on #61
hi @geoperez , could you give me an example? How to setup routes?

[2017-01-30 21:11] geoperez commented on #61
You need to check the following sample from https://github.com/unosquare/embedio-extras:

[code]

Where the Extension Method `UseOwin` give you access to the IAppBuilder to setup the routes.

Again, this is a experimental extension and EmbedIO is not focus on support OWIN.

[2017-02-04 02:56] mariodivece opened #62 "Migrate Logging and console to Swan Terminal"
Title self-explanatory. We still have the ILog and Log classes and the sources are not beign set correctly.

[2017-02-06 13:23] caverna opened #63 "Not able to set NullLog!"
I did install from NuGet (1.4.6).
In this binary, there's no way to set NullLog as ILog in Webserver constructor.
Looking at the source code, you're using conditional tag for compilation.
Is there any reason for that?
Is it safe just download all source code and set COMPAT in "Conditional compilation symbols" at build properties?

[2017-02-06 14:29] geoperez commented on #63
Yes, if check the 1.4 release notes, we decide to move the logging
subsystem out of EmbedIO to use our toolkit Swan. If you have plans to use
nulllog, you are just fine using the latest version.

On Feb 6, 2017 7:23 AM, "Carlos Alberto Nunes" <notifications@github.com>
wrote:

[2017-02-06 17:23] caverna commented on #63
Well, the main idea was to use no log at all (NullLog should be that, right?)

[2017-02-06 17:23] geoperez commented on #63
So you are fine 👍 use the current version without anything else.

[2017-02-06 18:22] mariodivece commented on #63
Closing and rejecting issue.

[2017-02-06 18:22] #63 closed

[2017-02-06 23:36] geoperez commented on #62
Completed.

[2017-02-06 23:36] #62 closed

[2017-02-06 23:36] geoperez commented on #60
Closing ticket.

[2017-02-06 23:36] #60 closed

[2017-02-06 23:37] geoperez commented on #61
Closig ticket.

[2017-02-06 23:37] #61 closed

[2017-02-20 10:31] lansman opened #64 "context.UserEndPoint - NullReferenceException"
I get error when try to read context.UserEndPoint in OnClientDisconnected() and sometimes in OnMessageReceived() hooks
[code]

Client is local, connecting from the same computer

embedio version 1.4.6.

[2017-02-20 20:45] geoperez commented on #64
Hi @lansman, this is an expected behavior because when the client socket is closed, the Endpoint is not longer available, so OnClientDisconnected will always get you null and I think OnMessageReceived it's giving null when the connection is not longer there.

@mariodivece  Any thoughts?

[2017-02-22 20:09] mariodivece commented on #64
If the connection is no longer there, then it should return null.

[2017-02-27 16:10] #64 closed

[2017-03-01 22:48] kdblocher opened #66 "Tasks not handled correctly"
I suggest you guys read this blog and change `WebServer.RunAsync` accordingly: http://blog.stephencleary.com/2014/05/a-tour-of-task-part-1-constructors.html
* Use `Task.Run` instead of `Task.Factory.StartNew`, the latter shouldn't be used hardly ever
* Support cancellation better
  * currently inelegantly handled via `clientSocketTask.Wait(ct)`
  * pass a `CancellationTokenSource` argument instead

[2017-03-01 23:03] mariodivece commented on #66
Do you have a pull request that we may use to implement your proposed changes?

[2017-03-01 23:17] kdblocher commented on #66
I can see if I can put one together.  I thought it might be at least useful for you guys to read up about this topic, since the pattern is becoming a lot more commonplace.

[2017-03-02 04:08] kdblocher commented on #66
There are still several problematic uses of Task.Factory.StartNew and sync-over-async antipatterns throughout the code, but I don't think they're fixed easily (from the outside).  I still suggest you take a look through the blog (for that matter, any of Stephen Cleary's writing) and read some of the common suggestions. Most are applicable in your case.

See http://stackoverflow.com/a/36355946 and

[2017-03-02 20:39] mariodivece commented on #66
I am reopening this issue because and marking it as an enhacement to change calls that can be changed to ConfigureAwait(false) i.e. those that don't require context. Are there any other specific recommendations that you might want to suggest @kdblocher ?

[2017-03-12 13:01] MarcusWichelmann opened #68 "Big Security Issue! StaticFilesModule allows access to ANY file on harddrive."
There is a very big security flaw in the `StaticFilesModule` class because of the use of `Path.combine()`.
See: https://github.com/unosquare/embedio/blob/master/src/Unosquare.Labs.EmbedIO/Modules/StaticFilesModule.cs#L212
This method returns only the second (user-defined) parameter when the second parameter is something like `C:/...`. Thanks to this it's possible to download more or less any file

[2017-03-12 16:23] mariodivece commented on #68
@geoperez Could you please udate the Nuget package?

[2017-03-12 16:58] MarcusWichelmann commented on #68
Thank you for the fix, that was fast. 😄

[2017-03-12 18:18] geoperez commented on #68
New nuget published. Closing issue.

[2017-03-12 18:18] #68 closed

[2017-03-13 09:49] DavidHequet commented on #47
Hi,

I have this issue too using 1.47 or 1.6 version of embedio, when server is running, i cannot save files in VS2015. Need to stop at each html/js modification.

[2017-03-13 17:09] geoperez commented on #47
Let me try to reproduce the issue again. The unit test is not failing, but it may be wrong.

[2017-03-13 18:25] geoperez commented on #47
Hello @DavidHequet , I checked with Process Monitor a file served with EmbedIO and I was able to see the issue with Visual Studio. First I check if we are creating any lock file, but it's not happening. I think the issue is only two applications trying to access a file when it's not yet available to write. Even if EmbedIO is sharing access maybe Visual Studio is not. See https://msdn.microsoft.com

[2017-03-16 20:24] kdblocher commented on #66
@mariodivece yes: follow the "async is viral" approach - e.g. everything lower-level that is asynchronous should be called by asynchronous methods itself. This is the most performant, and the cleanest.  (I actually tried to do this with your code but ran into a couple of pitfalls.)

I can add a couple of commits with small changes to demonstrate.

[2017-03-16 20:33] kdblocher opened #69 "Implement "safe shutdown""
Our product has a 'soft restart' function, which allows us to reinitialize the entire application, usually because of some sort of major configuration change.  Our implementation disposes of all managed objects and rebuilds them.  In particular, we use an operating system "shutdown signal" metaphor: inform all running processes to stop, and when they all do, dispose and then we restart.

With embe

[2017-03-17 23:17] geoperez commented on #66
@kdblocher check my latest commits, I've been updating the code to a better async/await approach.

[2017-04-02 11:05] ashking opened #70 "Can't install package"
Hi there,

Looking at the docs it seems very interesting and promising to use this. However, when I try to install I end up with the following error:

`You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the pa

[2017-04-02 16:15] geoperez commented on #70
Hello, can you upgrade your project to target 4.5.2?

On Apr 2, 2017 6:05 AM, "Ashwin" <notifications@github.com> wrote:

[2017-04-06 20:24] shawnlehner opened #71 "Support for Xamarin multi-platform project"
Has anyone had luck using this in a shared assembly referenced between Xamarin iOS, Android, and Windows? The problem is that Xamarin supports .NET Standard 1.5 and PCL class libraries that can be shared between Xamarin iOS, Android, etc ... However, EmbedIO cannot be added directly to either of those project types. I am pretty much to the point where I am going to download the projects (Swan and

[2017-04-06 20:30] geoperez commented on #71
I can check if the downgrade to Net Standard 1.5 is possible.

On Thu, Apr 6, 2017 at 3:24 PM, Shawn Lehner <notifications@github.com>
wrote:

--
Geo Pérez

[2017-04-06 21:16] shawnlehner commented on #71
That would be great if possible.

Also, as a side note, what version of Visual Studio are you using for this project? When opening the projects in 2017 there is a lot of upgrading that happens and I am worried that may be messing with some of the configurations.

[2017-04-06 21:23] geoperez commented on #71
We are using xproj files with VS2015. The issue with VS2017 is they dropped the support to xproj to use a new csproj format.

[2017-04-06 22:13] geoperez commented on #71
Hey @mariodivece I was checking to  downgrade SWAN to NetStandard 1.5. What I found is that we lost the possibility to use GetRuntimeAssemblies in AppDomain. What do you think?

[2017-04-07 03:15] videoguy opened #72 "Does embedio lib support https?"
We have been using this lib as a test web server before we push content to Akamai. It has been serving us well. It is simple to use and rock solid.

We have clients that need to access content over https. Does this lib support creating a https server with a self signed cert?
If not, do you have any pointers to get there?

Thanks

[2017-04-07 13:37] geoperez commented on #72
Hi, we have a closed issue related #26

Right now, we don't have plans to support HTTPS.

[2017-04-07 17:53] videoguy commented on #72
That link seem to be about wss which probably based on https. My request is for https only. Looking at all the links referenced in the other issues, https support seem to be built in HttpListener of .Net assuming user configured things right using netsh.

Am I on the right path if I were to do the same?

[2017-04-07 18:05] geoperez commented on #72
Yes, if you are using the .NET HttpListener you can use HTTPS with a manual binding. But you can't run EmbedIO with Net Standard or Mono. The HttpListener implementation that we maintain doesn't support HTTPS.

[2017-04-07 21:00] geoperez commented on #71
Swan is supporting NET Standard 1.3 now (https://www.nuget.org/packages/Unosquare.Swan).

Checking compatibility with EmbedIO.

[2017-04-07 22:12] geoperez commented on #71
@shawnlehner I just published a new nuget (1.6.5), can you try it?

[2017-04-07 22:46] shawnlehner commented on #71
It just let me install it in the project so that is a big step in the right direction! I am getting an error on build but that might be on my end. I am just heading out of the office so I will test this more as soon as I can.

Thanks for all your help so far!

[2017-04-08 13:44] videoguy commented on #72
I am using older version of your lib. I believe I used version that was latest around an year back. I am using it from a .Net 4.5 winforms application.
Did this version has same limitation as above?

[2017-04-08 15:18] geoperez commented on #72
Yes, to use the net framework httplistener you need to upgrade to 4.6

On Apr 8, 2017 8:44 AM, "videoguy" <notifications@github.com> wrote:

[2017-04-09 01:16] mariodivece commented on #47
This is happening to me too... Very strange issue. VS 2017, Verified the file IS NOT locked. Verifies the file can be saved with notepad++. VS Editor: A file is being used by another process (not true). After saving the file with Notepad++, I can save the file in the VS editor. Very strange issue.

[2017-04-10 13:53] geoperez commented on #47
Yeah, I think is an issue with Visual Studio. Should I close the issue?

[2017-04-11 17:21] shawnlehner commented on #71
Works like a charm @geoperez! I was able to install it into the .NET Standard 1.5 library project and then include it into the Xamarin iOS project as well as my Xamarin Android project.

[2017-04-11 17:26] geoperez commented on #71
Cool, closing the ticket. Don't forget to star the project ;)

[2017-04-11 17:26] #71 closed

[2017-04-11 18:52] videoguy commented on #72
I am confused. From what I understand, embedio implementation of web server doesn't use .Net builtin HttpListener (and http.sys). Instead it implements web server on top of tcp sockets. And it doesn't support https.

What I am confused about is how embedio will help even if I move to .Net 4.5. You are not using the builtin HttpListener. Does it matter what .Net framework I use?

Thanks

[2017-04-11 18:53] geoperez commented on #72
Yes, only target NET46 is using the builtin HttpListener.

[2017-04-11 20:21] videoguy commented on #72
If I understand this correctly,  all I have to do is change my winforms project settings to use .Net 4.6 and rebuild the app. Then embedio uses builtin httplistener for all the http traffic.

[2017-04-11 20:24] geoperez commented on #72
Yes. It's right.

On Tue, Apr 11, 2017 at 3:21 PM, videoguy <notifications@github.com> wrote:

--
Geo Pérez

[2017-04-11 20:29] videoguy commented on #72
Thats great! In this case, can my app listen and accept https connections and serve static files?
I am assuming yes as the https is builtin the kernel driver (http.sys).
I understand I have to go do all the netsh configuration stuff to get it working.

[2017-04-11 20:47] geoperez commented on #72
You are right. You application can use the builtin httplistener and you need to setup the netsh to handle SSL.

[2017-04-11 21:14] videoguy commented on #72
It worked. I am able to use embedio with .Net 4.6.1 serve https content on localhost.

I looked at other options for https. I always come back to embedio as it has been serving us well and is a rock solid web server for our use case.

Thanks a lot for your help!

[2017-04-11 21:48] geoperez commented on #72
Cool. Closing ticket.

[2017-04-11 21:48] #72 closed

[2017-04-12 04:55] japonophile opened #73 "HttpRequest ContentEncoding hardcoded to ISO-8859-1 instead of UTF8"
First of all, thanks a lot for this great library!  It is simple and does the job very nicely (I'm using both WebSocket and REST API).

I encountered an issue recently with encoding, where the request content was garbled (when using non ASCII chars).
Looking at the code, it seems the ContentEncoding of the Request in HttpListenerContext is always Encoding.GetEncoding(0), regardless of the "Content

[2017-04-12 05:01] japonophile commented on #73
Btw, here is the workaround I use:
[code]

[2017-04-12 13:08] buvar opened #74 "Binary data problem with WebSocket transmission on .NET Standard (.NET Core runtime)"
Hi, I created own WebSocket Server inherited from WebSocketsServer, but when I send there 10000 binary buffer (with Unosquare.Net.WebSocket), received buffer (in OnMessageReceived method) is corrupted. Sending 1000 bytes is ok. Method OnFrameReceived is not supported, as I understand from sources (works probably in 4.6 only) so I cannot build final buffer myself.

[2017-04-12 13:24] geoperez commented on #74
Hi @buvar , what version are you using? I already noticed this issue after 1.6.

[2017-04-12 13:26] geoperez commented on #73
Let me take a look. Thanks for the heads up.

[2017-04-12 14:09] buvar commented on #74
Hi, 1.6.5 - latest from NuGet

[2017-04-12 14:09] geoperez commented on #74
Can you try with 1.6?

[2017-04-12 14:29] buvar commented on #74
1.6 works ok

[2017-04-12 14:30] geoperez commented on #74
Yeah, I need to investigate what we did wrong between versions.

[2017-04-12 14:33] buvar commented on #74
Great! Please let me know here once repaired and commited. Thanks a lot!

[2017-04-12 14:34] geoperez commented on #74
Sure, don't forget to star the project 👍

[2017-04-12 18:34] mariodivece commented on #73
It looks like the Mono port of the Request class is not reading the content-type (charset part) HTTP header and just fixing it to GetEncoding(0) which, like you pointed out, @japonophile is incorrect. @geoperez  could you please change it to read the encoding from content-type (charset part)? If there is no charset part, the default to URF-8 as MDN suggests.

[2017-04-12 18:35] geoperez commented on #73
Sure.

[2017-04-12 21:23] buvar opened #75 "Byte[] and Stream decompression extension"
Hi, I tried the extensions for compression and decompression and I have problem calling decompression, which raises the exception "System.NotSupportedException: Stream does not support writing". I searched it and found this solution:
http://stackoverflow.com/questions/1354639/writing-to-the-compression-stream-is-not-supported-using-system-io-gzipstream
which works fine and I used it as a workaroun

[2017-04-12 21:39] buvar commented on #75
Don't know what the Pull request is for, but of course, I can :-). As the function "Compress" is there and one of the parameters is "Uncompress", which is not working, I thought it to be a bug in this case... :-)

[2017-04-15 20:29] geoperez commented on #74
@buvar I updated the package (1.6.5) with a patch to resolve the issue with websocket.

[2017-04-17 07:15] shravan2x opened #76 "Unable to prevent logging"
As the title says, I am unable to prevent these logs from being displayed:

[code]

I have tried `Terminal.Settings.DisplayLoggingMessageType = LogMessageType.None;`. I am using version **1.6.6**.

[2017-04-17 18:55] geoperez commented on #76
Hello @shravan2x, you are right the DisplayLoggingMessageType should be enough. Can you tell me what environment are you using? and also a code snippet where you start your server.

[2017-04-17 19:10] shravan2x commented on #76
@geoperez I have the same issue on both `net46` and `netcore1_1`. Here is a copy of my code:

[code]

[2017-04-19 08:43] buvar commented on #72
@geoperez please did you do any investigation of other solutions like websocket-sharp for that? SSL for both HTTP and WebSocket is critical for our new project (will be .NETStandard based, .NET 4.6 is not enough for us). I don't know if there are any issuses with classes like SslStream or X509Certificate with .NETStandard? If you don't know about any and the decision not to support SSL is only abo

[2017-04-19 14:54] geoperez commented on #72
Hi @buvar, the reason we are not supporting SSL is because time, but if you provide a solution it's welcome

[2017-04-19 19:16] shravan2x commented on #76
@geoperez Any update on this?

[2017-04-19 19:16] geoperez commented on #76
Not yet.

[2017-04-19 20:14] geoperez commented on #73
The new nuget contains the default encoder as UTF8 the Charset part is still in development.

[2017-04-27 04:05] shravan2x commented on #76
@geoperez This is creating a major block in release our application, could you take a look please?

[2017-05-01 02:57] geoperez commented on #76
Try upgrading Swan dependency to version 0.14.1

[2017-05-01 18:03] geoperez commented on #74
@buvar any feedback?

[2017-05-01 18:04] geoperez commented on #70
Closing.

[2017-05-01 18:04] #70 closed

[2017-05-01 18:04] geoperez commented on #47
Closing.

[2017-05-01 18:04] #47 closed

[2017-05-02 09:10] shravan2x commented on #76
I now get a compile error:

[code]

[2017-05-04 02:13] shravan2x commented on #76
I tested on another project and it seems to work, but still needs to be disabled manually.

- **Can we set it to be disabled by default?**
- Also, as I mentioned in my previous message, it does not compile in some projects.

[2017-05-04 13:39] buvar commented on #74
Works as excpected, thank you!

[2017-05-04 13:39] #74 closed

[2017-05-16 16:22] geoperez commented on #76
@shravan2x the default is enabled and it won't change. Regarding to the issue that some project don't compile, is it still happening?

[2017-05-20 06:47] shravan2x commented on #76
I don't think so, no. I'll close the issue.

[2017-05-22 14:01] JochenTester opened #79 "WebApiHandler with GET Parameter"
I have to fetch get-request url´s with parameters, but i can´t get it to work...
this "Sample: http://ip-of-embedio-webserver/api/command/ABC" run´s fine

[WebApiHandler(HttpVerbs.Get, "/api/command/*")]
public bool GetCommand(WebServer server, Unosquare.Net.HttpListenerContext contex
{...

But this: Sample: http://ip-of-embedio-webserver/api/command/ABC?key01=value01&key02=value02  will not be ca

[2017-05-22 14:02] geoperez commented on #79
Hi @JochenTester, let me take a look.

[2017-05-22 14:17] bufferUnderrun commented on #79
@JochenTester can't reproduced your bug. It works for me with both regexp/wildcard strategy.

[2017-05-22 18:25] JochenTester commented on #79
hm... strange... could you publish your test code...  especially your RegExp solution (how to get "key01" ) perhaps I can see my mistake

[2017-05-23 06:33] JochenTester commented on #79
I made it work. My error was a comma in one of the values (key01=First Name, surname). After replacing the comma in the request, EmbedIO runs like a charm.

Previously:  http://ip-of-embedio-webserver/api/command/ABC?key01=First, Second
Now: http://ip-of-embedio-webserver/api/command/ABC?key01=First_Second

Is it possible to customize the parser, because you can't always adjust the transmitter of

[2017-05-23 09:46] caverna commented on #79
It doesn't seems the comma is the problem, but your space!
Try this way: http://ip-of-embedio-webserver/api/command/ABC?key01=First,%20Second

[2017-05-23 13:50] geoperez commented on #79
@JochenTester what do you mean by customize the parser? I'm not quite sure to understand the issue here.

[2017-05-23 14:44] mariodivece commented on #79
All url parameters need to be url-encoded. No web server will understand url query string values that are not properly escaped.

[2017-05-23 20:14] shravan2x commented on #76
Re-opening this issue because the strong-signing issue still exists.

`Assembly 'C:\ProjectName\bin\Release\Unosquare.Swan.dll' must be strong signed in order to be marked as a prerequisite.`

[2017-05-29 05:48] JochenTester commented on #79
Back from mountaineering...

I always try to fix my software so that errors are detected and logged. This allows third parties to understand what is going on internally, or how to process the parameters that the software reads. Unfortunately, this was only possible by testing and trying to find the error. I want a debug.output (logging) that indicates the special character are included - and what

[2017-05-29 05:48] #79 closed

[2017-05-29 14:47] mariodivece commented on #79
@JochenTester if you would like to suggest a change via a PR please do so. We are totally open to contributions!

[2017-05-31 15:26] geoperez commented on #75
Hey @buvar can you take a look in Nuget 1.6.10 and check the issue again.

[2017-05-31 15:36] geoperez commented on #76
Can you try the new EmbedIO 1.6.10 using the latest SWAN?

[2017-06-01 00:56] shravan2x commented on #76
I just did, it works well. Thank you so much =)

[2017-06-01 00:56] #76 closed

[2017-06-14 06:26] pablovilchis commented on #69
Hi @geoperez @mariodivece: Is this something you're planning to support? If that so, I would like to explore such a model and help you if it's possible. Please let me know.

[2017-06-14 12:32] mariodivece commented on #69
We have been able to restart embedio in other products without any problems. Not sure what the use case or limitation this suggests. @kdblocher coud you please post the code or an example that you believe should work and is not working?

[2017-07-10 18:16] geoperez commented on #73
All done.

[2017-07-10 18:16] #73 closed

[2017-07-10 18:16] #66 closed

[2017-07-26 09:17] johnfg1 opened #81 "setup issues"
Hello,
looks like a great project! need something like this for use on windows iot devices. anyway i have set my code up(in a gui based UWP app) and it doesnt seem to be handling the requests, im not sure why though.
startup:
        public MainPage()
        {
            start();
        }

        public void start()
        {
            var url = "http://localhost:9696/";
            var serv

[2017-07-26 13:30] geoperez commented on #81
Hi @johnfg10, the support to UWP is experimental. We are facing similar issues. Right now we are not actively working on UWP but let you know when a more stable version comes up. Our testing approach  is using a Background Application to host the web server:

[code]

Anyway any additional feedback or pull request is welcomed.

[2017-07-26 14:23] johnfg10 commented on #81
ahh ok.. seems like nothing works correctly with UWP atm :( well i guess i could run a background task as well as the UI task.

[2017-07-26 15:22] johnfg10 commented on #81
ok so ive tried setting up a background task and i still get `localhost refused to connect.`
[code]

[2017-07-26 15:28] johnfg10 commented on #81
Ok so im using a background task now
[code]
and when connecting to http://192.168.0.17:9090 it says `192.168.0.17 took too long to respond.` :(

[2017-07-29 10:34] johnfg10 commented on #81
did you have to make any setting changes to the remote device to get it to work?

[2017-07-30 10:25] johnfg10 commented on #81
ok i finally got it part working it now works with the fallback module correctly!

[2017-07-30 20:36] geoperez commented on #81
Hi, how did you get the fallback working?

[2017-07-30 20:40] johnfg10 commented on #81
if im honest im not quite sure just messed around created a few more projects and it just worked

[2017-07-31 02:18] geoperez commented on #81
I see, but you are using the IBackgroundTask?

[2017-07-31 03:34] mariodivece commented on #81
Or just attach the file with the sample project so we can see what is going on :)

[2017-07-31 09:28] johnfg10 commented on #81
I am yes and I will upload it shortly

[2017-07-31 12:04] johnfg10 commented on #81
[MediaShare.zip](https://github.com/unosquare/embedio/files/1187463/MediaShare.zip)

[2017-08-09 18:00] #75 closed

[2017-08-12 00:48] pablonardone opened #87 "remote endpoint from websocketcontext"
This is not an issue, just a question.
How can I obtain the remote endpoint of the websocket from the notification "Unosquare.Labs.EmbedIO.Modules.WebSocketsServer.OnClientConnected(WebSocketContext context)", where context is of type System.Net.WebSockets.WebSocketContext?
Thank you.

[2017-08-13 20:51] geoperez commented on #87
That class belongs to .NET Framework and checking MSDN Documentation (https://msdn.microsoft.com/en-us/library/system.net.websockets.websocketcontext%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396) I can't see a way to get that value using the WebSocketContext.

[2017-08-19 14:04] pablonardone opened #89 "WebSocketsModule.cs change request"
It would be very useful to introduce in the next release the following change to the module WebSocketModule.cs:

1) Change the line 296:

`OnClientConnected(webSocketContext);`

for the lines:

[code]
2) Change the line 544:

`protected abstract void OnClientConnected(WebSocketContext context);`

for the lines:

[code]
This would solve the limitation of the Windows WebSocket interface that does no

[2017-08-19 14:48] pablonardone commented on #87
I proposed a change in issue #89 to address this limitation.
Sorry for have opened a new issue, I did not realize in continuing the conversation here.

[2017-08-19 14:49] #87 closed

[2017-08-21 14:55] geoperez commented on #81
@johnfg10 did you manage to use WebAPI?

[2017-08-21 15:03] geoperez commented on #89
Hi @pablonardone, we are going to integrate your changes in the next release. Thank you.

[2017-08-25 21:47] geoperez commented on #89
New nuget 1.8.0.

[2017-08-25 21:47] #89 closed

[2017-09-05 14:38] Alkalinee opened #92 "SSL and .Net Core/Standard"
Hey,
I just ported all my apps to .Net Core and noticed that it's not possible to establish SSL connections using embedio. For me, a webserver without HTTPS is useless, encryption is absoluetly necessary and I really love embedio. I have a few questions here: Why is there no ssl? In .Net Standard 2.0, the [HttpListener was added](https://apisof.net/catalog/System.Net.HttpListener) so you can remov

[2017-09-06 11:09] geoperez commented on #92
Yes, we need to give it a try to net standard 2.0 new APIs properly.
Meanwhile any pull request is welcomed.

On Sep 5, 2017 9:38 AM, "Alkalinee" <notifications@github.com> wrote:

[2017-09-14 10:12] bufferUnderrun opened #94 "Serious performance issue after upgrading to v1.8.0"
Hi,

After upgrading from v1.6.10 to v1.8.0 and so retargeting my app to .NET 4.6, i'm facing serious performance issue.

With only the staticfiles module loaded serving a index.html and 10 css/javascripts files, many files are loading fast as normal (10 to 60ms) but somes are loading incredibly slow (from 10 to 75**sec** !!). The problem appear each time and on random files...

Code to reproduce

[2017-09-14 13:45] geoperez commented on #94
I didn't notice the issue, let me take a look.

[2017-09-14 13:53] bufferUnderrun commented on #94
Extras infos : Win7 SP1 + Visual Studio 2013 Update 5 + .NET Framework 4.6[.1,.2] [SDK|Targeting Pack] installed

[2017-09-14 14:56] Alkalinee commented on #92
Closed because the pull request was merged. Thank you.

[2017-09-14 14:56] #92 closed

[2017-09-14 15:24] mariodivece commented on #94
I know what the problem is. It is a Windows 7 specific issue with thread time slices. @geoperez come talk to me and I will explain how to fix.

[2017-09-14 15:35] bufferUnderrun commented on #94
@mariodivece you rock !

and thanks to both of you for support.

[2017-09-19 21:10] geoperez commented on #94
@bufferUnderrun do you have LocalSession module on?

[2017-09-20 06:43] bufferUnderrun commented on #94
@geoperez yep LocalSessionModule on

[2017-09-20 14:09] geoperez commented on #94
Can you try to disable it? I found a bug there.

[2017-09-20 14:27] bufferUnderrun commented on #94
Excuse-me, my previous answer was wrong. I used the localSessionModule for the app i've tried to upgrade to v1.8.0 BUT i don't use localSessionModule for the snippet i post above.

Only StaticModule ON and the bug is always here...

[2017-09-20 14:27] geoperez commented on #94
Ok, thank you for the clarification. Anyway I need to resolve the LocalSessionModule issue too...

[2017-09-20 14:28] geoperez commented on #81
Closing issue...

[2017-09-20 14:28] #81 closed

[2017-09-20 15:27] johnfg1 commented on #81
sorry missed the email notification no i didnt

[2017-09-21 18:34] geoperez commented on #94
@bufferUnderrun can you try version 1.9 please?

[2017-09-22 07:05] bufferUnderrun commented on #94
Unfortunately, the issue is still there... https://www.noelshack.com/2017-38-5-1506063752-capture-latence.png (release 1.9 on NET462)

[2017-09-22 12:18] geoperez commented on #94
I see. Let me take a look in the commits to see what changes.

On Sep 22, 2017 2:05 AM, "bufferUnderrun" <notifications@github.com> wrote:

[2017-09-22 17:17] geoperez commented on #94
I noticed you are using Firefox, so testing the Sample App with Firefox I got the same issue as you retrieving a file with status 304... status 200 it's working fine...

![image](https://user-images.githubusercontent.com/1775792/30756353-fcae71ac-9f8f-11e7-975a-56380942f7af.png)

[2017-09-22 17:52] geoperez commented on #94
I'm able to see the issue only when the headers IfModifiedSince, IfNoneMatch y Cache-Control (max) are set...

But the issue is way before StaticFileModule, I'm not receiving in time the HttpContext.

[2017-09-22 17:56] geoperez commented on #94
This is not happening with Net Standard 2.0, so it may be an issue with the custom HttpListener.

[2017-09-22 18:08] bufferUnderrun commented on #94
@geoperez i feel less alone. Yes i thinks the issue come from the custom httplistener too.

[2017-09-22 20:00] geoperez commented on #94
@bufferUnderrun can you try the new version 1.9.1?

[2017-09-25 12:02] bufferUnderrun commented on #94
@geoperez perfect ! You can close the issue.

[2017-09-25 13:58] geoperez commented on #94
👍

[2017-09-25 13:58] #94 closed

[2017-09-27 16:54] alhimik45 opened #96 "EmbedIO 1.9.1 in .NET Core 2 cannot recognize WebSocket connection from Firefox"
Seems that EmbedIO 1.9+ for .NET Core 2 started using default sockets instead of `Unosquare.Net`. But when I trying to connect by websocket to demo server from readme page from Firefox `context.Request.IsWebSocketRequest` is always `false`. Although in Chrome this works.
Tested in both Linux and Windows. Version for .NET 4.6 with `Unosquare.Net` works well.

[2017-09-27 17:19] geoperez commented on #96
Ok, let me take a look

[2017-10-08 14:31] Connum opened #97 "Live Streaming: Stop Response Task when user cancels the connection"
Hi there,

first of all, I'm coming from a PHP and JavaScript background, so this might be very simple, but I'm stuck at this point. I'm trying to write a module for live streaming of MPEG Transport Streams via FFMPEG. I finally got this working today in an asynchronous way, so that I can have multiple simultaneous connections. I oriented myself by the code of the StaticFilesModule, and made some

[2017-10-09 07:01] shravan2x opened #98 "Move regex/wildcard path handlers to base class"
I am using EmbedIO 1.9.1 and have code similar to this:

[code]

[code]

When run, the first handler is works correctly, but not the second. That is, the correct handler is called for `/settings`, but `/users/37` results in a 404.

Note that I am not using the WebApiModule. I assume that the default matcher includes support for wildcards since it is accepted as an argument to the `WebServer` const

[2017-10-09 13:45] geoperez commented on #98
The WebModuleBase path matcher is not using wildcards. This functionality is only present in WebApiModule. You may need to implement it by yourself.

[2017-10-09 13:47] geoperez commented on #97
Hi,

Checking your code I can't see where you stop ffmpeg, or ffmpeg closes itself?

[2017-10-09 13:47] geoperez commented on #69
Any feedback?

[2017-10-09 14:05] Connum commented on #97
Hi,

well, that's what I'm trying to achieve... As it's a live stream, it's not supposed to be stopped in any other circumstance except that the client closes the connection. How can I catch that condition and then stop the ffmpeg process?

[2017-10-09 14:21] geoperez commented on #97
Yeah, but why are you starting a ffmpeg each time a client connects? This is the expected behavior?

I would recommend leave ffmpeg outside the HTTP connection and just use the StaticFileModule to serve a m3u8 file for HLS (https://en.wikipedia.org/wiki/HTTP_Live_Streaming)

[2017-10-09 14:28] Connum commented on #97
I might later add some kind of caching, so that only one ffmpeg instance per channel will be used to deliver to the clients, if there are several clients requesting the same channel. But in general, yes, it's intended that ffmpeg is only operating when a client is requesting a channel.

There will be several channels (about 10, most in 720p) that will be re-streamed, so I don't want to have severa

[2017-10-09 14:41] kdblocher commented on #69
It's probably easier to point you to [this page](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/hosting?tabs=aspnetcore2x) for ideas. We've since abandoned our approach of a "soft restart" and just restart the entire process periodically until we have time to revisit this (as an optimization).

[2017-10-09 14:41] #69 closed

[2017-10-09 14:43] geoperez commented on #97
Any idea @mariodivece ?

[2017-10-09 17:22] shravan2x commented on #98
Oh I see. Is this the same case for the Regex matching handler as well?

[2017-10-09 17:23] geoperez commented on #98
Yes, you need to implement it.

[2017-10-09 18:01] shravan2x commented on #98
Okay, I guess I was just confused. Is there any particular reason this is taken as a parameter to `WebServer` rather than `WebApiModule` itself?

[2017-10-09 19:39] geoperez commented on #98
Not really, I guess to allow more modules use them. If you think the current path handler from WebAPI can be moved to the base class let me know.

[2017-10-09 20:02] geoperez commented on #96
I was able to reproduce the issue, checking System.Net.HttpListenerRequest source code at https://github.com/dotnet/corefx/blob/master/src/System.Net.HttpListener/src/System/Net/HttpListenerRequest.cs#L116

[2017-10-09 20:13] mariodivece commented on #97
There are only 2 correct approaches here:
1. Create a RAM drive from which you can serve the video fragments and serve them using embedio -- use the static files module for this. I have done this and works very well. This requires an instance of ffmpeg per channel but it does not stress the hard drives as all data is temporarily stored in RAM.
2. Perform custom encoding using the FFMPEG APIs direc

[2017-10-09 20:33] geoperez commented on #96
Firefox is sending two values in the Connection Header "keep-alive, Upgrade" meanwhile Chrome just "Upgrade". Checking the source code from Microsoft, I found that GetValues method (NameValueCollection class) is returning one single item when it should return two. That's why the "Upgrade" connection operation is not found.

I tested the NameValueCollection class apart, and it's working fine with N

[2017-10-09 20:37] geoperez commented on #96
Here is where the Headers are created: https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/Windows/HttpApi/Interop.HttpApi.cs#L799

This is really out of scope from EmbedIO...

[2017-10-09 22:29] shravan2x commented on #98
Yeah, I think that moving the path handlers to the base class would be a wise choice.

- It will reduce confusion like in my case, where I spent almost an hour debugging the problem myself before posting the issue here and learning that it isn't used at all.
- It will increase compatibility with the `*` handler. The current behavior here is confusing since the wildcard works when used in `*`, but

[2017-10-10 00:28] mariodivece commented on #98
@shravan2x I think these are very good recommendations!

[2017-10-10 05:48] Connum commented on #97
Thanks for your reply! Do you have an example for the RAM drive solution? Is it created with C# or is it kind of a virtual drive in Windows that I then use to read and write?

The problem still is the constant download of 10 Streams... However, I have thought about the following solution to that: On each request to the m3u8/TS files, a timestamp associated to the ffmpeg process is updated. In the

[2017-10-10 11:43] alhimik45 commented on #96
Ok, thanks. Going to open issue for corefx

[2017-10-10 17:33] mariodivece commented on #97
For Ram Disk, how about this: https://stackoverflow.com/a/14728377/1357191
There are hundreds of RAM disk solitions out there.

On the streaming side: why do you care so much about whether or not a user is connected? Don't kill the ffmpeg processes creating the m3u8 and chunk files. Just let them run continuously and serve the m3u8 and ts chunks with embedio. Killing the ffmpeg process and restart

[2017-10-10 17:37] Connum commented on #97
Hi,
it's because that would be pretty heavy on my internet bandwidth. That server is supposed to run on a local PC that runs 24/7, so my bandwidth would have to constantly consume several HD streams at once. That's why I want to close the ffmpeg process when it's not currently needed.

[2017-10-12 17:36] geoperez commented on #98
@shravan2x what do you think? https://github.com/unosquare/embedio/pull/99

[2017-10-12 19:36] shravan2x commented on #98
@geoperez I think the new changes look really good. I plan to build and test it on my projects tomorrow.

Is there any way we can warn users when they select `Regex` handling in the base class without a module that handles it? If not, maybe we could mention it in the docs.

[2017-10-12 19:40] geoperez commented on #98
I can't see where to warn about the routing strategy, because they can add a new module in any moment.

[2017-10-12 19:53] shravan2x commented on #98
One idea might be when they call `RunAsync()` to start the server, since it is a reasonable assumption that modules are usually added before that.

--------------------------------------

I feel having the Regex option when it doesn't actually do anything without an _optional_ module is confusing behavior. We should ideally maintain a generic base with modules that add specializations. Can we do o

[2017-10-12 19:58] geoperez commented on #98
Regex handling is the best idea. Let me think about it.

[2017-10-15 06:01] Rendaw opened #100 "Documentation link broken?"
I was trying to find the API reference, but the Documentation link in github pages seems broken (404).

[2017-10-15 15:05] geoperez commented on #100
You're right, something is failing at AppVeyor. let me take a look.

On Oct 15, 2017 1:01 AM, "Rendaw" <notifications@github.com> wrote:

[2017-10-16 13:50] geoperez commented on #100
Documentation is up again, thank you for the heads up.

https://unosquare.github.io/embedio/api/Unosquare.Labs.EmbedIO.html

[2017-10-16 13:50] #100 closed

[2017-10-16 13:50] geoperez commented on #98
@shravan2x The Regex handler is ready to be used in base class. Take a look in the branch.

[2017-10-16 13:52] geoperez commented on #96
Hi @alhimik45 did you report the issue?

[2017-10-16 13:55] alhimik45 commented on #96
@geoperez Yes, https://github.com/dotnet/corefx/issues/24550

[2017-10-17 01:23] shravan2x commented on #98
I spent some time testing the new features. Everything looks good from here!

[2017-10-17 13:39] geoperez commented on #98
Excellent, branch merged, releasing version 1.10 and closing issue.

[2017-10-17 13:39] #98 closed

[2017-10-17 14:52] stephanblaurock opened #101 "V1.91 not working with Port 80"
Hello,
since i have updated embedio from 1.8.0 to 1.9.1 i can't get working the Webserver to listen on port 80.
My Url-Prefix is: "http://<domainname>:80/"
**The local IIS has no binding to this domain and port**. And if i use the V1.8.0 all works fine on port 80. But i would like to upgrade because of the performance-issue.

If i make a request i get an 404-error (not found). Come this response f

[2017-10-17 14:55] geoperez commented on #101
Hi,

Are you using * for any IP?  Like this: `http://*:80/`

If the response is IIS you may have the following Response Header (you may check Chrome Developer Tools to see it):

`server:Microsoft-IIS/10.0`

[2017-10-17 14:59] stephanblaurock commented on #101
Hi, thanks for your quick response!

No i using "http://mydomain.de:80" as prefix.

The response contains following:
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>404 - Datei oder Verzeichnis wurde nicht

[2017-10-17 15:01] stephanblaurock commented on #101
sorry, i try to insert the response as code:
If i shutdown the IIS i get following response:
`<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<HTML><HEAD><TITLE>Not Found</TITLE>
<META HTTP-EQUIV="Content-Type" Content="text/html; charset=us-ascii"></HEAD>
<BODY><h2>Not Found</h2>
<hr><p>HTTP Error 404. The requested resource is not found.</p>
</BODY></HTM

[2017-10-17 15:35] geoperez commented on #101
The second response is from EmbedIO. Ok let me take a look what's going on.

What framework version are you using?

[2017-10-17 15:58] stephanblaurock commented on #101
i testet with 4.6.2 and 4.7

[2017-10-17 18:00] geoperez commented on #101
The response is not from EmbedIO, it's something else opening the port 80.

[2017-10-17 19:04] chubbsnes65 commented on #101
Hi @stephanblaurock try this:

- Stop IIS and EmbedIO.
- Run a CMD as administartor and execute "netstat -aon" if you got an PID 4 for port 80
![image](https://user-images.githubusercontent.com/17009334/31683771-7520fd3c-b343-11e7-93ff-5eb492dedffe.png)
that means the port 80 is in use for a system process, you should lookup for which system services are
using this port.
I found this https://super

[2017-10-18 13:28] stephanblaurock commented on #101
Hello @chubbsnes65 ,
thanks for your answer. I tried to find out which system service are using the 80er port, but only the IIS use this port. Now i searched several hours, but i can't get it to work :-(

Always i becom the response from "Microsoft-HTTPAPI/2.0".

Now i have make a little test with the System.Net.HttpListener - AND IT WORKS!! :-)
@geoperez : are you using the Unosquare.Net.HttpList

[2017-10-18 13:42] geoperez commented on #101
Since v1.9 the target net46 is using Unosquare.Net and netstandard2.0 System.Net.

You can try to target net47 or better to use System.Net.

[2017-10-18 13:42] geoperez commented on #101
@chubbsnes65 did you test using net46?

[2017-10-18 13:47] stephanblaurock commented on #101
hmm, i set the target-framework in the project-settings to 4.7:
![image](https://user-images.githubusercontent.com/25195741/31722084-71278d8a-b41b-11e7-8f17-d583d2e29c45.png)
is this correct or have i do something else?
If i debug with this settings the Unosquare.Net is used.

[2017-10-18 13:48] geoperez commented on #101
That's odd, let me check how my VS is resolving the nuget.

[2017-10-18 16:20] chubbsnes65 commented on #101
I tested with version 4.7 and using Unosquare.Net and works for me
static void Main(string[] args)
        {
            // Our web server is disposable.
            using (var server = new WebServer(80))
            {
                server.RegisterModule(new FallbackModule((ctx, ct) => ctx.JsonResponse(new { Message = "Error " })));

                // Once we've registered our modules and confi

[2017-10-18 16:55] geoperez commented on #101
I'm updating the nuget to include target NET 4.7 with System.Net and keeping NET 4.6 with Unosquare.Net.

[2017-10-18 17:28] geoperez commented on #101
I just updated the nuget to v1.10 to fix the issue with target NET 4.7.

[2017-10-19 06:27] stephanblaurock commented on #101
thanks a lot for your quick help!!! Now it works as expected 👍

[2017-10-19 06:27] #101 closed

[2017-10-19 21:12] stephanblaurock opened #102 "Question about Handler and long running tasks"
since i have performance issues i have a question:
What about long running tasks? Do i see this correctly: If a request is processed, then all other requests have to wait until the first one is finished? Can the requests not be processed in parallel?

Here my code:
[code]

[2017-10-19 21:33] geoperez commented on #102
The WebServer creates a new Task for every incoming request. Are you sure that you aren't blocking any I/O in your long running task? Like a file or db?

[2017-10-19 21:45] stephanblaurock commented on #102
OK, thanks for the clarification! I'll make several tests and look deeper in my code if i blocking any I/O.

[2017-10-19 22:04] stephanblaurock commented on #102
I just made a little test:
I used an handler like the code above and generate a long running task by Thread.Sleep(5000).
Now i opened 2 Browser with the same url. Now i reload the page on both browsers at the same time. The response on the first browser took 5s and the response on the second browser took 10s.

Now i found out that the two handler called by the same ThreadID.
Can you explain me why

[2017-10-20 15:44] geoperez commented on #102
That's because a Task can share a thread with another Task, the internal scheduler will determinate if a new thread is required or not. And since you are using a thread blocking instruction (Sleep) that's is why the second request is blocked.

[2017-10-24 02:33] thebitbrine opened #103 "AutoIndex on EmbedIO?"
Is there anyway to configure EmbedIO to whenever it hits a directory which does not have html file, list all the files and folder in that directory instead?

(Something similar to nginx's autoindex)

[2017-10-24 14:02] geoperez commented on #103
Makes sense. Working on it.

[2017-10-24 14:03] geoperez commented on #102
Did you figure out why your request are blocking?

[2017-10-24 14:05] geoperez commented on #96
@alhimik45 maybe applying this workaround (https://github.com/dotnet/corefx/issues/24550#issuecomment-338048691).

I'm going to check if I can attached to current request handler.

[2017-10-24 14:08] geoperez commented on #103
Working on feature DirectoryBrowser to StaticFileModule.

[2017-10-24 23:56] MarcoTheFirst opened #105 "WebApiModule always returns 404"
Hi

I'd like to run a simple WebApiModule using the following code:

[code]

And the controller class:

    public class TestApiController: WebApiController
    {
        [WebApiHandler(HttpVerbs.Get, "/api/Hello/*")]
        public string GetHello(WebServer server, HttpListenerContext context)
        {
            return "Hello World";
        }
    }

However, EmbedIO always returns a 404 when

[2017-10-25 00:04] MarcoTheFirst commented on #102
Try starting another Task in your incoming request handler, but make sure to use `TaskCreationOptions.LongRunning` in your inner task. This should force .NET to use a separate thread for the long running operation.

Example see: https://stackoverflow.com/questions/7913034/best-practice-longrunning-task-creation

[2017-10-25 14:22] VerHext opened #106 "Can`t get url variable"
Hello,
I test the example code an i can't get any parameters. I use the Regex strategy.
This is my code:
[code]
but the string is never defined. Does anyone know why?

[2017-10-25 15:17] geoperez commented on #103
Hey @thebitbrine , can you take a look in the changes from PR #104?

[2017-10-25 15:18] geoperez commented on #105
I don't see the unit testing failing... let me take a look in your code.

[2017-10-25 15:25] geoperez commented on #105
I see what is happening....

Your WebAPI method signture is wrong. You must return `bool` or `Task<bool>` and you need to write to the Response output directly. In the following example I write a JSON using a helper method;

[code]

[2017-10-25 15:25] #105 closed

[2017-10-25 15:28] geoperez commented on #106
I can't reproduce the issue. The following code is working fine:

[code]

Browsing to http://localhost:29879/api/message/discord/okasdasdas, I got:

`{"Message": "HELLO","Id": "okasdasdas"}`

How are you setting up the webserver?

[2017-10-25 15:31] MarcoTheFirst commented on #105
ah, sorry, I was trapped in my old ASP.NET Web API thinking.

On another note: Where does the method JsonResponse() come from? It is unknown in my project and intellisense doesn't offer to add any namespace... so it must be in a diferent Nuget?

[2017-10-25 15:32] geoperez commented on #105
It's an extension method, try to add the namespace `Unosquare.Labs.EmbedIO`.

[2017-10-25 15:35] MarcoTheFirst commented on #105
Ah I found the problem... I was referencing System.Net, and so the extension was incompatible.

Now it works. Thanks a lot for the great and impressive work!

[2017-10-25 17:00] VerHext commented on #106
Sorry you are right so it works.
I have meant a other feature that returns the params.
e.g.

[](http://localhost:29879/api/message/discord/?id=okasdasdas)

But i can get this with contec.url...

Thanke you

[2017-10-25 17:00] #106 closed

[2017-10-27 16:09] geoperez commented on #103
New nuget published. Version 1.11.0.

[2017-10-28 00:26] thebitbrine commented on #103
Pretty nice!
All it needs is a nice theme which indeed i'll take care of but i'll need some guidance about sending custom responses, have looked through the code but couldn't figure it out.

Anyway this is how i imagine the final product:
Simply we would have a template which will be calling them "`theme`" files and bunch of tags to identify the content and location of information, and basically l

[2017-10-28 00:33] thebitbrine commented on #103
Although it has a problem with folders,
It sees them as files not actual directories.
For exmaple: "e:\+Radio+" links to "file:///E:/+Radio+"

[2017-10-28 02:50] thebitbrine opened #107 "Using EmbedIO Just To Serve Files?"
I'm writing a HTTP file server (Similar to [HFS](https://www.google.com/search?q=HFS)) which already has fancy directory index, users, server status and such, and currently one of my problems is serving partial contents for multi-part downloading and pause and resume feature. But i couldn't find a good way to achieve that.
Apparently `EmbedIO` does a fine job serving partial contents,
and i was wo

[2017-10-28 03:24] thebitbrine opened #108 "Serving HTML Files From MemoryStream?"
#107: "_After doing more digging i decided to go the hard but better way which was building the whole app around `EmbedIO` because of performance and security reasons._"

As i would be generating the HTML file programmatically, i need a way to serve the `HTML` content from a `MemoryStream` or even a `string`.

Is there any way that is could be achieved?

[2017-10-28 17:52] mariodivece commented on #108
Sure. The exact same way the other modules generate content! This is one of the advantages of using EmbedIO! Simply inherit from the WebModule class and register your WebModule in you instance of EmbedIO. Example here:
https://github.com/unosquare/embedio/blob/master/src/Unosquare.Labs.EmbedIO/Modules/FallbackModule.cs

[2017-10-28 17:52] #108 closed

[2017-10-30 14:44] geoperez commented on #103
Let me check the issue. Regarding the customization you may check the following method: https://github.com/unosquare/embedio/blob/master/src/Unosquare.Labs.EmbedIO/Modules/StaticFilesModule.cs#L288

[2017-10-30 18:36] geoperez commented on #103
Can you explain me your current file-system to reproduce the issue?

[2017-10-31 15:21] mariodivece commented on #107
You need to implement HTTP range request header parsing, binary file reading, and response headers accordingly. This issue is not EmbedIO related. Closing.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests

[2017-10-31 15:21] #107 closed

[2017-10-31 15:22] geoperez commented on #107
Range request is already implemented in Embedio StaticFileModule, you may use this module as base for your own module.

[2017-11-06 21:16] VerHext opened #110 "context.Request.UserHostAddress return server adress"
Hello,

i want to get the IP from the request user. But with the function
``` context.Request.UserHostAddress ``` i get only my server adresse self.

Can anyone help me?

[2017-11-06 21:32] Israel-94 commented on #110
Hi VerHext, try using `context.Request.RemoteEndPoint.Address`

[2017-11-07 14:52] #110 closed

[2017-11-07 14:53] geoperez commented on #102
Hi @stephanblaurock, can I close this issue?

[2017-11-07 14:53] geoperez commented on #97
Hi @Connum , can I close this issue?

[2017-11-07 18:41] alhimik45 commented on #103
I have some suggestions to this feature to make it looks like nginx's autoindex:
* Output entries in alphabetical order
* Use `<pre>` for output links instead of `<ul>`
* Add `../` at top for going back at hierarchy
* Output "Last modified" time for entries and size for files

I can create pull request with this enhancements or path of them if you want

[2017-11-07 18:43] geoperez commented on #103
Sure, you can create a pull request with the suggestions. Thank you again.

[2017-11-08 16:25] Connum commented on #97
Hi @geoperez,

well, I implemented the whole functionality with PHP in the end, where the ffmpeg process gets terminated as soon as the client aborts the connection. I would still be interested in solving this with embedio for perfocmance reasons though, but I didn't couldn't work it out with my poor C# skills. It musst be possible in some way!

[2017-11-12 16:41] VerHext opened #114 "Running embedio behind an apache2 proxy"
Hello,
Iam trying to run embedio in my C# application behind my apache2 server, it is online but does not accept requests.

This is my apache2 configuration:
[code]

embedio is running on http://127.0.0.1:3099
Does anyone have an idea what I'm doing wrong?

[2017-11-12 16:43] geoperez commented on #114
Hi, how are you setting up embedio?

On Nov 12, 2017 10:41 AM, "Johannes Waigel" <notifications@github.com>
wrote:

[2017-11-12 16:46] VerHext commented on #114
[code]

[2017-11-12 17:41] geoperez commented on #114
And it resolves as localhost?

On Nov 12, 2017 10:46 AM, "Johannes Waigel" <notifications@github.com>
wrote:

[2017-11-12 17:42] VerHext commented on #114
yes

[2017-11-13 22:16] geoperez commented on #114
Sorry but I'm not familiar with apache2 as reverse proxy.

[2017-11-17 15:02] mariodivece commented on #102
There was no further feedback in 10 days. Closing issue.

[2017-11-17 15:02] #102 closed

[2017-11-17 15:37] mariodivece commented on #97
Closing this one.

[2017-11-17 15:37] #97 closed

[2017-11-20 15:01] geoperez commented on #103
You may find your changes in release 1.11.0.

[2017-11-20 15:01] #103 closed

[2017-11-29 16:52] geoperez commented on #96
@alhimik45 can you try version 1.11.3?

[2017-11-29 17:25] alhimik45 commented on #96
@geoperez Yep, Firefox works now. Thanks!

[2017-11-29 17:26] #96 closed

[2017-12-08 09:28] Moonbird-IT opened #118 "Exception: Reading transport stream, but object is disposed"
We recently updated from product version 1.6.9 to version 1.11.3 and now we constantly get the following message in our application's log file:
[code]
On the web client's side we can only see that sometimes requests take long to be handled but this doesn't necessarily be due to misbehaving of EmbedIO.

[2017-12-08 18:52] geoperez commented on #118
Hi @Moonbird-IT , what target framework are you using?

[2017-12-09 08:45] Moonbird-IT commented on #118
We are currently on .NET-Framework 4.6.2.

[2017-12-14 13:49] AnderssonPeter opened #119 "Does EmbedIO support https on android?"
Does EmbedIO support https on android I didn't find any thing in the documentation.

[2017-12-14 16:24] geoperez commented on #119
Hi @AnderssonPeter, we aren't supporting HTTPS at NET46 target, but the NETSTANDARD* targets should be able to use HTTPS using the [HttpListener](https://msdn.microsoft.com/en-us/library/system.net.httplistener(v=vs.110).aspx) from Microsoft. They are many tutorials how to archieve HTTPS at Windows, but I don't really have idea how it may work at Android platform.

Sorry but we don't have any expe

[2017-12-14 16:24] #119 closed

[2017-12-14 16:27] geoperez commented on #118
Can you provide a code snippet? Like what EmbedIO modules are you using?

[2017-12-15 12:10] Moonbird-IT commented on #118
We are using the WebAPI, here's part of our web server handler:

`public class WebServerHandler
{
	// ...

	public bool Initialize(string url)
	{
		#region parameter checks

		if (url == null)
		{
			throw new ArgumentNullException(nameof(url));
		}

		if (string.IsNullOrEmpty(url))
		{
			throw new ArgumentException($"'{nameof(url)}' must not be empty.");
		}

		#endregion parameter checks

[2017-12-15 16:15] mariodivece commented on #118
I can't reproduce the issue. I am using the following sample code (Console application dotnetcore 2.0)
Could you let us know your build details? Framework version, Visual studio, etc?

[code]

[2017-12-18 14:23] muus84 commented on #118
Hi @mariodivece

I will answer for Moonbird-IT. We are using VS2015 and .NETFramework Version v4.6. The build is compiled for x64 platform. Want do you else need?

[2017-12-18 15:26] mariodivece commented on #118
maybe test the sample code I have provided and see if you can reproduce?

[2017-12-20 10:49] DerKohnen commented on #118
Hi  @mariodivece
I've been able to reproduce the exception with .NET Framework 4.6, 4.6.1 and 4.6.2. I used the sample code and added an FirstChanceExceptionHandler at start of Main:

[code]

Started the web server and sent one request. This is my console output:

[code]

[2017-12-20 13:29] bufferUnderrun opened #120 "EmbedIO with NLog [help]"
Hi,

I'm using NLog for logging as it handles some great features.
How integrate NLog to take over the embedio internal logging system ?

Thanks for you answer.

[2017-12-20 14:59] geoperez commented on #118
With the sample code I'm able to reproduce the issue.

[2017-12-20 16:22] geoperez commented on #120
Hi @bufferUnderrun,

EmbedIO's logging is using SWAN Terminal component, you can redirect the log messages using the `OnLogMessageReceived` event. More info: https://github.com/unosquare/swan#example-3-forwarding-logging-messages

[2017-12-20 16:22] #120 closed

[2017-12-21 20:17] hardywu opened #121 "CancellationToken takes too long to cancel server task"
[code]
the ` frontendCancellor.Cancel();`  take a couple of minutes to complete.

[2017-12-21 20:42] geoperez commented on #121
What is frontendCancellor? Can you explain a little more?

[2017-12-30 00:04] firesharkstudios opened #123 "Implement WebSocket Routing"
Does the websocket implementation also support the same routing rules.  Ideally like...

[code]
or just...

[code]

[2017-12-31 14:34] shravan2x opened #124 "Returning HTTP 405 on Incorrect Method"
Consider this code:

[code]

If a user sends a POST to `/bob`, a `404 Not Found` is returned. This is generally the preferred behavior since most browsers don't support the `405 Method Not Allowed` response well. But since it is technically the correct behavior (and REST APIs use it), could an option be added to enable returning 405s?

[2017-12-31 22:51] mariodivece commented on #124
Yes, you have 2 options:
1. Write and register your own module returning the 405 response
2. Change the handler to accept all verbs and return a 405 when the verb is not HTTP GET

[2018-01-02 06:22] hardywu commented on #121
Sorry for the confusion.
[code]
Is the cancellation meant to be taking a while?

[2018-01-02 15:10] geoperez commented on #124
@mariodivece we may add support to respond 405 to `WebApiModule `since the developer doesn't have control over another method in a `WebApiController`. Many REST frameworks handle this scenario with 405.

Adding a fourth parameter to AddHandler (maybe optional to false) to allow the `WebServer `returns 405, and change `WebApiModule `to use AddHandler with the flag on.

[2018-01-02 15:11] geoperez commented on #123
Hi @firesharkstudios , the current `WebServer` routes handler support both strategies. Let me take a quick look into `WebSocketModule `if we can handle too.

[2018-01-02 15:12] #114 closed

[2018-01-02 17:10] geoperez commented on #121
@hardywu what runtime are you using? .NET 46?

[2018-01-03 19:21] FrankDoersam opened #125 "Implement Basic HTTP Authentication"
Hello, a great project! Is authentication on the roadmap? Thanks in advance.

[2018-01-03 19:27] geoperez commented on #125
Hi Frank, there is no plan to include authentication. But we are open to pull requests 😃

[2018-01-03 19:37] FrankDoersam commented on #125
okay thanks :) with the bear token could I solve it?

[2018-01-03 19:55] geoperez commented on #125
Yes, we usually use the BearerToken module to authenticate. But a BASIC Http Authentication is out of scope for now.

[2018-01-03 20:24] FrankDoersam commented on #125
of scope for now ... what do you mean ?

[2018-01-03 20:29] geoperez commented on #125
no plans :)

[2018-01-03 21:11] mariodivece commented on #125
Pull Requests are always welcome @FrankDoersam !

[2018-01-03 21:25] mariodivece commented on #124
@geoperez I would prefer that instead of adding a fourth parameter, we add a Func<bool, HttpContext> optional callback in the WebApi module that defaults to a prebuilt 405 response. I hope I made some sense.

[2018-01-03 21:27] geoperez commented on #124
This is what we have right now: https://github.com/unosquare/embedio/tree/Issue124-ReturnHTTP405

[2018-01-03 21:28] mariodivece commented on #125
Can't you just read the HTTP headers from the HTTP context and check the logic there? You can write a custom module too you know?

[2018-01-03 21:31] FrankDoersam commented on #125
We used in the past ServiceStack.
There we could mark the api methods with an attribute called authenticate. It think this would be the best Solution ? What think you ?

Von meinem iPhone gesendet

[2018-01-03 21:31] mariodivece commented on #124
I don't like it.

[2018-01-03 21:32] FrankDoersam commented on #124
Okay and Why ?

Von meinem iPhone gesendet

[2018-01-03 21:35] mariodivece commented on #124
It is too specific... Are we going to start adding arguments to the handlers such as: willRespond200, willRespond205, willRespond999? This is terrible prectice. Furthermore, the response body of the 405 cannot be customized. Are we then going to add one more argument to the handler: `string responseBody405` ? Just awful!

[2018-01-03 21:36] geoperez commented on #124
@jpalcala can you check @mariodivece suggestions?

[2018-01-03 21:36] FrankDoersam commented on #124
Okay perfekt 👍

Von meinem iPhone gesendet

[2018-01-03 21:38] mariodivece commented on #124
Use overridable methods or callbacks please. Idea" overridable `OnMethodNotAllowed` -- Just a suggestion but I am busy having fun with `ffmediaelement` :)

[2018-01-04 05:45] hardywu commented on #121
Yes.

[2018-01-04 11:40] FrankDoersam opened #126 "Broadcasting messages with WebSocket Server"
Hello everybody,

It is possible to send the WebApiController a broadcast via WebSocketsServer. As of today, the class is declared protected.

Thanks in advance

Best regards
Frank

[2018-01-04 11:40] FrankDoersam commented on #126
*Method is declared protected.

[2018-01-04 12:59] geoperez commented on #126
Also Send method. You need to derive the abstract class WebSocketServer and then you can use both methods. Check the chat WebSocketServer at the sample project.

[2018-01-04 16:03] firesharkstudios opened #127 "Enhanced RegEx Routing"
I believe EmbedIO currently supports this..

`[WebApiHandler(HttpVerbs.Get, "/api/{resource}/{action}")]`

Is there a means to specify an actual regex expression?  Perhaps a syntax where you optionally add a colon after the name followed by the regex...

`[WebApiHandler(HttpVerbs.Get, "/api/{resource:contact|address|phone}/{action:insert|update|delete}")]`

or another example might be...

`[WebApi

[2018-01-04 16:43] firesharkstudios commented on #127
Thinking about this more, I'm not sure the full regex syntax is all that necessary and useful (the IP example above probably isn't all that useful); however, supporting something like this is more useful...

`[WebApiHandler(HttpVerbs.Post, "/api/contact/{action:insert|update|delete}")]`

Although REST principles recommend mapping your actions to HTTP verbs, I generally find this awkward and confus

[2018-01-04 17:39] geoperez commented on #127
Hi Kent, let me think about it.

[2018-01-04 19:28] firesharkstudios commented on #127
I think this is a relatively minor improvement.  Maybe it g

[2018-01-04 19:28] #127 closed

[2018-01-04 20:21] #126 closed

[2018-01-05 18:01] jpalcala commented on #124
Here's the PR https://github.com/unosquare/embedio/pull/130

[2018-01-05 21:37] geoperez opened #131 "Implement InheritDoc"
Implement [InheritDoc](https://marketplace.visualstudio.com/items?itemName=fireshark.InheritDoc)

[2018-01-08 23:56] jpalcala commented on #124
@mariodivece  what do you think ?

[2018-01-09 23:03] jpalcala commented on #118
I am not able to reproduce the error, the example provided by @DerKohnen works because the `FirstChanceException`  event is raised every time an exception is thrown but that doesn't mean the exception isn't  been caught. We'll keep this issue open for now in case someone has a code snippet that we can actually use to reproduce the error.

[2018-01-10 16:45] #131 closed

[2018-01-19 10:19] Dewyer opened #135 "Turning off logging."
Hello,

Sorry for bothering you but is there a way to disable logging completely? I might be missing something.
(this :)
` 11:18:49.520 INF >> [WebServer] Web server prefix 'http://localhost:4243/' added.
 11:18:49.527 INF >> [WebServer] Finished Loading Web Server.
 11:18:49.552 INF >> [WebServer] Started HTTP Listener`

Have a nice day.

[2018-01-19 14:31] geoperez opened #136 "Move Cookbook to README"
* Move Cookbook to README
* Remove Cookbook wiki page
* Add recipe to turn off logging.

[2018-01-19 14:31] geoperez commented on #135
Hi Dewyer,

EmbedIO is using SWAN's Terminal to output messages, you can disable all message, or change the verbosity, by changing the Terminal setting as in the following line:

`Terminal.Settings.DisplayLoggingMessageType = LogMessageType.None;`

I'll update the Wiki to include this information.

[2018-01-19 16:51] geoperez commented on #124
I'm going to merge today this PR. Feedback is welcome.

[2018-01-19 19:39] shravan2x commented on #124
Looks good to me!

[2018-01-20 19:11] Dewyer commented on #135
Thank you very much :D

[2018-01-20 21:48] Dewyer opened #137 "The HTTP listener does not start."
Hello,
When I do this :

this happens:

for some reason the HTTP listener is not started.
But when I do something like this :

The HTTP listener starts.

I tried to find something in the code that could help me but I failed.
Thank you for your time.

[2018-01-21 12:14] Dewyer commented on #137
Okay problem solved, I just had to open the app in Administrator mode.
Also it would be nice if you would dump the listener exceptions to the log.

Have a nice day.

[2018-01-21 12:25] laibulle opened #138 "Always returns a 404"
Hello,

I am trying to get a simple API but the server always return 404.

[code]

Am I missing something ?

Best regard.

[code]

[code]

[2018-01-21 13:15] laibulle commented on #138
I didn't change anything but now it works. !????

[2018-01-21 13:15] #138 closed

[2018-01-21 14:07] #135 closed

[2018-01-22 14:48] geoperez commented on #137
Yeah, let me add a ticket about this.

[2018-01-23 17:17] geoperez commented on #137
@jpalcala please add a better error handler when the HttpListener is unable to open the port because the process is not running in admin mode.

[2018-01-24 15:25] dhilgarth opened #139 "Allow supplying WebSocket server instance"
I am trying to have a simple web socket server that triggers the client to reload the document:

    public class NeedsRefreshWebSocketsServer : WebSocketsServer
    {
        public override string ServerName => "NeedsRefreshServer";

        public void Refresh()
        {
            foreach (var ws in WebSockets)
                Send(ws, "refresh");
        }

        protected override void O

[2018-01-24 15:56] geoperez commented on #139
I'm not quite sure to understand what are you trying to do. If you want to refresh the browser, you need a WebSocket Client in your webpage and when the client receives the "refresh" message (for example) perform a reload page.

[2018-01-24 15:57] dhilgarth commented on #139
Right. But how would I send that refresh message to the client? The trigger for sending that message is outside of `NeedsRefreshWebSocketsServer`

[2018-01-24 16:12] geoperez commented on #139
Well, since EmbedIO doesn't provide a property to access the `WebSocketsServer` (something I may need to address later), you may use a MessageHub to publish a message and subscribe the `NeedsRefreshWebSocketsServer` to the hub.

EmbedIO has a dependency library named [SWAN](https://github.com/unosquare/swan), so you can use the [MessageHub component](https://github.com/unosquare/swan#the-messagehu

[2018-01-24 16:33] dhilgarth commented on #139
Sorry, it looks like I simply overlooked the proper overload: `public void RegisterWebSocketsServer<T>(string path, T server) where T : WebSocketsServer`

[2018-01-24 16:33] #139 closed

[2018-01-24 16:37] geoperez commented on #139
Yes, you can assign an instance directly, and use your instance in another
scope.

On Wed, Jan 24, 2018 at 10:33 AM, Daniel Hilgarth <notifications@github.com>
wrote:

--
Geo Pérez

[2018-01-29 14:56] geoperez commented on #124
@shravan2x did you test the source code or you need a pre-release nuget?

[2018-01-29 14:57] geoperez commented on #123
@firesharkstudios did you test the source code or you need a pre-release nuget?

[2018-01-29 23:02] firesharkstudios commented on #123
I'll pull the source

[2018-01-30 17:52] jpalcala commented on #123
HI @firesharkstudios just use `/test/{id}` as base path in `RequestRegexUrlParams()`.

[2018-01-30 18:56] firesharkstudios commented on #123
Yes, that works.  Nice job.

fyi -- I think if the param name was "urlPattern" instead of "baseUrl" that I would have guessed the value properly.   The "base" prefix was throwing me off.

[2018-01-30 19:20] jpalcala commented on #123
Yes you are right, sorry for the inconvenience, I'll fix this.

[2018-01-30 19:21] firesharkstudios commented on #123
Great, not trying to be critical -- just trying to give constructive feedback to improve the project.  Thanks.

[2018-02-01 01:00] shravan2x commented on #124
@geoperez I've been experimenting with the code the last few days. Could you tell me why this doesn't return an HTTP 788 (some random number for testing) when a POST is made to `/call`?

[code]

[2018-02-01 15:16] geoperez commented on #124
We added the `OnMethodNotAllowed ` execution only at [WebApiModule](https://github.com/unosquare/embedio/blob/master/src/Unosquare.Labs.EmbedIO/Modules/WebApiModule.cs#L68).

You need to add a similar logic in your own module.

[2018-02-01 17:46] shravan2x commented on #124
That behavior seems confusing since an exposed method does not work as expected. Can we either:

1. Change the `OnMethodNotAllowed` to protected so that users don't try to set it directly like I did above, or
2. Move the functionality to the `WebApiModule` class since it's only implemented there anyway?

[2018-02-01 17:50] geoperez commented on #124
But the idea is to allow to the developer to change the `OnMethodNotAllowed ` and use it on an own module. The same apply for `OnNotFound`.

The `WebApiModule` is using it for a better API-standard response.

[2018-02-03 04:25] shravan2x commented on #124
I tried again, using a `WebApiController` this time, but still cannot get it to respond:

[code]

It replies with a `405 Method Not Found` instead of `788`. Am I missing something again?

[2018-02-05 14:02] geoperez commented on #124
@jpalcala can you take a look please?

[2018-02-05 18:41] jpalcala commented on #124
Hi @shravan2x  I used your example and noticed that you used `+=` instead of  `=`  when using your custom `OnMethodNotAllowed `. Keep in mind that this will not overwrite the existing 405 response, It will execute both delegates. If I run your code I'll get a html response with `405 Method Not Found` and a HTTP status code of 788. Just use `=` instead of `+=`.

[2018-02-06 02:51] shravan2x commented on #124
@jpalcala That makes sense. Could we replace the `OnMethodNotAllowed` event with a virtual method instead? That should prevent this confusion in the future since only one handler can be registered.

[2018-02-06 18:38] geoperez commented on #124
OK, I'm going to release the nuget this week.

[2018-02-09 00:05] jpalcala commented on #124
@shravan2x we kinda of use them for the sake of simplicity ~~and maybe for dynamically changing the delegate~~. By the way a new [EmbedIO version](https://www.nuget.org/packages/EmbedIO/1.12.0) has been released.

[2018-02-09 00:05] #124 closed

[2018-02-09 00:07] jpalcala commented on #123
A new [EmbedIO](https://www.nuget.org/packages/EmbedIO/1.12.0) version has just been released with these changes.

[2018-02-09 00:07] #123 closed

[2018-02-09 18:32] geoperez opened #143 "Migrate to C# 7.1"
Check if current MONO support all the new features.

[2018-02-14 15:44] bufferUnderrun commented on #120
Thanks for your help.

Just migrating to vs2017, at last, and discorering swan. Interesting tool.

[2018-02-21 15:04] firesharkstudios opened #144 "Single Page Application Routing"
Single page applications often use client side routing (like vue-router) and these client routers can modify the address bar and URL history as the user navigates within the single page application.  If a user bookmarks these URLs, the user would expect these URLs to open properly.

So, let's say a single page application has these physical files...

/project-dir/index.html
/project-dir/static/js/

[2018-02-21 15:07] geoperez commented on #144
You can register the `FallbackModule `at the very end to redirect everything to the index.html.  We use this approach with Angular SPA and the client-side routing works just fine.

[2018-02-21 15:15] bufferUnderrun commented on #144
There is a simple way, like i do, by using the 2 modules :

- WebApiModule : it exposes my REST Api to http://localhost/api/
- StaticFilesModules : it serves static files (SPA application with RiotJS) to http://localhost/index.html and consumes my rest api.

[2018-02-21 15:27] firesharkstudios commented on #144
Thanks for the replies.  As suggested, adding the FallbackModule does exactly what I needed...

[code]

I originally just passed "/index.html" to the FallbackModule but that was doing an HTTP redirect so I used the other constructor to read and serve the actual index.html file which leaves the URL intact.

[2018-02-21 15:29] geoperez commented on #144
You can use the extension method `HtmlResponseAsync` to send a HTML string ;)

[2018-02-21 22:31] #144 closed

[2018-03-07 15:55] geoperez opened #146 "Test AppVeyor Linux"
Test AppVeyor Linux

[2018-03-09 21:27] #146 closed

[2018-03-09 21:28] #143 closed

[2018-03-21 15:03] geoperez opened #149 "EmbedIO Cli Tool"
EmbedIO Cli Tool

[2018-04-01 18:52] JanSemorad opened #151 "added fluent function"
"Webserver.cs"

public static WebServer Create(string urlPrefix, RoutingStrategy **routingStrategy**)
        {
            return new WebServer(urlPrefix, routingStrategy);
        }

[2018-04-02 00:21] geoperez commented on #151
Can you create a Pull request please?

[2018-04-02 15:57] mariodivece commented on #49
Example implementation
https://github.com/mariodivece/amcresthttp/blob/master/Amcrest.HttpApi/Models/Node.cs

[2018-04-02 17:36] JanSemorad commented on #151
I understand, but I am a "novice" to "live-GitHub-Push"
thus a made following for You:

https://github.com/JanSemorad/embedio/commit/7ba59b3a3daa4553f4cd73895c2ce2
bc87718e36

Best regards
Jan Semorad

P.S.
THX much for Your excellent work...

---------- Původní e-mail ----------
Od: Geovanni Perez <notifications@github.com>
Komu: unosquare/embedio <embedio@noreply.github.com>
Datum: 2. 4. 2018 2:

[2018-04-02 17:37] geoperez commented on #151
It's super easy, in your branch just go to Pull Request, and create one. This is the link https://github.com/unosquare/embedio/compare/master...JanSemorad:master

[2018-04-02 17:48] JanSemorad commented on #151
ok, I made following:
https://github.com/unosquare/embedio/pull/152/commits/b773b2b32b340df43ebb
01413dde3091ab5b43c5

---------- Původní e-mail ----------
Od: Geovanni Perez <notifications@github.com>
Komu: unosquare/embedio <embedio@noreply.github.com>
Datum: 2. 4. 2018 19:38:09
Předmět: Re: [unosquare/embedio] added fluent function (#151)
"
It's super easy, in your branch just go to Pull Reques

[2018-04-02 19:56] smedasn opened #153 "Memoryleak in WebApiModule?"
Hi guys. I am trying to upload a huge file (4-5gb) via WebApiModule. Unfortunately the ram of my devices climbs over minutes until it crashes. I am using Xamarin on a Android Tablet.

My configuration:

[code]

My UploadController

[code]

In my log console i see constantly popping up "GC_MINOR: (Nursery full)" messages.

Am I doing something wrong or is thsi a possible issue of embedio? Thank you

[2018-04-03 16:38] #151 closed

[2018-04-09 18:59] Joe118 opened #154 "http://localhost:9696/ works locally but tunneling through ngrok causes a 502 status"
Issue:
====

I'm using EmbedIO 1.13.0 and Swan.Lite 1.28.0 on Windows 2008 Server R3. I'll put the code I use to start the web server at the end. Apart from that code I have written no other C# code to use the server or extend it with handlers.

The problem I'm experiencing is http://localhost:9696/index.html is showing just fine on my local browser, but when I'm tunneling out of my "NAT prison" w

[2018-04-09 19:02] Joe118 commented on #154
@geoperez wow, response in less than a minute! Is this a known problem that was already reported by someone else?

I am Joe.M.Finn on facebook, would love to chat via messenger if you want me to try more scenarios.

[2018-04-09 19:05] geoperez commented on #154
I'm getting Bad Request

![image](https://user-images.githubusercontent.com/1775792/38517276-04670b0a-3bff-11e8-81ee-e9dac32a9901.png)

[2018-04-09 19:09] Joe118 commented on #154
It's on https://6d0b157b.ngrok.io

[2018-04-09 19:16] geoperez commented on #154
Try to bind to all the network interfaces using http://*:8787. You will need run it as admin.

I'm running the Sample http://b7af8d28.ngrok.io

[2018-04-09 19:25] geoperez commented on #154
It's not a bug, this is how Windows handle the network binding. Usually, localhost will allow HTTPSys look for a resource listening 127.0.0.1, but I think ngrok is trying to resolve localhost by IPv6.

[2018-04-09 19:25] #154 closed

[2018-04-09 19:38] geoperez commented on #153
The issue is when you are receiving a really big file... I don't know if it's something we can handle.

What .NET framework or .NET core version are you using?

[2018-04-12 21:46] MrDigit opened #155 "HttpListener - why queue polling ?"
Hello,

first, thanks for the great project. Just looked through the code in HttpListener.cs and stumbled over this code:

        public async Task<HttpListenerContext> GetContextAsync()
        {
            while (true)
            {
                foreach (var key in _ctxQueue.Keys)
                {
                    if (_ctxQueue.TryRemove(key, out var context))
                        re

[2018-04-13 17:53] geoperez commented on #155
Let me take a look. Thank you.

[2018-04-18 14:43] McFizh commented on #121
I think I hit the same problem.. Trying to cancel server task takes forever, but happens immediately, if I visit the webservers address after cancel. My code looks like following:

[code]

In console, I get the ::1:: and ::2:: lines, but ::3:: appears only after a long delay, or after visiting the servers address with browser. I think that the problem lies in this code:

https://github.com/unosqua

[2018-04-18 17:32] geoperez commented on #121
@McFizh  can you test using the branch `Issue121-CancellationDelay`?

[2018-04-19 19:35] McFizh commented on #121
This new branch fixed my issue.. Thanks :)

[2018-04-20 13:54] geoperez commented on #121
@hardywu can you verify?

[2018-04-20 13:55] geoperez commented on #121
@McFizh can you post a sample code?

[2018-04-20 16:02] geoperez commented on #121
@McFizh I was able to reproduce the issue, I committed some changes to stop the Listener.

[2018-04-20 17:47] geoperez commented on #155
Connection Times (ms)
              min  mean[+/-sd] median   max
Connect:        0    1   0.8      0       8
Processing:     1    9  15.6      5     208
Waiting:        0    8  15.4      4     205
Total:          1   10  15.7      6     210

[2018-04-23 15:55] geoperez commented on #155
After the change

step|min| mean|[+/-sd]|median|max
-- | -- | -- | -- | -- | --
Connect:   |     0|    3|   4.3 |     2 |     40
Processing:  |   1 |  12 | 10.3  |    9  |    78
Waiting:      |  0  | 10|   9.8  |    7   |   75
Total:    |      1  | 15  |12.3 |    12  |    89

step|min| mean|[+/-sd]|median|max
-- | -- | -- | -- | -- | --
Connect:     |   0 |   1 |  0.8   |   0 |      6
Processing:

[2018-04-24 17:41] jpalcala commented on #155
using : `ab -n 100000 -c 15 http://localhost:8787/`

p| Previous method | New method
------------ | --------------|--------------
Time taken for tests | 111.180 seconds |118.108 seconds
Requests per second | 899.44 [#/sec] (mean) |  846.69 [#/sec] (mean)
Time per request |16.677 [ms] (mean) |17.716 [ms] (mean)
Transfer rate | 2094.89 [Kbytes/sec] received|1972.02 [Kbytes/sec] received

Before chan

[2018-04-25 18:27] McFizh commented on #121
With the latest changes the tcp port gets properly released and I can create/close server in a loop without problems. But with code shown below:

[code]
I get output like this:

[code]

[2018-04-25 18:29] geoperez commented on #121
Do you have the stacktrace?

[2018-04-25 18:41] McFizh commented on #121
[External Code]
Unosquare.Labs.EmbedIO.dll!Unosquare.Net.EndPointListener.Accept(System.Net.Sockets.Socket socket, System.Net.Sockets.SocketAsyncEventArgs e, ref System.Net.Sockets.Socket accepted) Line 238
Unosquare.Labs.EmbedIO.dll!Unosquare.Net.EndPointListener.ProcessAccept(System.Net.Sockets.SocketAsyncEventArgs args) Line 270
Unosquare.Labs.EmbedIO.dll!Unosquare.Net.EndPointListener.OnAccept

[2018-05-03 10:00] RyanYANG52 commented on #153
@smedasn I try the same thing, the memory problem is not embedio's problem. You should use `StreamingMultipartFormDataParser ` instead, more info here->
https://github.com/Vodurden/Http-Multipart-Data-Parser#streaming-handles-large-files
https://github.com/Vodurden/Http-Multipart-Data-Parser/blob/master/HttpMultipartParser/StreamingMultipartFormDataParser.cs#L29

[2018-05-03 10:15] RyanYANG52 opened #157 "StaticFilesModule support file larger than 2G"
Awesome lib, thanks guys.

I'm using the lib to build a LAN http file storage program, user can download and upload any file from webserver using a webpage. So far I can download any file less than 2G from staticFilesModule and upload using webApi #153

The problem is Int.MaxValue is 2G, so the index will became negative after 2G, so can you please change to `long` in the next release, here ->   h

[2018-05-03 12:09] geoperez commented on #153
That is a great library, I had use it with Embedio before.

[2018-05-03 12:11] geoperez commented on #157
Let me create a PR.

[2018-05-04 05:02] RyanYANG52 commented on #157
Here->   https://github.com/unosquare/embedio/blob/Issue157-LargeFilesStatic/src/Unosquare.Labs.EmbedIO/Modules/StaticFilesModule.cs#L280
Need to change to `long sendData = 0;` also, and all works out , thanks! @geoperez

[2018-05-04 15:45] ygl-rg opened #159 "Is it production ready?"
Hi All

  I found out this lib during searching a pure c# http server on google. After reading some docs, I think it might fit what I need.

  I am curious whether it is production ready.

Regards

gelin yan

[2018-05-04 15:48] geoperez commented on #159
We use this library in internal projects and we are pretty sure it's stable.

[2018-05-04 15:52] ygl-rg commented on #159
Thanks @geoperez

 I will give it a try.

Regards

gelin yan

[2018-05-04 15:52] #159 closed

[2018-05-04 16:10] geoperez commented on #157
Done.

[2018-05-04 20:46] Joe118 opened #160 "WebApi not receiving call"
I'm using EmbedIO 1.13.0 with VS2015 with .Net 4.7 targeting pack. I'm attaching a ZIP file of the entire solution which I copied from the EmbedIO README and simplified a bit-- I set the target framework to .Net 4.7.2,  and trying to build and run this with VS2015 on Windows Server 2008 R3.

The issue I'm observing is that urls that should be handled by my WebApiController subclass are instead ret

[2018-05-04 21:03] Joe118 commented on #138
I'm seeing the exact same behavior, web api always returns 404.

[2018-05-04 21:03] Joe118 commented on #160
Seems similar to https://github.com/unosquare/embedio/issues/138

[2018-05-04 21:49] Joe118 commented on #160
OK I'm going to close this, since I figured out what I was doing wrong, by carefully reading https://github.com/unosquare/embedio/issues/105

Removed 'using System.Net' and added 'using Unosquare.Net'.
I couldn't find a definition for HttpStatusCodes so added 'using statis System.Net.HttpStatusCodes'.

Compiles and works fine now. Thanks for this AWESOME software, glad I was able to figure it out

[2018-05-04 21:49] #160 closed

[2018-05-05 08:03] MrDigit commented on #155
Thanks for the comparison.

The difference in performance might be due to the fact that with the proposed SemaphoreSlim-Version every request goes through one more lock-statement (as SemaphoreSlim uses locking internally).

In my opinion the version with Task.Delay(10) is bad style as it consumes CPU resources without needs.

If a small performance hit in a synthetic benchmark is a no go for you a

[2018-05-05 12:51] geoperez commented on #155
Sure, we really appreciate your interest. Please post your code.

On Sat, May 5, 2018, 3:03 AM MrDigit <notifications@github.com> wrote:

[2018-05-08 16:35] geoperez commented on #121
@McFizh ??

[2018-05-09 16:48] #153 closed

[2018-05-11 09:06] bufferUnderrun commented on #159
I want to add some feedback.

I use it in production for 1 year : internal and exposed from net to run restapi. Does the job and does it well !

Thanks for EmbedIO !!

[2018-05-14 03:39] a44281071 opened #162 "how to get websocket module context in WebServer class?"
I need get websocket sessions count in webapi module.
I need send a message from webapi to websocket client.
how to done it?
thanks.

[2018-05-14 16:26] geoperez commented on #162
You can use the methods `OnClientConnected` and `OnClientDisconnected` to handle a list of WebSocket sessions (probably inside a static `List<WebSocketContext>`) and use it from the WebAPI.

[2018-05-17 06:12] wond12 commented on #137
why does HttpListener be unable to open when the process is not running in admin mode?

[2018-05-17 12:48] geoperez commented on #137
If you try to bind to all network interfaces you require admin. You need to bind only localhost to run as regular user.

What bind are you using when you create the `WebServer` instance?

[2018-05-18 02:11] wond12 commented on #137
I bind all network interfaces when create WebServer.

But I wrote a demo like this:
`
//.net core 2.0
using System;
using System.Net;
using System.Net.Sockets;

namespace testnetcore
{
    class Program
    {
        static void Main(string[] args)
        {
			Socket socket = new Socket(AddressFamily.InterNetwork, SocketType.Stream, ProtocolType.Tcp);
			IPEndPoint lep = new IPEndPoint(IPAddress.

[2018-05-18 20:14] #162 closed

[2018-05-31 21:27] geoperez opened #163 "Upgrade to .NET Core 2.1"
**Is your feature request related to a problem? Please describe.**
Upgrade to .NET Core 2.1

[2018-06-07 17:15] zagnut999 commented on #154
`ngrok http -host-header="localhost:9696" 9696` should make it so you don't need to run as admin. (trying to solve a different problem and ran across this)

[2018-06-10 08:57] MrDigit opened #165 "Listen to localhost, handle request with arbitrary Host headers"
Hello,

I want that embedio bind to localhost interface, (URL prefix: http://localhost:12345) but it should handle all incoming requests, independent of the host header.

Currently, if the host header is not localhost (i.e. 127.0.0.1 or something different) it doesn't handle the request.

Is this feature, a bug, my fault ?

Best regards
  MrDigit

[2018-06-11 20:05] geoperez commented on #165
This is not a bug, this is how `Httpsys `works. If you change your binding to `http://+:12345` you can connect using localhost or 127.0.0.1.

Some useful links:

https://www.codeproject.com/Articles/437733/Demystify-http-sys-with-HttpSysManager
https://msdn.microsoft.com/en-us/library/windows/desktop/aa364698(v=vs.85).aspx

[2018-06-11 20:05] #165 closed

[2018-06-11 20:05] #157 closed

[2018-06-11 20:06] #137 closed

[2018-06-11 20:07] #121 closed

[2018-06-11 20:22] #163 closed

[2018-06-11 20:36] MrDigit commented on #165
Strong binding with "+" understood, But when using "http://+12345" the webserver binds to 0.0.0.0.
My goal: bind to localhost, serve all requests.

[2018-06-11 20:43] geoperez commented on #165
Yeah, because 0.0.0.0 is a placeholder to say anything is valid.

I'm not understanding, why don't you use '+' or '*'? Is it because of permissions?

[2018-06-11 20:51] MrDigit commented on #165
For security reasons embedio should listen only on internal loop interface but should handle requests independently of the Host-Header (another process forwards external HTTP requests to embedio that listens on localhost):

What I tried:
1) If I use http://+:12345 or * it listens to 0.0.0.0 and it handles all requests as wanted, not 100% what I want as I want it to listen only on loopback.
2) If I

[2018-06-11 21:01] geoperez commented on #165
You can add both loopback in the `WebServer `constructor:

`var server = new WebServer(new [] { "http://localhost:8787/", "http://127.0.0.1:8787/" });`

[2018-06-18 19:37] geoperez commented on #149
embedio-cli will be a new repository. https://github.com/unosquare/embedio-cli

[2018-06-18 21:36] #149 closed

[2018-06-19 18:33] geoperez commented on #125
We already have a basic auth module by @Tymonrare.

[2018-06-19 18:33] #125 closed

[2018-06-19 18:33] #118 closed

[2018-06-19 18:34] geoperez opened #167 "Update documentation"
* Include a new section of related projects and nugets.

[2018-06-20 22:34] #167 closed

[2018-06-27 07:30] abuzaforfagun opened #169 "Regex call not working with version 13.1"
**Describe the bug**
Regex call not working with version 13.1. Wildcard working fine.

**To Reproduce**
Steps to reproduce the behavior:
Sample api: api_base/{category}/{name}
Sample Request: api_base/category/jhon

It return 500 response status. And api end point not firing.

**Expected behavior**
It should hit the end point and return expected data.

[2018-06-28 03:04] nickhodge opened #170 "I needed a EmbeddedResource Static files module ... so I wrote one"
Thanks for an excellent piece of code.

[ResourceFilesModule](https://gist.github.com/nickhodge/3a7af97925a7623a45366d3d87280796)

Up until recently we had been using [Nancy](https://github.com/NancyFx/Nancy) and [Nancy Self Hosting](https://github.com/NancyFx/Nancy/tree/master/src/Nancy.Hosting.Self).

I found them too "heavy" so have successfully moved to Embedio.  Thanks guys!

But I needed to

[2018-06-28 15:10] geoperez commented on #170
Cool, thank you.

I'm going to create a new branch to include it and design the tests. We may need to add an abstract class because I see some common source code.

[2018-06-28 16:10] nickhodge commented on #170
Awesome!

Yes, this code isn't my best work -- I am sure you will make it better

[2018-06-29 06:44] rdstettler opened #171 "Simple WebAPI according to the doc doesn't call GET method"
WebAPI server does not fire the GET method

This is my startup method

    static void Main(string[] args)
        {
            Console.WriteLine(" >> Start: press any key");
            Console.ReadLine();
            var url = "http://localhost:8888/";
            using (var server = new WebServer(url, RoutingStrategy.Regex))
            {
                server.RegisterModule(new WebApiModule(

[2018-06-29 07:22] #171 closed

[2018-07-02 09:13] a44281071 opened #172 "RoutingStrategy.Regex caused can not handle websocket request."
I need webapi and websocket handle.
But I found that a new WebServer.RoutingStrategy set to RoutingStrategy.Regex. It will cause a http 404 error.
can not handle websocket request.
How to fix it?

[2018-07-02 13:45] geoperez commented on #172
Hello, please provide more information like a sample code and how are you trying to access the URL.

[2018-07-03 15:12] geoperez commented on #172
I found the issue, please use the new version 1.13.2 (https://www.nuget.org/packages/Embedio)

[2018-07-03 15:12] geoperez commented on #169
I found the issue, please use the new version 1.13.2 (https://www.nuget.org/packages/Embedio)

[2018-07-03 15:12] geoperez commented on #172
Dup #169

[2018-07-03 15:12] #172 closed

[2018-07-05 01:41] a44281071 opened #173 "webapi Routing bug."
**Describe the bug**
same urls path will caused can't map to the longer one.

**To Reproduce**
WebServer.RoutingStrategy:
`RoutingStrategy.Regex`
url A:
`[WebApiHandler(HttpVerbs.Get, "/api/test")]`
url B:
`[WebApiHandler(HttpVerbs.Get, "/api/test/m")]`

**Expected behavior**
url B accessible. In fact, it can't be.

[2018-07-05 01:42] geoperez commented on #173
What Routing Strategy are you using?

[2018-07-05 01:44] a44281071 commented on #173
RoutingStrategy.Regex

[2018-07-05 14:42] jtol84 commented on #173
From what I have seen, it seems like a "match" is found when the specified route is found anywhere in the requested route when using RoutingStrategy.Regex.  For example, "/api/test" would match "/another/api/test" or "/api/test/123".  Because of this it seems that the order routes are added is important, as the first match will get the opportunity to handle it.  It seems like this could be resolve

[2018-07-05 18:52] geoperez commented on #170
Adding a abstract base class: https://github.com/unosquare/embedio/blob/Issue170-StaticFilesFromResources/src/Unosquare.Labs.EmbedIO/Modules/ResourceFilesModule.cs

[2018-07-06 18:14] geoperez commented on #170
New nuget: https://www.nuget.org/packages/Embedio

[2018-07-06 18:14] #170 closed

[2018-07-06 18:40] jtol84 commented on #173
Here is a proposed change related to this issue:
#175

[2018-07-06 18:47] #155 closed

[2018-07-06 18:48] #169 closed

[2018-07-06 20:48] geoperez commented on #173
@a44281071 please check the new nuget (https://www.nuget.org/packages/EmbedIO/1.14.1)

[2018-07-07 16:39] mamcx opened #176 "Example in how use ManualResetEvent or backgroundWorker?"
I'm looking for a web server to put inside an Android App.

I try to run it with (in F#. I'm ok with sample in C#):

[code]

But it not listen and not get logging or error. So I need a way to keep the server alive in the background, but how?

[2018-07-07 22:01] geoperez commented on #176
I'm not familiar with asynchronous programming with F# but usually with C# RunAsync will return a task that you can store in a variable and then continue with a blocker instruction like Console.ReadLine and after the user continue execution cancel the stored task.

You may use a similar approach with F#

[2018-07-09 22:41] mamcx commented on #176
I put the task into a var in the form and still the server not run. But this is in android, in iOS it work?

I'm ok with examples in C#. The thing is that I can't block with

`task.Wait();`

[2018-07-10 17:10] mamcx commented on #176
I finally found the problem, was a weird bug with the mono compiler ([that I reported in the past](https://stackoverflow.com/questions/50746267/error-image-en-fsharp-core-resources-dll-so-not-found-dlopen-failed-condi)) that not allow to see this.

For the record, is just to store the task into the form and that is. Nothing fancy to do.

[2018-07-10 17:10] #176 closed

[2018-07-11 01:08] #173 closed

[2018-07-18 21:52] detlefm opened #177 "Performance issue Json Serialize Deserialize"
I have a project in which I want to transfer a lot of data via web service.
 In one example, I have 12 megabytes of EPG data.
The transmission takes about 90 seconds due to the serialization by the standard Json Serializer.
When using NewtonSoft only about 3 seconds.

Comparison programm see attachment - it is a pure Console app.
[FastJsonTest.zip](https://github.com/unosquare/embedio/files/220748

[2018-07-19 13:32] geoperez commented on #177
Hi, thank you for the heads up. We built SWAN as a common library for all projects we have.

I'm going to close this issue and open a new one in SWAN Repo (https://github.com/unosquare/swan/issues/137)

[2018-07-19 13:32] #177 closed

[2018-07-20 14:49] DayBr3ak opened #178 "server.RunAsync().Wait() doesn't wait"
**Describe the bug**
The task from server.RunAsync() is not waiting when you call task.Wait()

[code]

The program will exit regardless event if Wait() is called.

[2018-07-20 15:00] geoperez commented on #178
When you pass only the port number, EmbedIO will try to bind the weak wildcard (*) host you may need admin rights. Try to execute it as Administrator, or change the next line:

`var server = new WebServer("http://localhost:3131", RoutingStrategy.Regex);`

[2018-07-23 09:42] DayBr3ak commented on #178
Thanks for your time but unfortunately no, the webapp works with just the port number but I have to artificially stop the thread with a Console.ReadKey(). Same thing with `http://localhost:3131`. Task.Wait() is not blocking the main thread and the processus justs ends.

[2018-07-30 05:18] abuzaforfagun opened #179 "RunAsync() not finish in Xamarin.Forms for physical iOS"
Everything works fine in iPhone simulator. But when running over physical device and hit end point it returns 404. And if use Wait() it will not finish the execution.
Code without Wait()
`var serverData = new WebServer("http://localhost:18941/", RoutingStrategy.Regex).EnableCors();
serverData.RegisterModule(new WebApiModule());
            serverData.Module<WebApiModule>().RegisterController<DataC

[2018-07-30 21:16] geoperez commented on #178
Hello @DayBr3ak , can you test with this [prerelease version](https://www.nuget.org/packages/EmbedIO/1.15.0-pre)?

[2018-07-30 21:16] geoperez commented on #179
Hello @abuzaforfagun , can you test with this [prerelease version](https://www.nuget.org/packages/EmbedIO/1.15.0-pre)?

[2018-08-01 19:41] geoperez commented on #179
status?

[2018-08-01 19:41] geoperez commented on #178
status?

[2018-08-03 17:40] pushqrdx opened #181 "Support for custom URI Schemes"
First i wanna thank you for this awesome library.

**Describe the solution you'd like**
Is there a possibility that EmbedIO can support handing of custom URI Schemes. I find this handy when using EmbedIO to implement a custom HTML user interface for an application so it handles it's communication on it's own scheme.

**Describe alternatives you've considered**
Using the http scheme but being able

[2018-08-03 18:49] geoperez commented on #181
Do you mean register and listen for URI like embedio://localhost or similar?

I think we would have some issues related to cross-platform, what I know that you can add some Windows registry keys but I have no idea how to achieve it with Linux os Mac. Do you have any documentation?

[2018-08-03 22:33] pushqrdx commented on #181
yea that's exactly what i meant however if this will break Mono/Cross-Platform compatibility then it's better not be implemented because the good thing about EmbedIO is that it runs everywhere. so i guess the question now is if there's a way so that the server can only be accessed from inside the application, i would really appreciate your help.

[2018-08-03 23:18] geoperez commented on #181
It's possible to integrate an in-memory service just for the application running the server, something similar to OWIN TestServer (https://www.strathweb.com/2013/12/owin-memory-integration-testing/). Where the entire HTTP pipeline is mounted over a dispatcher without listening real network traffic.

The issue with this approach is that we need to rewrite EmbedIO to include this abstraction layer t

[2018-08-04 16:26] pushqrdx commented on #181
@geoperez If such move won't break mono/xamarin compatibility i would be glad to assist in adding this capability (after i get the hang of it) but i'll need some help ofc.
I can find this pretty useful in cases when you use EmbedIO to create an HTML/CSS/JS user interface for Android/iOS/UWP and virtually all Xamarin targeted frameworks where you have EmbedIO serving the UI layer from embedded reso

[2018-08-04 18:41] geoperez commented on #181
The header thing is easy to do, you just need to implement a `WebModule` and register before any other module. The custom module will check the HTTP header and return false to continue the EmbedIO pipeline, otherwise return true and send an HTTP error.

You can even use the `FallbackModule` to achieve this behavior.

And yes, add the abstraction layer between WebServer and the HttpListener is not

[2018-08-10 11:49] felixerdy opened #183 "Modify Response Headers to enable caching"
**Describe the bug**
I'd like to modify the response headers to enable caching. Currently, all responses contain `Cache-Control: no-store, no-cache, must-revalidate`. I would like to have `Cache-Control: public` to enable caching.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
Browsers response header shows `Cache-Control: public`

**Actual behavior**
Browsers resp

[2018-08-10 13:51] geoperez commented on #183
Yes, the current implementation is always calling [NoCache](https://github.com/unosquare/embedio/blob/709a98ef0bd1306453d7ae4bab492e3b5047b762/src/Unosquare.Labs.EmbedIO/Modules/WebApiModule.cs#L770) before the WebAPI method.

I'm going to change the logic to set the NoCache after the WebAPI method, and only if there is no Cache-Control header yet.

Good catch!

[2018-08-12 03:05] geoperez commented on #183
Hi @felixerdy, I was thinking on this approach: https://github.com/unosquare/embedio/pull/184

Basically, you need to add to your controller the following method:

`public override void SetDefaultHeaders(HttpListenerContext context)`

And A) Add your default headers (like public cache) or B) Set nothing and allow setting cache per Web API Method.

Let me know what you think.

[2018-08-13 06:31] felixerdy commented on #183
👍 Yes I think that would be a good way

[2018-08-13 17:37] geoperez commented on #183
Please use the new version 1.6.0 (https://www.nuget.org/packages/EmbedIO/1.16.0)

Don't forget star this project 👍

[2018-08-15 05:44] felixerdy commented on #183
Works like a charme 🤗

Thanks for your work!

[2018-08-15 05:44] #183 closed

[2018-08-28 05:51] abuzaforfagun opened #187 "Add support to add constructor dependency injection"
First of all thank you for your great work.

Currently we need to add controller with no parameterized constractor. Last time I have worked to convert Web API 2 project to EmbedIO. And I found that, it need to initialize each and every dependency manually. And think, you need create an object of a class what need 2-3 complex object that need to be initialized manually too.
On the mean time, Web AP

[2018-08-29 16:44] geoperez commented on #187
EmbedIO is using [SWAN](https://github.com/unosquare/swan) and this library has a DI container, you may check it.

Anyway, I'm working on a refactor to improve our WebAPI module, and probably DI will be helpful now. In the following link, you can see how the Controller methods are simplified and the Controller constructor will inject the HttpContext, so include a DI container there will be probabl

[2018-09-01 22:01] JohnnyCrazy opened #188 "Unable to use .net standard API Controller from .net framework 4.6.1"
**Describe the bug**
So I'm trying to get a WebServer library project , which is based on `.NET Standard 2.0`, to work with a console project, which is based on` .NET Framework 4.6.1` running. However, I'm unable get back responses from the API controllers, while static resources work fine.

* **DOESN'T WORK**: `.NET Standard 2.0` library via `.NET Framework 4.6.1` console app.
* **WORKS**: `.NET

[2018-09-01 22:48] geoperez commented on #188
Can you upload a sample project? I'm not quite sure to understand the issue.

On Sat, Sep 1, 2018, 5:01 PM Jonas Dellinger <notifications@github.com>
wrote:

[2018-09-01 22:56] davenamic opened #189 "Request Method Middleware"
Does embedio support this type of middleware already? If so, how? ive searched quite a bit. Thanks.

// # Node.js, express
        app.get '*', (req,res,next) -> return next()

// C#
        [WebApiHandler(HttpVerbs.Get, "*")]
        public bool GET_MIDDLEWARE(WebServer srv, HttpListenerContext ctx)
        {
        	// Foward to SSL if on Clear Port
        	// Etc...
        	return false; //

[2018-09-01 23:00] geoperez commented on #189
Hi, instead of middleware I would suggest you to write a web module. You
can check them in the git repo.

On Sat, Sep 1, 2018, 5:56 PM davenamic <notifications@github.com> wrote:

[2018-09-02 15:45] geoperez commented on #188
Trying to reproduce the issue, I'm getting the following exception:

`
System.IO.FileNotFoundException
  HResult=0x80070002
  Message=Could not load file or assembly 'Unosquare.Swan.Lite, Version=0.33.4.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified.
  Source=Unosquare.Labs.EmbedIO
  StackTrace:
   at Unosquare.Labs.EmbedIO.WebServer.

[2018-09-02 21:17] JohnnyCrazy commented on #188
I created a small test project based on nuget packages here (uses 8080 as port and the `/` endoint): https://github.com/JohnnyCrazy/EmbedIOTestProject

You were right, I had to add the nuget package. But still, I was not able to reach the controller, always got a 404.

[2018-09-02 21:26] geoperez commented on #188
OK, let me take a look.

[2018-09-02 21:51] geoperez commented on #188
This is the issue:

`
16:44:17.476 ERR >> [WebServer] Failing module name: Web API Module
    $type           : System.InvalidCastException
    Message         :
        Unable to cast object of type 'Unosquare.Net.HttpListenerContext' to type 'System.Net.HttpListenerContext'.
    TargetSite      :
        System.Threading.Tasks.Task`1[System.Boolean] lambda_method(System.Runtime.CompilerServices.

[2018-09-02 21:54] #178 closed

[2018-09-02 21:54] #179 closed

[2018-09-02 21:55] geoperez commented on #189
May I close this issue?

[2018-09-02 22:02] JohnnyCrazy commented on #188
Oh okay, got it. is there any current workaround or do I have to wait till 2.0?

This would fix https://github.com/JohnnyCrazy/SpotifyAPI-NET/issues/279

[2018-09-02 22:06] geoperez commented on #188
The only workaround I can suggest, for now, it's to support NET46 as a target framework along with NET Standard 2.0 in your library.

[2018-09-02 22:37] JohnnyCrazy commented on #188
Alright, I will try that, thanks for your quick help and awesome library 👍

[2018-09-05 18:28] geoperez opened #190 "Update documentation"
**Describe the bug**
Update documentation with EmbedIO 2.0 new features.

[2018-09-05 18:29] geoperez opened #191 "Refactor WebSocket"
**Is your feature request related to a problem? Please describe.**
Current WebSocket code is messy.

**Describe the solution you'd like**
Implement new classes as WebSocketStream and FrameProcessor to reduce WebSocket responsibility.

[2018-09-07 14:45] deMichael opened #192 "Can't access the URL in an Xamarin.Forms Project"
Hello
I try to create a small app with xamarin forms and our awesome library. For a first try I created a console application with your example code
[code]
This console application works fine and I can access the website in a browser. Great so far.

After this I created a Xamarin.Forms application for iOS, Android and UWP. I used a similar code I only changed
`server.RegisterModule(new StaticFiles

[2018-09-07 15:54] geoperez commented on #192
Your application has to wait for incoming connections, usually when after `RunAsync` you need to keep your application alive (for example with `Console.ReadKey(true);` for console apps).

How are you handling this? Is the application still running when you open the browser?

[2018-09-07 17:31] SunnyTheBlue opened #193 "405 (Method Not Allowed)"
**Is your feature request related to a problem? Please describe.**
When client sends POST request with Authorization header, the client's method changes to OPTIONS and the server return's the 405 Method Not Allowed. But at the same time, when the client sends the POST request without any headers, server is returning Status 200 OK.

**Describe the solution you'd like**
When client will send POST re

[2018-09-07 17:40] geoperez commented on #193
What authorization module are you using?

[2018-09-07 17:42] SunnyTheBlue commented on #193
We are not using any modules, we are writing authorization header for the post request.

[2018-09-07 19:52] geoperez commented on #193
But where are you expecting to receive the POST? Are you using a WebAPI controller?

[2018-09-08 06:35] SunnyTheBlue commented on #193
[code]

Yes

[2018-09-10 10:16] deMichael commented on #192
Yes the application is still running because Embedio runs in the same application as the webview.

One try was to start the embedio server in a additional task and I keep the task in a hacky way
[code]
alive. (I'm new to C#)
The other try was to init and start embedio in the mainThread().

[2018-09-10 19:16] geoperez commented on #192
You can try to create a separated thread or task in your entry point or using the OnStart Method (https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/app-lifecycle).

[code]

[2018-09-10 19:39] geoperez commented on #193
I'm running EmbedIO Sample project and using the echo POST method from there I got no problems adding an authorization header:

![image](https://user-images.githubusercontent.com/1775792/45320056-2f6ef700-b507-11e8-85bc-d2bc310f25a0.png)

[2018-09-10 20:44] SunnyTheBlue commented on #193
Yes, if you send requests through Rested / Postman, then everything is fine, but if you send a query simply from the index.html or localhost & server file, then that problem, here is an example of sending, also tried through `fetch`

[code]

[2018-09-10 20:46] geoperez commented on #193
Is index.html in the same domain (localhost:8080)?

[2018-09-11 06:07] deMichael commented on #192
Thanks a lot. It works for UWP and iOS but in android it shows the connection refused message. I think the problem on android is not related to embedio and for that the issues can be closed and later I let you know what the problem was.

[2018-09-11 07:52] SunnyTheBlue commented on #193
No, API: 8080 & Index: 8181

Our API will stand on another server, and the site on the other.

[2018-09-11 12:52] geoperez commented on #192
Ok, thank you.

[2018-09-11 12:52] #192 closed

[2018-09-11 12:52] geoperez commented on #193
Ok, let me test with CORS then.

[2018-09-11 21:35] geoperez commented on #193
I found the issue, CORS module is not responding correctly.

[2018-09-12 14:49] geoperez commented on #193
Cool. Closing issue.

🌟  Please star this project if you find it useful!

[2018-09-12 14:49] #193 closed

[2018-09-18 13:39] #191 closed

[2018-09-18 13:44] deMichael commented on #192
@allistoncarlos sorry I had no time to work future to solve the problem.
Permission is a good point and I tried for that the each at its own (webview for internet access and file operations). I don't know which else could be needed.

[2018-09-18 13:50] geoperez commented on #192
I don't know if this is related but this blog post may explain something:

https://spin.atomicobject.com/2018/01/08/xamarin-forms-embedded-web-server/

[2018-09-19 12:13] allistoncarlos commented on #192
I've managed to resolve it! In my case, I've put the dist folder into Resources folder, same as the iOS project. But Android doesn't work that way, and then I've put the dist folder into Assets folder, making the app work as expected!

[2018-09-19 12:35] bufferUnderrun opened #195 "Need Help/Understanding"
Hi,

I need some help to understanding how Async works in the WebApi.

**1. Async : what's for ?**

In sync mode : the client (usually the browser) make a request and the server send its response. If the task take some time, the server will continue to process as long as the client keep connection. If too long (timeout 30sec by default), the server stop request and return error.

In Async mode :

[2018-09-19 14:51] geoperez commented on #192
Hello everybody, I will appreciate a sample project and/or some guidance on how to use Xamarin Forms to include in the repository.

Thank you!

[2018-09-19 15:06] geoperez commented on #195
Hi @bufferUnderrun, I will suggest checking the following blog post:
https://msdn.microsoft.com/en-us/magazine/jj991977.aspx

And some notes about EmbedIO design:

* Each incoming connection is handled by a task with `ConfigureAwait(false)`
* You can await any method in an async WebAPI, the initial idea to have async methods was to allow to write to the output stream asynchronously.
* Don't mix th

[2018-09-19 16:39] thipages opened #196 "C# Webbrowser component/embedio/php"
Hi,
We have a web site developped with php.
We would like to get a standalone (C#) application for Windows keeping the php code.

Do you think  we can use a c# application containing (only) a web browser component, calling php scripts with the help of embedio?

Thanks

[2018-09-19 17:02] geoperez commented on #196
That is an interesting question... You may need to create a `WebModule` or use the `FallbackModule` to redirect the HTTP Request to the PHP executable. That is easy and possible, but what I don't have an idea is how to pass the content of the PHP global vars like QueryString...

Something similar to this: https://stackoverflow.com/questions/942976/how-to-pass-get-and-post-data-to-the-php-executabl

[2018-09-19 17:05] thipages commented on #196
Ok, I will try, keep you informed

[2018-09-19 17:08] geoperez commented on #196
Try to use the `FallbackModule` first and probably you can run PHP exe with [SWAN ProcessRunner](https://github.com/unosquare/swan#the-processrunner-class). SWAN is an EmbedIO's dependency.

[2018-09-19 20:01] geoperez opened #198 "Create TestWebServer project"
Create TestWebServer project

[2018-09-20 17:10] geoperez opened #200 "Missing Unit Tests"
Missing Unit Tests

- [ ] HttpHandler.HandleClientRequest - Exception in WebModule
- [ ] HttpHandler.GetHandler - Invalid RoutingStrategy
- [ ] HttpListener.IgnoreWriteExceptions - Get
- [ ] FormDataParser.ParseAsDictionary - Content Type "multipart/form-data"
- [ ] FormDataParser.ParseAsDictionary - Request Body is empty
- [ ] FormDataParser.ParseAsDictionary  - Empty KeyValue
- [ ] Extensions.Ge

[2018-09-20 18:39] allistoncarlos commented on #192
I can help you with that @geoperez. I'll fork the project and by the end of the next week I can create something basic. And thank you, for the helpful project!

[2018-09-20 18:42] geoperez commented on #192
Cool, thank you!

[2018-09-20 19:09] #190 closed

[2018-09-25 19:53] geoperez opened #202 "Fix documentation website"
Fix documentation website

[2018-09-27 22:04] everedx commented on #188
![image](https://user-images.githubusercontent.com/10677399/46177129-034ac880-c2b2-11e8-9862-00bdf28451f9.png)

Got this error.

[2018-09-27 22:08] geoperez commented on #188
Can you elaborate how did you get the error?

[2018-09-28 19:39] geoperez commented on #195
Can I close this issue?

[2018-09-28 19:51] geoperez commented on #188
Working sample
[Sample.zip](https://github.com/unosquare/embedio/files/2429524/Sample.zip)

[2018-10-05 20:37] #195 closed

[2018-10-05 20:38] geoperez commented on #196
Any feedback?

[2018-10-09 13:37] bufferUnderrun commented on #195
Thanks for the pointer. A little less confuse for me.

[2018-10-10 14:23] bufferUnderrun opened #204 "Searching a way to communicate from restapi to websocket [help]"
Hi,

My web app is using 2 differents modules to allow user to do their work:
- a RestApi (webapi module) : for all actions
- a WebsocketServer (websocket module) : to get the number of running tasks (1min timer Broadcast).

When a user does some action via restapi, i would like to broadcast informations to all others users with the websocket connection.
So, is there a way to using the WebSocketsS

[2018-10-10 14:34] geoperez commented on #204
We usually add a singleton provider with methods and events. For example:

[code]
So the provider will keep track of exchange states between WebSocker and WebAPI.

[2018-10-10 16:11] bufferUnderrun commented on #204
that's simple, sometime i feel stupid. Need to breath fresh air.

Can close the issue.
Thanks

[2018-10-10 16:12] geoperez commented on #204
Heheh, don't worry!

[2018-10-10 16:12] #204 closed

[2018-10-15 22:10] ghiboz opened #205 "how can I pass a reference using WebApiHandler?"
**Describe the bug**
Hello!
congrats for this project: I have a question: how can I pass a reference of a class in `WebApiHandler`?
example: I need to connect to a `LiteDb` and get out the data...
here it works:

[code]

but I wish pass to the function or to the class a reference of the `Collection` for example..
how can I do this?

thanks

[2018-10-15 22:13] geoperez commented on #205
Do you mean passing a generic type to use in the generic method from
GetCollection?

On Mon, Oct 15, 2018, 5:10 PM Paolo Ghibaudo <notifications@github.com>
wrote:

[2018-10-15 22:16] ghiboz commented on #205
I wish for example pass somewhere the `litedb` reference:
like this pseudo-code:
[code]
this is just an example...

[2018-10-15 22:29] ghiboz commented on #205
thanks! I'll look..
but the `IHttpContext` what is?
'cause this example doesn't work..
[code]

[2018-10-15 22:46] geoperez commented on #205
It's because that code is for EmbedIO 2.0, you can use it, just change your
nuget client to include prereleases.

On Mon, Oct 15, 2018, 5:29 PM Paolo Ghibaudo <notifications@github.com>
wrote:

[2018-10-25 14:04] sonic1015 opened #207 "Xamarin.Forms Webview: ERR_CONNECTION_REFUSED trying to load local server"
**Describe the bug**
Android Webview can't connect to local host

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Xamarin Forms App
2. On first-time startup, Load Html files into local folder
3. Create and Start a local Server Using LocalSessionModule and StaticFilesModule
4. Create Webview with the local url as the source

**Expected behavior**
Web Page displays. This works on iOS a

[2018-10-25 14:15] geoperez commented on #207
Hello, did you check the issue #192? I'm expecting a sample project to include because a user was able to run it with Android.

[2018-10-25 14:20] sonic1015 commented on #207
I did, that's what helped me get as far as I did. He's also running the webpage out of Android_Assets, which isn't an option for me, I have to run it out of local storage (Not resource... although I did try to run it from Assets and it didn't work).

Would it help if I created a sample, even if it doesn't work on Android?

[2018-10-25 14:47] geoperez commented on #207
Yes please, it will help for understand the issue with Xamarin.

[2018-10-25 14:49] geoperez commented on #192
Hello @allistoncarlos , sorry for bother you, but did you get a chance to develop a working sample?

Another user is having issues with Android.

[2018-10-25 16:04] sonic1015 commented on #207
[bugRepo-3.zip](https://github.com/unosquare/embedio/files/2515831/bugRepo-3.zip)

Link to project: https://github.com/sonic1015/bugRepo/archive/3.zip

[2018-10-26 14:58] sonic1015 commented on #207
Managed to solve it: Apparently, Android has no concept of a "localhost", and you have to get the IP address (which is different between devices and emulators). So I used this code to get the IP Address:

[code]

And now Android Webview can find the local value.

[2018-10-26 14:58] #207 closed

[2018-10-26 15:01] geoperez commented on #207
Cool, I will include it with your sample and add it to the repo.

On Fri, Oct 26, 2018, 9:59 AM sonic1015 <notifications@github.com> wrote:

[2018-10-27 17:41] allistoncarlos commented on #192
@geoperez I'm really sorry, but I have to be honest: I completely forgot to implement the solution... The good news is that I'm finishing it right now! Do you have a sample dist folder for showing how to use Angular, or a simple index.html file is ok?

[2018-10-27 18:00] geoperez commented on #192
A simple index will be enough. Thanks

On Sat, Oct 27, 2018, 12:41 PM Alliston <notifications@github.com> wrote:

[2018-10-28 13:28] catara commented on #188
<img width="1680" alt="screenshot 2018-10-28 14 27 04" src="https://user-images.githubusercontent.com/1438420/47616496-c72ba300-dabd-11e8-8829-eacd95ad6d3e.png">
working?

[2018-10-28 20:56] allistoncarlos commented on #192
Thanks for the patience @geoperez, and sorry about the delay... I hope you like the project!

[2018-10-29 16:15] geoperez commented on #188
My bad, previous version. EmbedIO must be declared in the TheExe dependencies:

[Embedio.zip](https://github.com/unosquare/embedio/files/2526090/Embedio.zip)

[2018-10-29 16:18] geoperez commented on #192
Yes! Thank you! I just will add the fix for localhost with android (https://github.com/unosquare/embedio/issues/207#issuecomment-433437410)

[2018-10-31 18:29] #198 closed

[2018-10-31 18:32] geoperez commented on #188
@JohnnyCrazy can I close this issue?

[2018-11-01 12:54] JohnnyCrazy commented on #188
I will try to test it today and report back :+1:

[2018-11-03 20:42] JohnnyCrazy commented on #188
@geoperez I would gladly like to test it out, but as it seems right now, I won't get to it before monday in a week due my thesis deadline...If you are able to delay the release, I will gladly test it ASAP!

[2018-11-05 11:53] caverna commented on #183
@geoperez may I ask you to include this option also in WebApiController too?

[2018-11-05 14:04] geoperez commented on #183
Hello, the method SetDefaultHeaders is for WebApiController, just override it

[2018-11-05 18:35] geoperez commented on #188
Sure, no problem.

[2018-11-05 22:05] geoperez commented on #187
Status?

[2018-11-05 22:05] #189 closed

[2018-11-05 22:07] geoperez commented on #181
We already implemented an abstraction layer between WebServer and HttpListener.

[2018-11-30 23:16] mgpreston opened #214 "IPv6 Support"
Hello,

Thanks for the cool library! Is there any way to get it to listen on IPv6 addresses?

Using the `http://*:8080` form to listen on all addresses is hard-coded to use [`IPAddress.Any`](https://docs.microsoft.com/en-gb/dotnet/api/system.net.ipaddress.any), which only listens on IPv4 addresses. I'd need it to use [`IPAddress.IPv6Any`](https://docs.microsoft.com/en-gb/dotnet/api/system.net.ipad

[2018-12-01 00:00] geoperez commented on #214
I like the idea. Let me take a look.

On Fri, Nov 30, 2018, 5:17 PM Mark Preston <notifications@github.com wrote:

[2018-12-06 16:52] geoperez commented on #214
Hello @mgpreston,

Can you check the PR #215 ?

You can setup IPv6 in two ways:

Using new `EndPointManager.UseIpv6` will set `IPAddress.IPv6Any` for `*` hostname:

[code]

Or directly using the IPv6 address like the lookback:

[code]

[2018-12-08 04:57] mgpreston commented on #214
Hi @geoperez,

This is great, and should be exactly what I was looking for! Many thanks for the getting this done so quickly!

[2018-12-11 01:05] geoperez opened #216 "Fix net452 Sample"
From version 2.2 the minimum FX version will be 4.6.2

[2018-12-11 01:05] geoperez opened #217 "Support for SSL"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-12-11 01:05] #196 closed

[2018-12-11 01:06] #188 closed

[2018-12-11 01:06] #181 closed

[2018-12-11 08:51] kujablik opened #218 "Failing AuthModule.cs line 49"
**Describe the bug**
System.ArgumentException when I try to add Auth Header (AuthModule.cs Line 49)

**Expected behavior**
I replaced the line 49
context.Response.Headers.Add("WWW-Authenticate", "Basic realm=\"Realm\"");
by this code
context.Response.AddHeader("WWW-Authenticate", "Basic realm=\"Realm\"");
That's OK)

**Desktop (please complete the following information):**
 - OS: Win10
 - Browser

[2018-12-11 17:39] geoperez commented on #218
What framework target are you using?

[2018-12-11 23:32] geoperez commented on #214
You can use the new nuget v2.1.0.

Let me know if I can close this issue.

[2018-12-12 10:01] kujablik commented on #218
I tried NET47, 471, 472

[2018-12-12 17:38] geoperez commented on #218
Fixed! You can check the new nuget v2.1.1

Let me know if I can close this issue.

[2018-12-13 10:12] kujablik commented on #218
Thx! I've just tested. Close this issue.

[2018-12-13 14:43] #218 closed

[2018-12-17 17:35] nddipiazza opened #219 "Add an example of how serve files from API"
There is no example of how to use the embedded server API to send bytes (possibly a file, or something that is originating from an output stream).

Someone similarly was trying to figure this out here: https://github.com/unosquare/embedio/issues/107

Can we provide an example in the readme that shows how to do this?

Something like...

[code]
It's got to be a common use of this library, so someone

[2018-12-18 21:59] geoperez commented on #219
I'll add it to https://github.com/unosquare/embedio/wiki/Cookbook

[2018-12-22 18:00] JohnnyCrazy commented on #188
I know it's kinda old, but I successfully tested the last version and it seems to work fine 👍

Great work on this library BTW :)

[2018-12-22 18:14] geoperez commented on #188
Thanks.

[2018-12-25 02:40] Genteure commented on #217
Also client certificate support would be a (maybe not used too much but) cool feature to have.

https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslstream.remotecertificate
https://docs.microsoft.com/en-us/dotnet/api/system.net.httpwebrequest.clientcertificates
https://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_verify_client
https://blog.cloudflare.com/introducing-tls-clien

[2018-12-26 16:25] geoperez opened #220 "Support for Client Certificate"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-12-29 19:55] nddipiazza commented on #219
@geoperez here is an example project that uses it (that i created)
https://github.com/nddipiazza/SambaFetcher

if there are any issues with my usage, let me know,

[2018-12-30 02:42] nddipiazza opened #223 "please document how to get POST parameters from Unosquare.Labs.EmbedIO.IHttpContext"
is there any way to get the POST parameters from `Unosquare.Labs.EmbedIO.IHttpContext`?

if so, can you add it to the documentation?

[2018-12-31 13:57] geoperez commented on #223
I like your idea to include a better explanation of how to use Request/Response in several scenarios. I just need to finish the support for SSL and I'm going to continue with this task.

[2019-01-02 12:37] nddipiazza opened #224 "When multiple clients are used in parallel, EmbedIO has lots of read timeouts"
**Describe the bug**
When using EmbedIO with an http client with multiple parallel threads (5 threads in my case), you start getting read timeouts.

**To Reproduce**
1. launch this project https://github.com/nddipiazza/SambaFetcher
2. with multiple threads, access this service.
3. you will see many of the requests will work but many will return read timeouts.

**Expected behavior**
expected no rea

[2019-01-02 20:26] jpalcala opened #225 "Missing functionality on IHttpContext, IHttpRequest and IHttpResponse for ASP.NET Core"
**Is your feature request related to a problem? Please describe.**
In order to implement EmbedIO on ASP.NET Core as a custom server some things are missing and need to be implemented.

**Describe the solution you'd like**
Adding those properties into the specified interfaces would allow the integration with ASP.NET Core to be completed.

The missing functionality with their corresponding interface

[2019-01-02 23:33] k3z0 commented on #224
Hi @nddipiazza:

I just test you project running 500 simultaneous threads. Each one makes 10 call to the server and it seems to work properly. I even use the SmbServerModule with **info** action and a local path and I get the expected answer.

Could you please send us the test code you are running in order to get the error?

[2019-01-06 15:49] Unknown6656 commented on #214
@geoperez Hello Sir.
Using the line
[code]
the server will not be able to listen to IPv4 *and* IPv6. Is there a possible work-around (without creating two parallel servers)? Or is this a netsocket-restriction?

[2019-01-07 01:18] geoperez commented on #214
Did you test it? I need to verify that because the value is set `IPAddress.IPv6Any` instead of  `IPAddress.Any` but I don't know if that value ignores ipv4.

[2019-01-08 09:21] Unknown6656 commented on #214
Yes I did test it. The server responds to `[::1]` but not to `127.0.0.1`.
It obviously responds to `localhost`, as this address will be resolved to `[::1]` and `127.0.0.1`.

[2019-01-08 11:20] bufferUnderrun opened #227 "Regex Routing Strategy with multiple parameters and one optional"
**Describe the bug**
When using regex routing statregy with multiple parameters and the last one optionnal, the method is not invoked.

**To Reproduce**
Steps to reproduce the behavior:

1. Define a webapi method with 2 parameters, one mandatory, one optional.

[code]

2. Then when calling this webapi (without the last parameter and so without a trailing slash) `GET : order/form/1234`
4. Error 404

[2019-01-08 13:48] geoperez commented on #227
If you have only one optional parameter, is it working fine?

[2019-01-08 13:49] geoperez commented on #214
I'll add the option to bind IPv4 too when the flag UseIpv6 is set.

[2019-01-08 13:53] geoperez commented on #225
You can find the new properties at the master branch.

[2019-01-08 13:53] #225 closed

[2019-01-08 13:54] geoperez commented on #224
Status?

[2019-01-08 13:58] bufferUnderrun commented on #227
Absolutely : when just one optional parameter (ie: `"order/form/{id?}"`) it works fine.

[2019-01-08 15:34] nddipiazza commented on #224
Just did a big test on this. And I conclude that it was actually my http client that was the problem. Invalid issue, please close. thank you!
your embedded web server kicks ass. i hope my example proves useful for documentation

[2019-01-08 15:34] #224 closed

[2019-01-08 20:23] Unknown6656 commented on #214
Thank you very much, Sir.

... And I wanted to append my awe for your project. It is a wonderful library and absolutely fantastic!

[2019-01-11 20:47] geoperez commented on #214
Please try using the following prerelease nuget:

https://www.nuget.org/packages/EmbedIO/2.2.0-pre1

[2019-01-11 22:09] geoperez commented on #219
I'm adding some extension methods for `IHTTPContext`: https://github.com/unosquare/embedio/commit/4502addea9eb2d27f30292b75011ec08375f9f0f#diff-278c2d69bf0c1601ce3d9801fd9ce798R456

What do you think?

[2019-01-12 09:59] MajidSafari opened #229 "Post, and getvalue"
can use " WorkBook([FromPost("datevalue")] int dateValue "

for post ????

` public class WorkBookStudentController : WebApiController
    {
        public WorkBookStudentController(IHttpContext context): base(context)
        {
        }

        [WebApiHandler(HttpVerbs.Post, "/WorkBookPdfStudent")]
        public bool WorkBook([FromPost("datevalue")] int dateValue, [FromPost("counter")] int cou

[2019-01-12 15:44] Unknown6656 commented on #214
I have not been able to try the build `2.2.0-pre1`, as the server always throws an (internally catched) exception upon any incoming web request (without changing the code, which runs perfectly under `2.1.1`).
The exception is identical to the issue #118.

[2019-01-12 15:49] geoperez commented on #214
Can you share your code?

[2019-01-12 17:10] geoperez commented on #214
You are right, there is an issue with closing the connection properly that I introduced in the HTTPS support.

[2019-01-12 21:46] Unknown6656 commented on #214
~Well .... I could try to share the code, but it is an enormous codebase on my side and I am not quite sure which part could be the issue....~

OK that may explain it..

[2019-01-12 23:00] geoperez commented on #229
EmbedIO WebAPI is similar to ASP.NET Core WebAPI but is not the same. The attributes like `FromPost` are not available.

You can pass only route params in the method signature, if you need body params (from POST) you need to use the extension method `ParseJson` of `IHttpContext`. And you can access the headers directly from `IHttpContext.Request`.

[2019-01-14 15:35] geoperez commented on #214
Hello @Unknown6656 , can you test with this version please?

https://www.nuget.org/packages/EmbedIO/2.2.0-pre2

[2019-01-14 16:25] kadosh opened #230 "Add friendly SPA routes support"
When dealing with SPA inside embedio, it is required a way to redirect all Frontend routes to the entry point of the app. Although Current Fallback module is redirecting routes properly, it is just doing an HTTP Redirect without actually preserving original URL

**For instance**
Given:
- SPA at /
- Some module at /module1

If you try to access /module1 (direct URL), embedio should let SPA deal wit

[2019-01-15 09:08] Unknown6656 commented on #214
I have tested you package, however, I receive the same exceptions .....
I will try to create a secondary project later today in order to trace down the exact error source

[2019-01-15 15:58] geoperez commented on #230
You can check this version:

https://www.nuget.org/packages/EmbedIO/2.2.0-pre3

And use the Fallback module constructor with a FileInfo argument.

[2019-01-15 15:58] #229 closed

[2019-01-15 16:01] geoperez commented on #214
I released another version:

https://www.nuget.org/packages/EmbedIO/2.2.0-pre3